@font-face {
  font-family: "iconfont"; /* Project id 3030024 */
  src: url('iconfont.woff2?t=1639965084413') format('woff2'),
       url('iconfont.woff?t=1639965084413') format('woff'),
       url('iconfont.ttf?t=1639965084413') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weixing:before {
  content: "\e606";
}

.icon-weixing1:before {
  content: "\e60f";
}

.icon-renjijiaohuD-sanweisuofang:before {
  content: "\e6e2";
}

.icon-weixing-A:before {
  content: "\e616";
}

.icon-sanwei:before {
  content: "\e626";
}

.icon-sanwei1:before {
  content: "\e879";
}

.icon-weixingguidao:before {
  content: "\e62e";
}

