<template>
  <button :class="['btn',type]" v-bind="$attrs" v-on="$listeners">{{title}}</button>
</template>

<script>
export default {
  name:'myBtn',
  props:['title','type']
}
</script>

<style scoped>
  .btn{
    display: inline-block;
    padding: 0 6px;
    border-radius: 3px;
    border: none;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    color: white;
    cursor:pointer
  }
  .primary{
    background: #409eff;
  }
  .delete{
    background: #909399;
  }
  .success{
    background: #79cb50;
  }
  .create{
    width: 80px;
    font-size: 18px;
    background: transparent;
    border: 2px solid #09569a;
  }
</style>