<template>
  <div class="cardContainer">
    <div class="cardTitle">{{ title }}</div>
    <div class="textWrap">
      <div class="textBox">
        <div>
          <!-- <table id="ctrl-dataTable">
            <tr v-for="(items, index) in teleMetryLogoInfo" :key="index">
              <td v-for="(item, index) in items" :key="index">
                <div><span>指令：{{item.name}}</span> <span>{{item.value}}发送</span></div>
              <br>
              </td>
            </tr>
          </table> -->
          <div v-if="title == '遥测信息'" class="ctrl-dataTable">
            <div v-for="(items, index) in teleMetryLogoInfo" :key="index">
              <div v-for="(item, index) in items" :key="index">
                <div><span>{{item.value}} &nbsp;&nbsp;</span><span>{{item.name}} 包&nbsp;&nbsp;</span><span>发送成功</span></div>
              </div>
              <a-divider />
            </div>
          </div>
          <div v-if="title == '遥控信息'" class="ctrl-dataTable">
            <div v-for="items in teleConLogoInfo" :key="items.index">
              <div v-for="item in items" :key="item.index">
                <div><span>{{item.name}} </span> <br><span>{{item.nowTime}} </span><br><span>{{item.dataType == 'outside'?'指令接收成功':'指令发送成功'}}</span></div>
              </div>
              <a-divider />
            </div>
          </div>
          <div v-if="title == '故障信息'" class="ctrl-dataTable">
            <div v-for="item in faultLogoInfo" :key="item.index">
              <!-- <div v-for="item in items" :key="item.index"> -->
                <div><span>{{item.故障详情}} &nbsp;发送成功&nbsp;&nbsp;</span><span>代号:{{item.故障代号}} &nbsp;&nbsp;</span>
                  <!-- <span>{{item.影响范围}}秒后恢复</span> -->
                </div>
              <!-- </div> -->
              <a-divider />
            </div>
          </div>
        </div>
      </div>
      <div class="cardBtn">
        <a-select
          show-search
          :show-arrow="false"
          mode="default"
          :allowClear="true"
          :dropdownMatchSelectWidth="false"
          style="width: 34%"
          placeholder="请输入查询信息"
          @change="onChange"
          :disabled="selectDisAbled"
        >
          <a-select-option
            v-for="i in serachData"
            class="selectOption"
            :label="i"
            :key="i"
          >
            {{ i }}
          </a-select-option>
        </a-select>
        <a-button
          style="margin: 0 0 0 10px; vertical-align: middle"
          v-if="isReceive"
          size="small"
          :disabled="!$parent.isTCchecked"
          @click="recriveTC"
          >接收</a-button
        >
        <a-button
          v-if="isSendMsg"
          style="margin: 0 10px; vertical-align: middle"
          type="primary"
          size="small"
          @click="reqExcelFile('open')"
          >发送</a-button
        >
        <a-button
          style="margin: 0 10px; vertical-align: middle"
          type="primary"
          size="small"
          v-else
          @click="reqExcelFile('stop')"
          >暂停</a-button
        >
        <span v-if="isControl">
          发送间隔(ms)：<a-input-number
            style="
              width: 18%;
              height: 24px;
              line-height: 24px;
              vertical-align: middle;
            "
            id="inputNumber"
            v-model="sendInterval"
            :min="100"
            :disabled="inputNumDisabled"
          />
        </span>
      </div>
    </div>
  </div>
</template>

<script>
import XLSX from "xlsx";
import req from "@/network/index";
export default {
  name: "Crad",
  data() {
    return {
      isSendMsg: true,
      resultArea: false,
      logoData: null,
      // 接收的日志数据
      logoInfo: [],
      logoInfoPrint: null,
      sendInterval: 1000,
      telemetrySelectItemName: "",
      selectOptionOpen: false,
      // 当前选项值
      currentI: null,
      // blob类型数据
      workbookBlob: null,
      // 待发送数据
      formData: null,
      // 数据发送状态
      DataSend: false,
      FPDataSend:false,
      // 选择器是否可用
      selectDisAbled:false,
      // 数字输入框是否可用
      inputNumDisabled:false,
      // 遥测计划文件名
      currentTeleMetryPlanName:'',
      // 遥测计划历史文件名
      TMplanNameList:[],
      // 故障计划历史文件名
      FPNameList:[],
      tempFPSendData:{},
      // 遥控计划指令源码数据
      teleConPlanData:[],
      // 遥控信息日志
      teleConLogoInfo:[],
      TeleConInfoCache:[],
      // 故障日志
      faultLogoInfo:[],
      faultPlanName:'',
    };
  },
  props: [
    "title",
    "isReceive",
    "isControl",
    "searchMethod",
    "serachData",
    'teleMetryLogoInfo',
    'teleControlLogoInfo',
  ],
  mounted() {
    if(this.title == '遥测信息'){
      this.getTMHistoryPlan()
    }
  },
  methods: {
    // 接收外部遥控信息
    recriveTC(){
      let outData = {
        TelecontrolIP:this.$parent.ipTC,
        TelecontrolPort:this.$parent.portTC,
        SimulationIP:this.$parent.ipTM,
        SimulationPort:this.$parent.portTM,
      }
      req({
        method: "post",
        url: "/telecontrol/uploadIPAndPort",
        data: outData,
      }).then((res) => {
        if (res.data.code == "200") {
          this.$message.success('正在接收外部遥控!')
          // that.sendMsg(type)
        }else{
          this.$message.error('遥控外部发送失败!')
        }
      })
    },
    // 获取历史遥测计划文件列表
    async getTMHistoryPlan() {
      console.log(this.serachData)
      let that = this
      // that.TMplanNameList = []
      let res = await req({
        method: "get",
        url: "/getExcelFilePath",
      })
      // ((res) => {
        console.log(res.data)
      if (res.data.code == "200") {
        console.log("遥测历史文件获取成功");
        let result = res.data.data;
        for (let item of result) {
          let a = item.split(".")[0];
          that.TMplanNameList.push(a)
          if(that.serachData.indexOf(a) == -1){
            that.serachData.unshift(a)
          }
        }
        this.$parent.getFPHistoryPlan()
      } else {
        console.log("遥测历史文件获取失败");
      }
      // });
      // console.log(this.teleMetryPlanName)
    },
    // 搜索框输入回调 数据转换为待发送类型
    async onChange(name) {
      if(!name){
        return
      }
      if (this.title == "遥测信息") {
        if(this.TMplanNameList.indexOf(name) != -1){
          // 发送的计划为历史计划
          console.log('历史计划')
          let planName = name+'.xlsx'
          let result = await this.request({
            method: "get",
            url: "/downloadExcelFile",
            params:{fileName:planName},
            responseType: 'blob'
          });
          console.log(result)
          if ((result.status == 200)) {
            console.log(result.data)
            // const blob = new Blob([result.data],{type:"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"}) 
            const blob = new Blob([result.data],{type:"application/vnd.ms-excel"}) 
            console.log(blob)
            var wb = XLSX.read(await blob.arrayBuffer(), { type: "array" });
            console.log(wb)
            this.workbookBlob = this.workbook2blob(wb);
          }
        }else{
          this.currentTeleMetryPlanName = name
          this.DataSend = false
          // let data = JSON.parse(sessionStorage.getItem(name));
          let teleMetryUploadFile = JSON.parse(sessionStorage.getItem('TM'+name));
          let renderColumn = JSON.parse(sessionStorage.getItem("renderColumn"));
          let telemetryClassName = JSON.parse(
            sessionStorage.getItem("telemetryClassName")
          );

          let header = [];
          for (let item in this.renderColumn) {
            header.push(item);
          }
          // 按beginIndex从小到大排序
          for (let item in teleMetryUploadFile) {
            teleMetryUploadFile[item].sort(this.sortData);
            console.log(teleMetryUploadFile[item]);
          }
          for (let key in teleMetryUploadFile) {
            teleMetryUploadFile[key].push(renderColumn);
          }
          let sheets = [];
          for (let item in teleMetryUploadFile) {
            sheets.push(
              XLSX.utils.json_to_sheet(teleMetryUploadFile[item], {
                header: header,
              })
            );
          }
          var wb = XLSX.utils.book_new();
          let i = 1;
          for (const item of sheets) {
            XLSX.utils.book_append_sheet(wb, item, telemetryClassName[i]);
            i++;
          }
          console.log(wb);
          this.workbookBlob = this.workbook2blob(wb);
          // this.openDownloadDialog(this.workbookBlob, this.currentTeleMetryPlanName+".xlsx");
          // this.blob2Formdata(workbookBlob);
          // data中生成FormData数据
        }
      }else if(this.title == "遥控信息"){
        // console.log(name)
        this.TeleConInfoCache = []
        let data = []
        let teleConPlanData = JSON.parse(sessionStorage.getItem(name))
        for (let item in teleConPlanData) {
          this.TeleConInfoCache.push({name:item})
          data.push(teleConPlanData[item])
        }
        this.teleConPlanData = data
      }else if(this.title == "故障信息"){
        this.faultPlanName = name
        if(this.$parent.FPNameList.indexOf(name) != -1){
          // 发送历史故障计划
          let data = name+'.json'
          req({
            method: "get",
            url: "/downloadJsonFile",
            params: {fileName:data},
          }).then((res) => {
            console.log(res)
            if (res.data) {
              this.tempFPSendData = res.data
              console.log("故障历史计划文件数据获取成功");
              this.FPDataSend = true; //故障计划数据状态标记为历史
              console.log(this.tempFPSendData)
            } else {
              console.log("故障历史计划文件数据获取失败");
            }
          });
        }else{
          // 发送的是本地故障计划
          this.FPDataSend = false
        }
      }
    },
    // 用于导出文件
    openDownloadDialog(blob, fileName) {
      if (typeof blob == "object" && blob instanceof Blob) {
        blob = URL.createObjectURL(blob); // 创建blob地址
      }
      var aLink = document.createElement("a");
      aLink.href = blob;
      // HTML5新增的属性，指定保存文件名，可以不要后缀，注意，有时候 file:///模式下不会生效
      aLink.download = fileName || "";
      var event;
      if (window.MouseEvent) event = new MouseEvent("click");
      aLink.dispatchEvent(event);
    },
    // 生成算法文件请求
    startOrStopSendMsg(type) {
      if (this.title == "遥测信息") {
        if(!(sessionStorage.getItem('TMframeData') && sessionStorage.getItem('TMpackgeData'))){
          this.$message.warning("请修改帧包数据结构后重试。")
          return
        }else{
          this.sendMsg(type)
        }
      }
    },
    sendMsg(type){
      let data = {
        switchStatus: type == "open" ? true : type == "stop" ? false : "",
        waitMillis: this.sendInterval,
      };
      req({
        method: "get",
        url: "/startOrStop",
        params: data,
      }).then((res) => {
        if (res.data.code == "200") {
          if (type == "open") {
            console.log("正在生成算法");
            this.$parent.showDownLink = true
            // this.$parent.showUpLink = false
            this.selectDisAbled = true
            this.inputNumDisabled = true
            this.DataSend = true; //数据状态标记为已发送
          } else if (type == "stop") {
            this.$parent.showDownLink = false
            // this.$parent.showUpLink = true
            this.selectDisAbled = false
            this.inputNumDisabled = false
            console.log("暂停生成算法");
          }
          this.isSendMsg = !this.isSendMsg;
        } else {
          console.log("生成算法失败");
        }
      });
    },
    // 遥测计划数据转Formdata
    blob2Formdata(e) {
      // return
      const reader = new FileReader();
      // reader.readAsArrayBuffer(e.target.files[0]);
      reader.readAsArrayBuffer(e);
      // 读取完成时的回调
      reader.onload = function (e) {
        console.log(e);
        const excelFile = e.target.result;
        // console.log(excelFile);
        this.formData = new FormData();
        this.formData.append(
          "multipartFile",
          new Blob([excelFile]),
          "遥测计划.xlsx"
        );
        console.log(this.formData);
        console.log("生成formData");
      };
    },
    workbook2blob(workbook) {
      // 生成excel的配置项
      var wopts = {
        // 要生成的文件类型
        bookType: "xlsx",
        bookSST: false,
        type: "binary",
      };
      var wbout = XLSX.write(workbook, wopts);
      // 将字符串转ArrayBuffer
      function s2ab(s) {
        var buf = new ArrayBuffer(s.length);
        var view = new Uint8Array(buf);
        for (var i = 0; i != s.length; ++i) view[i] = s.charCodeAt(i) & 0xff;
        return buf;
      }
      console.log(s2ab(wbout));
      let blob = new Blob([s2ab(wbout)], {
        type: "application/json",
      });
      console.log("生成blob");
      return blob;
    },
    // 点击开始按钮 发送遥测计划并生成算法文件
    reqExcelFile(type) {
      let that = this
      if(this.title=='遥测信息'){
      if (!this.DataSend) {
        //先发送数据后生成算法
        let e = this.workbookBlob;
        const reader = new FileReader();
        // reader.readAsArrayBuffer(e.target.files[0]);
        reader.readAsArrayBuffer(e);
        reader.onload = function (e) {
          const excelFile = e.target.result;
          console.log(excelFile)
          let formData = new FormData();
          formData.append(
            "multipartFile",
            new Blob([excelFile]),
            that.currentTeleMetryPlanName+".xlsx"
          );
          req({
            method: "post",
            url: "/uploadExcelFile",
            data: formData,
            headers: {
              "Content-Type": "multipart/form-data",
            },
          }).then((res) => {
            console.log(res);
            if (res.data.code == "200") {
              console.log("遥测计划上传成功");
              if(sessionStorage.getItem("TMframeData") && sessionStorage.getItem('TMpackgeData')){
                that.uploadFrameAndPackage(type)
              }else{
                // 生成算法文件请求
                that.startOrStopSendMsg(type);
              }
            } else {
              that.$message.error("遥测计划上传失败");
            }
          });
        };
      } else if (this.DataSend) {
        this.startOrStopSendMsg(type);
      }
      }else if(this.title=='遥控信息'){
        req({
            method: "post",
            url: "/telecontrol/sendTelecontrolMessage",
            data: that.teleConPlanData,
            headers: {
              "Content-Type": "application/json",
            },
          }).then((res) => {
            console.log(res);
            if (res.data.code == "200") {
              this.$parent.showUpLink = true
              setTimeout(() => {
                this.$parent.showUpLink = false
              }, 4000);
              let nowTime = this.getCurrentTime()
              for (let item of this.TeleConInfoCache) {
                item.nowTime = nowTime
                console.log(item)
              }
              this.teleConLogoInfo.unshift(this.TeleConInfoCache)
              console.log("遥控计划上传成功");
            } else {
              console.log("遥控计划上传失败");
            }
          });
      }else if(this.title=='故障信息'){
        let data = {}
        let breakInfo = []
        if(this.FPDataSend){
          breakInfo = this.tempFPSendData
          data.faultTime = this.tempFPSendData.breakData.影响范围*1000
          data.packageId = []
          this.tempFPSendData.currentRes.forEach((item)=>{
            data.packageId.push(item.响应内容)
          })
        }else{
          let breakInfo = JSON.parse(sessionStorage.getItem('FP'+this.faultPlanName))
          data = breakInfo.sendMsg
        }
        console.log(data)
        req({
          method: "post",
          url: "/reportFault",
          data: data,
          headers: {
            "Content-Type": "application/json",
          },
        }).then((res) => {
          console.log(res);
          if (res.data.code == "200") {
            console.log(breakInfo)
            
            this.faultLogoInfo.push(breakInfo.breakData)
            console.log("故障计划上传成功");
          } else {
            console.log("故障计划上传失败");
          }
        });
      }
    },
    // 上传自定义帧包结构
    uploadFrameAndPackage(type){
      let that = this
      let customHead = {}
      customHead.frameStructure = JSON.parse(sessionStorage.getItem('TMframeData'))[0]
      customHead.packageStructure = JSON.parse(sessionStorage.getItem('TMpackgeData'))[0]
      console.log(customHead)
      req({
        method: "post",
        url: "/uploadFrameAndPackage",
        data: customHead,
        // headers: {
        //   "Content-Type": "multipart/form-data",
        // },
      }).then((res) => {
        console.log(res);
        if (res.data.code == "200") {
          console.log("自定义帧包结构上传成功");
          that.startOrStopSendMsg(type);
        } else {
          that.$message.error("自定义帧包结构上传失败");
        }
      });
    },
    getCurrentTime() {
      var date = new Date();
      var h = date.getHours() + " : ";
      var m =date.getMinutes() < 10
          ? "0" + date.getMinutes() + " : "
          : date.getMinutes() + " : ";
      var s = date.getSeconds() < 10?'0' + date.getSeconds()+" . ":date.getSeconds() + " . ";;
      var ms = date.getMilliseconds()
      return h + m + s + ms;
    },
    // 数据排序方法
    sortData(a, b) {
      undefined;
      return a.beginIndex - b.beginIndex;
    },
  },
};
</script>

<style scoped>
::v-deep .ant-select-selection--multiple {
  min-height: 24px;
  height: 24px;
  padding-bottom: 0px;
}
::v-deep .ant-select {
  /* position:absolute;
  left:0px; */
  height: 24px;
  bottom: -3px;
}
::v-deep .ant-input-number-input {
  height: 24px;
  line-height: 24px;
}
::v-deep .ant-select-selection__rendered {
  line-height: 24px;
}
/* ::v-deep .ant-select-selection--multiple > ul > li{ */
::v-deep
  .ant-select-selection--multiple
  .ant-select-selection__rendered
  > ul
  > li {
  height: 24px;
  margin: 0px;
  line-height: 24px;
}
::v-deep .ant-select-selection--single {
  height: 24px;
}
::v-deep .ant-select-dropdown-menu-item {
  display: flex;
  justify-content: space-between;
}
::v-deep
  .ant-select-dropdown-menu-item-active:not(.ant-select-dropdown-menu-item-disabled) {
  display: flex;
  justify-content: space-between;
}
::v-deep .ant-divider-horizontal{
      margin: 2px 0;
}
.cardContainer {
  width: 100%;
  height: 100%;
  border: 2px solid #31d4f5;
  background: linear-gradient(180deg, #103c70 0%, #081e38 100%);
}
.cardContainer .cardTitle {
  width: 100%;
  height: 10%;
  color: #ffffff;
  font-size: 16px;
  font-family: Source Han Sans CN;
  font-weight: bold;
  /* background: rgb(15, 15, 15); */
  vertical-align: middle;
  padding-left: 10px;
  /* border-bottom: 1px solid black; */
}
.cardContainer .textWrap {
  width: 100%;
  height: 90%;
  padding: 8px 16px;
  /* background: rgb(1, 45, 86); */
}
.cardContainer .textWrap .textBox {
  width: 100%;
  height: 84%;
  color: #ffffff;
  overflow: auto;
  /* background: #16181c; */
  border: none;
  opacity: 0.8;
}
/* 滚动条样式 */
.cardContainer .textWrap .textBox::-webkit-scrollbar {
  width: 2px;
}
.cardContainer .textWrap .textBox::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 10px rgb(180, 180, 180);
}
.cardContainer .textWrap .textBox::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 10px rgb(53, 49, 49);
}
.cardContainer .textWrap .cardBtn {
  width: 100%;
  margin-top: 8px;
  color: white;
  position: relative;
}
/* .cardContainer .textWrap .cardBtn .selectOption {
  width: 100%;
  overflow-x:visible;
  display: flex;
  justify-content: space-between;
  align-items: center;
} */
.cardContainer .textWrap .cardBtn .popConfirm {
  z-index: 10;
  width: 100%;
}
.cardContainer .textWrap .cardBtn .searchInput {
  width: 40%;
  height: 100%;
  vertical-align: middle;
  background: transparent;
  background-color: transparent;
}
/* 修改输入框的背景色 */
.cardContainer .textWrap .cardBtn .searchInput .ant-input {
  background: transparent;
  background-color: transparent;
  border-color: #37393d;
  color: #ffffff;
}
.cardContainer .textWrap .cardBtn .searchInput:focus {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 2px;
}
/* 修改删除图标的背景色 */
.cardContainer .textWrap .cardBtn .searchInput .anticon {
  color: #ffffff;
}
</style>
