<template>
  <div class="topTime" v-if="currentTime">
    {{ currentTime }} 
  </div>
</template>

<script>
export default {
  data() {
    return {
      currentTime: null,
      updateTime: null,
    };
  },
  created() {
    // 获取当前时间显示
    this.updateTime = setInterval(() => {
      this.currentTime = this.formatTime("YYYY-mm-dd HH:MM:SS", new Date());
    }, 1000);
  },
  methods: {
    formatTime(fmt, date) {
      let ret;
      const opt = {
        "Y+": date.getFullYear().toString(), // 年
        "m+": (date.getMonth() + 1).toString(), // 月
        "d+": date.getDate().toString(), // 日
        "H+": date.getHours().toString(), // 时
        "M+": date.getMinutes().toString(), // 分
        "S+": date.getSeconds().toString(), // 秒
        // 有其他格式化字符需求可以继续添加，必须转化成字符串
      };
      for (let k in opt) {
        ret = new RegExp("(" + k + ")").exec(fmt);
        if (ret) {
          fmt = fmt.replace(
            ret[1],
            ret[1].length == 1 ? opt[k] : opt[k].padStart(ret[1].length, "0")
          );
        }
      }
      return fmt;
    },
  },
  beforeDestroy() {
    clearInterval(this.updateTime);
  },
};
</script>

<style>
.topTime {
  position: absolute;
  top: 35px;
  left: 4px;
  line-height: 20px;
  font-size: 17px;
  color: rgb(0, 255, 21);
}
</style>
