<template>
  <div class="fullScreenBtn">
    <a-icon
      type="fullscreen"
      v-if="!isFullScreen"
      @click="this.requestFullScreen"
    />
    <a-icon
      type="fullscreen-exit"
      v-if="isFullScreen"
      @click="this.exitFullscreen"
    />
  </div>
</template>

<script>
export default {
  name: "FullScreen",
  data() {
    return {
      // 控制全屏按钮显示隐藏
      isFullScreen: false,
    };
  },
  methods: {
    //进入全屏
    requestFullScreen() {
      var de = document.documentElement;
      if (de.requestFullscreen) {
        de.requestFullscreen();
      } else if (de.mozRequestFullScreen) {
        de.mozRequestFullScreen();
      } else if (de.webkitRequestFullScreen) {
        de.webkitRequestFullScreen();
      }
      this.isFullScreen = true;
    },
    //退出全屏
    exitFullscreen() {
      var de = document;
      if (de.exitFullscreen) {
        de.exitFullscreen();
      } else if (de.mozCancelFullScreen) {
        de.mozCancelFullScreen();
      } else if (de.webkitCancelFullScreen) {
        de.webkitCancelFullScreen();
      }
      this.isFullScreen = false;
    },
  },
};
</script>

<style>
.fullScreenBtn {
  position: absolute;
  font-size: 30px;
  right: 18px;
  bottom: 10px;
}
</style>
