<template>
  <!-- 头部 -->
  <div class="topBar">
    <CurrentTime></CurrentTime>
    <div class="tabBtn" v-show="!isShowTabBar" @click="showTabBar">
      <a-icon type="unordered-list" /><span>卫星控制中心系统</span>
    </div>
    <div class="title">{{ title }}</div>
    <UserInfo/>
  </div>
</template>

<script>
import UserInfo from "@/components/layout/userInfo.vue";
import CurrentTime from "@/components/layout/currentTime";
export default {
  name: "TopHead",
  props: ["isShowTabBar", "showTabBar", "title"],
  components: { CurrentTime, UserInfo },
  methods: {
    handleMenuClick(e) {
      console.log("退出登录", e);
    },
  },
};
</script>

<style>
/* .ant-dropdown-link {
  background: #c2bf2f;
  height: 30px;
  line-height: 30px;
} */
.topBar {
  width: 100%;
  /* height: 10%; */
  background-image: url("~@/assets/img/satSimulation/topbar.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: center; /*实现水平居中*/
  align-items: center; /*实现垂直居中*/
}
.topBar .tabBtn {
  padding: 5px 5px;
  position: absolute;
  cursor: pointer;
  left: 0;
  top: 0;
}
.topBar .title {
  font-size: 38px;
  font-family: Microsoft YaHei;
  font-weight: bold;
  color: #00e4ff;
  text-align: center;
  padding-bottom: 19px;
}
/* .topBar .userInfo {
  position: absolute;
  top: 4px;
  right: 18px;
} */
</style>
