<template>
  <div class="userInfo">
    <a-dropdown>
      <a class="ant-dropdown-link" @click="(e) => e.preventDefault()">
        <a-icon type="user" />&nbsp;Admin
      </a>
      <a-menu slot="overlay">
        <a-menu-item key="1" @click="logOut">退出登录</a-menu-item>
      </a-menu>
    </a-dropdown>
  </div>
</template>

<script>
export default {
  methods: {
    // handleButtonClick(e) {
    //   console.log("click left button", e);
    // },
    handleMenuClick(e) {
      console.log("退出登录", e);
    },
    logOut(){
      this.$message.success('退出登录')
    }
  },
};
</script>

<style>
.userInfo {
  font-size: 17px;
  position: absolute;
  top: 4px;
  right: 18px;
  z-index: 20;
}
</style>
