$vxe-table-border-color: #1e96ce;
$vxe-table-header-background-color: transparent !default;
$vxe-table-body-background-color: transparent !default;
// $vxe-table-row-hover-current-background-color: #1e96ce !default;
$vxe-table-row-current-background-color: #0886c0 !default;
@import "vxe-table/styles/index.scss";


