<template>
  <div class="breakDownWrap" ref="container">
    <TopHead
      :title="title"
      :isShowTabBar="isShowTabBar"
      :showTabBar="showTabBar"
    ></TopHead>
    <!-- 故障分类 -->
    <div class="dataList">
        <a-menu
          style="width: 100%"
          :open-keys.sync="openKeys"
          mode="inline"
          theme="dark"
        >
          <!-- 故障类型 -->
          <a-sub-menu key="sub1">
            <span slot="title"
              ><a-icon type="setting" /><span>故障类型</span></span
            >
            <a-menu-item
              class="menuItem"
              v-for="item in breakType"
              :key="item"
              @click="selectType(item)"
              >{{ item }}
                <a-popconfirm
                  :title="'确认删除' + item + '吗?'"
                  ok-text="确认"
                  cancel-text="取消"
                  @confirm="removeType(item)"
                >
                  <a-icon
                    type="close-circle"
                    style="position: absolute; right: 2px"
                  />
                </a-popconfirm>
              </a-menu-item
            >
            <a-menu-item class="newOrder" @click="creatNewFault">
              <div>+ 新增故障类型</div>
            </a-menu-item>
          </a-sub-menu>
          <!-- 故障详情 -->
          <a-sub-menu key="sub2">
            <span slot="title" class="menuTop"
              ><a-icon class="menuTitle" type="setting" /><span
                class="menuTitle"
                >故障详情</span
              ></span
            >
            <a-menu-item
              class="menuItem"
              v-for="item in currentDetails"
              @click="selectDetails(item)"
              :key="item"
              >{{ item }}
              <a-popconfirm
                  :title="'确认删除' + item + '吗?'"
                  ok-text="确认"
                  cancel-text="取消"
                  @confirm="removeDetail(item)"
                >
                  <a-icon
                    type="close-circle"
                    style="position: absolute; right: 2px"
                  />
                </a-popconfirm>
              </a-menu-item
            >
            <a-menu-item class="newOrder" v-if="currentType" @click="creatNewFaultDetail">
              <div>+ 新增故障详情</div>
            </a-menu-item>
          </a-sub-menu>
          <!-- 故障计划管理 -->
          <a-sub-menu key="sub3">
            <span slot="title" class="menuTop"
              ><a-icon class="menuTitle" type="setting" /><span
                class="menuTitle"
                >故障计划管理</span
              ></span
            >
            <a-menu-item
              class="menuItem"
              v-for="item in faultPlanNameList"
              :key="item"
            >
              <span
                style="width: 80px; height: 100%"
                @click="checkFaultPlan(item)"
                >{{ item }}</span
              >
              <a-popconfirm
                :title="'确定删除' + item + '计划吗？'"
                ok-text="是"
                cancel-text="否"
                @confirm="deletePlanItem(item)"
              >
                <a
                  href="#"
                  style="
                    position: absolute;
                    right: 2px;
                    font-size: 16px;
                    z-index: 9;
                  "
                  ><a-icon type="delete"
                /></a>
              </a-popconfirm>
            </a-menu-item>
          </a-sub-menu>
        </a-menu>
    </div>
    <div class="dataTable">
      <!-- 故障编辑 -->
      <div class="faultEdit">
        <!-- 新增按钮 -->
        <div class="newBreakBtn">
          <a-button type="primary" size="small" @click="newBreak" :disabled="couldCreatBreak"
            ><a-icon type="plus" />新增</a-button
          >
        </div>
        <div class="breakTable">
          <vxe-table
            show-overflow
            border="none"
            align="center"
            ref="myTable1"
            class="my-table"
            height="100%"
            :data="currentInfo"
            :row-config="{ height: 42, isCurrent: true }"
            :edit-config="{ trigger: 'manual', mode: 'row' }"
            @current-change="currentChangeEvent"
          >
            <vxe-column field="故障详情" title="故障详情">
              <template #default="{ row }">
                {{ row.故障详情 }}
              </template>
            </vxe-column>

            <vxe-column field="故障代号" title="故障代号">
              <template #default="{ row }">
                {{ row.故障代号 }}
              </template>
            </vxe-column>

            <vxe-column field="故障现象" title="故障现象" :edit-render="{}">
              <template #default="{ row }">
                <span v-if="row.故障现象">{{ row.故障现象 }} </span>
              </template>
              <template #edit="{ row }">
                <vxe-input v-model="row.故障现象" type="text"></vxe-input>
              </template>
            </vxe-column>

            <vxe-column field="影响范围" title="影响范围" :edit-render="{}">
              <template #default="{ row }">
                <span v-if="row.影响范围">{{ row.影响范围 }} 秒</span>
              </template>
              <template #edit="{ row }">
                <vxe-input v-model="row.影响范围" type="text"></vxe-input>
              </template>
            </vxe-column>

            <vxe-column title="操作" width="14%" show-overflow>
              <template #default="{ row }">
                <MyBtn
                  title="修改"
                  type="primary"
                  style="margin-right: 6px"
                  @click="editBreakEvent(row)"
                ></MyBtn>
                <a-popconfirm
                  placement="topRight"
                  :title="'确认删除' + row.故障代号 + '吗?'"
                  ok-text="确认"
                  cancel-text="取消"
                  @confirm="removeBreakEvent(row)"
                >
                  <MyBtn title="删除" type="delete"></MyBtn>
                </a-popconfirm>
              </template>
            </vxe-column>
          </vxe-table>
        </div>
        <div class="createBreak">
          <a-button type="primary">故障生成</a-button>
        </div>
      </div>
      <!-- 故障响应编辑 -->
      <div class="faultResponseEdit">
        <div class="newBreakResponseBtn">
          <a-button
            type="primary"
            size="small"
            @click="newRes"
            :disabled="couldCreatRes"
            ><a-icon type="plus" />新增</a-button
          >
        </div>
        <div class="breakResponseTable">
          <vxe-table
            show-overflow
            border="none"
            align="center"
            ref="myTable2"
            class="my-table"
            height="100%"
            @edit-closed="editClosedEvent"
            @edit-actived="editOpenEvent"
            :data="currentRes"
            :row-config="{ height: 42 }"
            :edit-config="{ trigger: 'manual', mode: 'row' }"
          >
            <vxe-column field="响应状态" title="响应状态" width="14%">
              <template #default="{ row }">
                <a-switch
                  :checked="row.响应状态"
                  checked-children="已绑定"
                  un-checked-children="未绑定"
                  @change="checkResBind($event, row)"
                />
              </template>
            </vxe-column>
            <vxe-column field="响应故障" title="响应故障">
              <template #default="{ row }">
                <span>{{ row.响应故障 }} </span>
              </template>
            </vxe-column>
            <vxe-column field="响应代号" title="响应代号">
              <template #default="{ row }">
                <span>{{ row.响应代号 }} </span>
              </template>
            </vxe-column>
            <vxe-column field="响应内容" title="响应内容" :edit-render="{}">
              <template #default="{ row }">
                <span v-if="row.响应内容">{{ row.响应内容 }} 参数置零</span>
              </template>
              <template #edit="{ row }">
                <vxe-select
                  v-model="row.响应内容"
                  type="text"
                  :options="idOwners"
                  transfer
                ></vxe-select>
              </template>
            </vxe-column>
            <vxe-column title="操作" width="14%" show-overflow>
              <template #default="{ row }">
                <MyBtn
                  title="修改"
                  type="primary"
                  style="margin-right: 6px"
                  @click="editResEvent(row)"
                ></MyBtn>
                <a-popconfirm
                  placement="topRight"
                  :title="'确认删除' + row.响应代号 + '吗?'"
                  ok-text="确认"
                  cancel-text="取消"
                  @confirm="removeResEvent(row)"
                >
                  <MyBtn title="删除" type="delete"></MyBtn>
                </a-popconfirm>
              </template>
            </vxe-column>
          </vxe-table>
        </div>
        <div class="responseAss">
          <a-button type="primary" @click="resAssBreeak" :disabled="couldResAss"
            >响应关联</a-button
          >
          <a-button type="primary" @click="saveEditData" style="margin-left:20px;"
            >保存编辑</a-button
          >
        </div>
      </div>
    </div>
    <!-- 新增故障 -->
    <a-modal
      v-model="showNewBreak"
      title="新增故障"
      destroyOnClose
      ok-text="确认"
      cancel-text="取消"
      @ok="submitNewBreakForm"
    >
      <a-form-model
        ref="breakRuleForm"
        :model="newBreakForm"
        :rules="newBreakRules"
        :label-col="labelCol"
        :wrapper-col="wrapperCol"
      >
        <a-form-model-item label="故障类型">
          <a-input v-model="newBreakForm.故障类型" :disabled="true" />
        </a-form-model-item>
        <a-form-model-item label="故障代号" prop="故障代号" has-feedback>
          <a-input v-model="newBreakForm.故障代号" />
        </a-form-model-item>
        <a-form-model-item label="故障现象" prop="故障现象">
          <a-input type="textarea" v-model="newBreakForm.故障现象" />
        </a-form-model-item>
        <a-form-model-item label="影响范围" prop="影响范围">
          <a-input-number :min="1" v-model="newBreakForm.影响范围" /> 秒
        </a-form-model-item>
      </a-form-model>
    </a-modal>
    <!-- 新增故障响应 -->
    <a-modal
      v-model="showNewRes"
      title="新增故障响应"
      destroyOnClose
      ok-text="确认"
      cancel-text="取消"
      @ok="submitNewRes"
    >
      <a-form-model
        ref="resRuleForm"
        :model="newResForm"
        :rules="newResRules"
        :label-col="labelCol"
        :wrapper-col="wrapperCol"
      >
        <a-form-model-item label="响应故障">
          <a-input v-model="newResForm.响应故障" :disabled="true" />
        </a-form-model-item>
        <a-form-model-item label="响应代号" prop="响应代号" has-feedback>
          <a-input v-model="newResForm.响应代号" />
        </a-form-model-item>
        <a-form-model-item label="响应内容" prop="响应内容">
          <!-- <a-input type="textarea" v-model="newResForm.响应内容" /> -->
          <vxe-select
            v-model="newResForm.响应内容"
            type="text"
            :options="idOwners"
          ></vxe-select>
        </a-form-model-item>
        <a-form-model-item label="响应状态" prop="响应状态">
          <a-switch
            :checked="newResForm.响应状态"
            checked-children="已绑定"
            un-checked-children="未绑定"
            @change="
              (checked) => {
                newResForm.响应状态 = checked;
              }
            "
          />
        </a-form-model-item>
      </a-form-model>
    </a-modal>
    <!-- 故障计划命名 -->
    <a-modal
      v-model="showNameFaultPlan"
      title="新建故障计划"
      ok-text="确认"
      cancel-text="取消"
      @ok="submitRename"
    >
      <span>请输入故障计划名称：</span>
      <a-input
        style="width: 250px"
        v-model="currentFaultPlanName"
        placeholder="内容不能包含特殊字符"
      ></a-input>
    </a-modal>
    <!-- 新增故障类型 -->
    <a-modal
      v-model="showNewFault"
      title="新增故障类型"
      ok-text="确认"
      cancel-text="取消"
      @ok="submitNewFault"
    >
      <span>请输入故障类型名称：</span>
      <a-input
        style="width: 250px"
        v-model="newFault"
        placeholder="请输入数字、字母或组合"
      ></a-input>
    </a-modal>
    <!-- 新增故障详情 -->
    <a-modal
      v-model="showNewFaultDetail"
      title="新增故障详情"
      ok-text="确认"
      cancel-text="取消"
      @ok="submitNewFaultDetail"
    >
      <span>请输入故障详情名称：</span>
      <a-input
        style="width: 250px"
        v-model="newFaultDetail"
        placeholder="请输入中文、数字、字母或组合"
      ></a-input>
    </a-modal>
    <FullScreen></FullScreen>
  </div>
</template>

<script>
import TopHead from "@/components/layout/TopHead.vue";
import FullScreen from "@/components/layout/fullScreen.vue";
import MyBtn from "@/components/Btn/myBtn.vue";
// import { trim } from "xe-utils";
import req from "@/network/index";

export default {
  name: "breakdown",
  components: { TopHead, FullScreen, MyBtn },
  data() {
    let checkBreakCode = (rule, value, callback) => {
      let testrule = /^[a-z0-9]+$/i;
      let qualifie = testrule.test(value);
      if (!value) {
        callback(new Error("故障代号不能为空！"));
      } else {
        if (this.checkBreakCodeRepeat(value)) {
          callback(new Error("故障代号已存在，请修改"));
        }else if(!qualifie){
          callback(new Error("请输入数字、字母或组合"));
        }
        callback();
      }
    };
    let checkResCode = (rule, value, callback) => {
      let tempCode = value.trim();
      if (!tempCode) {
        callback(new Error("响应代号不能为空！"));
      } else {
        if (this.checkResCodeRepeat(tempCode)) {
          callback(new Error("响应代号已存在，请修改"));
        }
        callback();
      }
    };
    return {
      title: "故障管理",
      // 控制菜单栏的显示隐藏
      isShowTabBar: false,
      // 控制全屏按钮显示隐藏
      isFullScreen: false,
      // 选中的选项
      openKeys: ["sub2"],
      // 故障类型
      breakType: [
        // "航天器故障", "火箭故障", "链路故障", "环境类", "其他"
      ],
      currentType:'',
      // 故障详情
      breakDetails: {
        航天器故障:["姿控故障", "帆板展开异常", "应答机下行异常"],
        火箭故障:["发动机故障","整流罩故障","传感器故障"]
      },
      currentDetails:[],
      currentDeatil:'',
      // 故障信息数据
      breakInfo: [
        { 故障类型:'航天器故障', 故障详情: "姿控故障", 故障代号: "PC001", 故障现象: "A载荷失效", 影响范围: "1" },
        { 故障类型:'航天器故障', 故障详情: "帆板展开异常", 故障代号: "PC002", 故障现象: "B载荷失效", 影响范围: "1" },
        { 故障类型:'航天器故障', 故障详情: "应答机下行异常", 故障代号: "PC003", 故障现象: "C载荷失效", 影响范围: "1" },
        // { 故障类型:'火箭故障', 故障详情: "发动机故障", 故障代号: "PC004", 故障现象: "D载荷失效", 影响范围: "1" },
        // { 故障类型:'火箭故障', 故障详情: "整流罩故障", 故障代号: "PC005", 故障现象: "E载荷失效", 影响范围: "1" },
        // { 故障类型:'火箭故障', 故障详情: "传感器故障", 故障代号: "PC006", 故障现象: "F载荷失效", 影响范围: "1" },
      ],
      currentInfo:[],
      // 故障响应数据
      breakRes: [
        { 故障类型:'航天器故障', 故障详情: "姿控故障", 响应状态: true, 响应内容: "0x006A", 响应代号: "R03", 响应故障: "PC001" },
        { 故障类型:'航天器故障', 故障详情: "姿控故障", 响应状态: true, 响应内容: "0x006A", 响应代号: "R04", 响应故障: "PC001" },
        { 故障类型:'航天器故障', 故障详情: "帆板展开异常",响应状态: true, 响应内容: "0x006A", 响应代号: "R05", 响应故障: "PC002" },
        { 故障类型:'航天器故障', 故障详情: "应答机下行异常", 响应状态: true, 响应内容: "0x006A", 响应代号: "R06", 响应故障: "PC003" },
        // { 响应状态: true, 响应内容: "0x006A", 响应代号: "R07", 响应故障: "PC004" },
        // { 响应状态: true, 响应内容: "0x006A", 响应代号: "R08", 响应故障: "PC004" },
        // { 响应状态: true, 响应内容: "0x006A", 响应代号: "R09", 响应故障: "PC005" },
        // { 响应状态: true, 响应内容: "0x006A", 响应代号: "R010", 响应故障: "PC006" },
        // { 响应状态: true, 响应内容: "0x006A", 响应代号: "R011", 响应故障: "PC006" },
        // { 响应状态: true, 响应内容: "0x006A", 响应代号: "R012", 响应故障: "PC002" },
        // { 响应状态: true, 响应内容: "0x006A", 响应代号: "R013", 响应故障: "PC003" }
        ],
      currentRes:[],
      // 故障表格列名数据
      breakColumns: [],
      // 表格行数据
      breakData: [],
      // 当前选中故障类型
      currentBreakType: "",
      currentBreak: {},
      // 当前选中的故障代号
      currentBreakCode: "",
      // 帆板异常数据
      solarPanelsUnfold: [],
      // 应答机异常数据
      responderDown: [],
      // 响应表格数据
      // currentRes: [],
      // 帆板响应数据
      solarPanelsUnfoldRes: [],
      // 应答机响应数据
      responderDownRes: [],
      // 响应表格列名数据
      responseColumns: [],
      // 响应表头原始数据
      responseTableHeader: ["响应故障", "响应代号"],
      // 新增故障
      couldCreatBreak:true,
      showNewBreak: false,
      labelCol: { span: 5 },
      wrapperCol: { span: 16 },
      newBreakForm: { 故障详情: "", 故障代号: "", 故障现象: "", 影响范围: "", 故障类型:''},
      newResRules: {},
      newBreakRules: {
        故障代号: [
          { required: true, message: "请输入故障代号！", trigger: "change" },
          { validator: checkBreakCode, trigger: "change" },
        ],
        影响范围: [
          { required: true, message: "请选择影响范围！", trigger: "change" },
        ],
      },
      // 新增故障响应
      couldCreatRes: true,
      showNewRes: false,
      idOwners: [],
      newResForm: { 响应状态: true, 响应内容: "", 响应代号: "", 响应故障: "",故障类型:'', 故障详情:'' },
      newResRules: {
        响应代号: [
          { required: true, message: "请输入响应代号！", trigger: "change" },
          { validator: checkResCode, trigger: "change" },
        ],
        响应内容: [
          { required: true, message: "请选择响应内容！", trigger: "change" },
        ],
        响应状态: [
          { required: true, message: "请选择响应状态！", trigger: "change" },
        ],
      },
      // 命名计划
      couldResAss: true,
      showNameFaultPlan: false,
      currentFaultPlanName: "",
      faultPlanList: [],
      faultPlanNameList: [],
      // 计划历史数据
      faultPlanHistroy: {},
      tempPostrueData: [],
      tempSolarData: [],
      tempResponseData: [],
      planInfoGroup:{},
      // 新增故障类型
      showNewFault:false,
      newFault:'',
      // 新增故障详情
      showNewFaultDetail:false,
      newFaultDetail:'',
      // 所有故障数据集合
      breakDataFileName:'breakEditData'
    };
  },
  props: ["closeTabBar", "tabBarOpending"],
  beforeMount() {
    // this.getFaultPlanList();
    // this.tranTableHeader();
    if (sessionStorage.getItem("TeleMetryClassNameList")) {
      let name = JSON.parse(sessionStorage.getItem("TeleMetryClassNameList"));
      console.log(name);
      name.forEach((value, index, arr) => {
        arr[index] = {
          label: value,
          value: value,
        };
      });
      this.idOwners = name;
    }
    if (sessionStorage.getItem("faultPlanNameList")) {
      this.faultPlanNameList = JSON.parse(
        sessionStorage.getItem("faultPlanNameList")
      );
      this.openKeys = ["sub2", "sub3"];
    }
    if (sessionStorage.getItem("currentBreakInfo")) {
      this.currentBreak = JSON.parse(
        sessionStorage.getItem("currentBreakInfo")
      );
    }
  },
  mounted() {
    // 如果菜单栏展开时，内容区左侧缩进
    if (this.$parent.tabBarOpending) {
      this.showTabBar();
    }
    // 获取故障计划文件列表
    setTimeout(() => {
      this.getFaultPlanList();
    }, 500);
    // 获取故障数据集合
    let name = this.breakDataFileName+'.json'
    this.getFaultPlanData(name)
  },
  methods: {
    // 提交编辑内容
    saveEditData(){
      let data = {breakType:this.breakType,breakDetails:this.breakDetails,breakInfo:this.breakInfo,breakRes:this.breakRes}
      let content = JSON.stringify( data, undefined, 2);
      let formData = new FormData();
      formData.append(
        "multipartFile",
        new Blob([content]),
        this.breakDataFileName + ".json"
      );
      req({
        method: "post",
        url: "/uploadJsonFile",
        data: formData,
        headers: {
          "Content-Type": "multipart/form-data",
        },
        }).then((res) => {
          console.log(res);
          if (res.data.code == "200") {
            console.log(res.data)
            console.log("故障数据集合上传成功");
          } else {
            console.log("故障数据集合上传失败");
          }
        });
    },
    // 删除故障类型
    removeType(key){
      for (let i = 0, flag = true; i < this.breakInfo.length; flag ? i++ : i) {
        if (this.breakInfo[i].故障类型 == key) {
          this.breakInfo.splice(i, 1)
          flag = false
        } else {
          flag = true
        }
      }
      for (let i = 0, flag = true; i < this.breakRes.length; flag ? i++ : i) {
        if (this.breakRes[i].故障类型 == key) {
          this.breakRes.splice(i, 1)
          flag = false
        } else {
          flag = true
        }
      }
      console.log(this.breakInfo)
      console.log(this.breakRes)

      delete this.breakDetails[key]
      this.breakType.splice(this.breakType.indexOf(key),1)
      this.currentDetails = []
      this.currentType = ''
    },
    // 删除故障详情
    removeDetail(key){
      // this.breakType.splice(this.breakType.indexOf(item),1)
      for (let i = 0, flag = true; i < this.breakInfo.length; flag ? i++ : i) {
        if (this.breakInfo[i].故障详情 == key) {
          this.breakInfo.splice(i, 1)
          flag = false
        } else {
          flag = true
        }
      }
      for (let i = 0, flag = true; i < this.breakRes.length; flag ? i++ : i) {
        if (this.breakRes[i].故障详情 == key) {
          this.breakRes.splice(i, 1)
          flag = false
        } else {
          flag = true
        }
      }
      this.breakDetails[this.currentType].splice(this.breakDetails[this.currentType].indexOf(key),1)

      console.log(this.breakDetails)
      // console.log(item)
    },
    // 新增故障类型
    creatNewFault(){
      console.log("新增故障类型")
      this.showNewFault = true
    },
    submitNewFault(){
      let rule = /^[a-zA-Z0-9_\u4e00-\u9fa5]+$/
      let repeat = false
      if(rule.test(this.newFault)){
        console.log('通过')
      }else{
        this.$message.error("格式验证错误，请修改后重试!")
        return
      }
      this.breakType.forEach((item) => {
        if (item == this.newFault) {
          this.$message.error("故障类型重复，请修改重试。");
          repeat = true;
        }
      });
      if(!repeat){
        this.breakType.push(this.newFault)
        this.$message.success('添加成功')
        this.newFault = ''
        this.showNewFault = false
      }
    },
    // 新增故障详情
    creatNewFaultDetail(){
      console.log("新增故障详情")
      this.showNewFaultDetail = true
    },
    submitNewFaultDetail(){
      if(!this.currentType){
        this.$message.warning("请先选择故障类型")
        return
      }
      let rule = /^[a-zA-Z0-9_\u4e00-\u9fa5]+$/
      let repeat = false
      if(rule.test(this.newFaultDetail)){
        console.log('通过')
      }else{
        this.$message.error("格式验证错误，请修改后重试!")
        return
      }
      for (const item in this.breakDetails) {
        console.log(this.breakDetails[item])
        if (this.breakDetails[item].indexOf(this.newFaultDetail) != -1) {
          this.$message.error("故障详情重复，请修改重试。");
          repeat = true;
        }
      };
      if(!repeat){
        this.breakDetails[this.currentType] = []
        this.breakDetails[this.currentType].push(this.newFaultDetail)
        this.$message.success('添加成功')
        this.selectType(this.currentType)
        this.newFaultDetail = ''
        this.showNewFaultDetail = false
      }

    },
    // 查看故障计划数据
    checkFaultPlan(item) {
      this.getFaultPlanData(item + ".json");
    },
    // 删除单条计划
    deletePlanItem(item) {
      let that = this
      let currentIndex = this.faultPlanNameList.indexOf(item);
      this.faultPlanNameList.splice(currentIndex, 1);
      sessionStorage.setItem(
        "faultPlanNameList",
        JSON.stringify(this.faultPlanNameList)
      );
      sessionStorage.removeItem("FP" + item);
      let fileName = item + ".json";
      req({
        method: "delete",
        url: "/delJsonFile",
        params: { fileName: fileName },
      }).then((res) => {
        if (res.status == "200") {
          // that.deleteDetail(item)
          that.$message.success("删除成功");
        } else {
          that.$message.success("删除失败");
        }
      });
    },
    // 删除本地具体信息
    deleteDetail(name){
      switch (this.planInfoGroup[name].故障类型) {
        case '姿控故障':
          this.postureControl.forEach((item)=>{
            if(item.故障代号 == this.planInfoGroup[name].故障代号){
              this.postureControl.splice(this.postureControl.indexOf(item), 1);
            }
          })
          this.postureControlRes.forEach((item)=>{
            if(item.响应故障 == this.planInfoGroup[name].故障代号){
              this.postureControlRes.splice(this.postureControlRes.indexOf(item), 1);
            }
          })
          delete this.planInfoGroup[name]
          break;
        case '帆板展开故障':
          this.solarPanelsUnfold.forEach((item)=>{
            if(item.故障代号 == this.planInfoGroup[name].故障代号){
              this.solarPanelsUnfold.splice(this.solarPanelsUnfold.indexOf(item), 1);
            }
          })
          this.solarPanelsUnfoldRes.forEach((item)=>{
            if(item.响应故障 == this.planInfoGroup[name].故障代号){
              this.solarPanelsUnfoldRes.splice(this.solarPanelsUnfoldRes.indexOf(item), 1);
            }
          })
          delete this.planInfoGroup[name]
          break;
          case '应答机下行异常':
          this.responderDown.forEach((item)=>{
            if(item.故障代号 == this.planInfoGroup[name].故障代号){
              this.responderDown.splice(this.responderDown.indexOf(item), 1);
            }
          })
          this.responderDownRes.forEach((item)=>{
            if(item.响应故障 == this.planInfoGroup[name].故障代号){
              this.responderDownRes.splice(this.responderDownRes.indexOf(item), 1);
            }
          })
          delete this.planInfoGroup[name]
          break;
        default:
          break;
      }
    },
    // 获取故障计划列表
    getFaultPlanList() {
      req({
        method: "get",
        url: "/getJsonFilePath",
      }).then((res) => {
        console.log(res);
        if (res.data.code == "200") {
          let tempBreakData = [];
          for (const item of res.data.data) {
            tempBreakData.push(item.split(".json", 1)[0]);
            // this.getFaultPlanData(item)
          }
          for (const item of tempBreakData) {
            if (this.faultPlanNameList.indexOf(item) == -1 && item != this.breakDataFileName) {
              this.faultPlanNameList.push(item);
            }
          }
          // this.faultPlanNameList = [...this.faultPlanNameList,...tempBreakData]
          // let filePathData = res.data.data;
          this.openKeys = ["sub2", "sub3"];
          console.log("故障计划列表获取成功");
        } else {
          console.log("故障计划列表获取失败");
        }
      });
    },
    // 获取单个历史计划数据
    async getFaultPlanData(name) {
      console.log(name)
      let that = this
      console.log(name)
      let fileName = name;
      req({
        method: "get",
        url: "/downloadJsonFile",
        params: { fileName: fileName },
      }).then((res) => {
        if (res.status == "200") {
          let data = res.data;
          if(name == 'breakEditData.json'){
            this.breakType = data.breakType
            this.breakDetails = data.breakDetails
            this.breakInfo = data.breakInfo
            this.breakRes = data.breakRes
            // console.log(data)
          }else{
            that.planInfoGroup[name.split(".json", 1)[0]] = data.breakData
            that.currentInfo = [];
            that.currentInfo.unshift(data.breakData);
            that.currentRes = data.currentRes;
          }
          console.log("故障计划数据获取成功");
        } else {
          console.log("故障计划数据获取失败");
        }
      });
    },
    // 提交故障计划
    submitRename() {
      let rule = new RegExp("[`~!@#$^&*()=|{}':;',\\[\\].<>《》/?~！@#￥……&*（）——|{}【】‘；：”“'。，、？ ]")
      let qualifie = rule.test(this.currentFaultPlanName);
      let repeat = false;
      if (!this.currentFaultPlanName.trim()) {
        this.$message.error("计划名称不能为空！");
        return;
      }
      if (qualifie) {
        this.$message.error("命名不能包含特殊字符!");
        return;
      }
      this.faultPlanNameList.forEach((item) => {
        if (item == this.currentFaultPlanName || this.currentFaultPlanName == this.breakDataFileName) {
          this.$message.error("计划名称重复，请修改重试。");
          repeat = true;
        }
      });
      if (!repeat) {
        // 整合发送所需数据
        this.faultPlanNameList.unshift(this.currentFaultPlanName);
        sessionStorage.setItem(
          "faultPlanNameList",
          JSON.stringify(this.faultPlanNameList)
        );
        let data = { breakData:{},sendMsg:{faultTime: 0, packageId: []} };
        data.breakData = this.currentBreak
        data.sendMsg.faultTime = this.currentBreak.影响范围 * 1000;
        this.currentRes.forEach((item) => {
          if (!item.响应内容) {
            return;
          }
          if (item.响应状态) {
            data.sendMsg.packageId.push(item.响应内容);
          }
        });
        sessionStorage.setItem(
          "FP" + this.currentFaultPlanName,
          JSON.stringify(data)
        );
        this.upLoadJsonFile();
        this.planInfoGroup[this.currentFaultPlanName] = this.currentBreak.故障代号
        this.currentFaultPlanName = "";
        this.openKeys = ["sub2", "sub3"];
      }
    },
    // 上传计划历史数据
    upLoadJsonFile() {
      // 整合计划历史数据
      this.faultPlanHistroy[this.currentFaultPlanName] = {};
      this.faultPlanHistroy[this.currentFaultPlanName].breakData = JSON.parse(
        JSON.stringify(this.currentBreak)
      );
      this.faultPlanHistroy[this.currentFaultPlanName].currentRes =
        JSON.parse(JSON.stringify(this.currentRes));
      this.$message.success("计划保存成功！");
      this.showNameFaultPlan = false;
      let content = JSON.stringify(
        this.faultPlanHistroy[this.currentFaultPlanName],
        undefined,
        2
      );
      // let blo = new Blob([content])
      // let blob = URL.createObjectURL(blo); 
      // var aLink = document.createElement("a");
      // aLink.href = blob;
      // aLink.download = "test.json";
      // var event;
      // if (window.MouseEvent) event = new MouseEvent("click");
      // aLink.dispatchEvent(event);
      let formData = new FormData();
      formData.append(
        "multipartFile",
        new Blob([content]),
        this.currentFaultPlanName + ".json"
      );
      req({
        method: "post",
        url: "/uploadJsonFile",
        data: formData,
        headers: {
          "Content-Type": "multipart/form-data",
        },
      }).then((res) => {
        console.log(res);
        if (res.data.code == "200") {
          console.log("故障计划上传成功");
        } else {
          console.log("故障计划上传失败");
        }
      });
    },
    // 故障响应开始编辑状态
    editOpenEvent({ row }) {
      console.log(row);
    },
    // 故障响应关闭编辑状态
    editClosedEvent({ row }) {
      console.log(row);
    },
    // 响应关联
    resAssBreeak() {
      if (this.currentRes == []) {
        this.$message.warning("请选择故障数据！");
        return false;
      } else {
        this.showNameFaultPlan = true;
      }
    },
    // 提交新的故障响应
    submitNewRes() {
      this.$refs.resRuleForm.validate((valid) => {
        if (valid) {
          this.breakRes.unshift(this.newResForm);
          this.currentRes.unshift(this.newResForm);
          this.showNewRes = false;
          this.newResForm = {
            响应状态: true,
            响应内容: "",
            响应代号: "",
            响应故障: "",
            故障类型: "",
            故障详情: "",
          };
        } else {
          return false;
        }
      });
      console.log();
    },
    // 新增故障响应
    newRes() {
      // console.log(this.currentType)
      // console.log(this.currentDeatil)
      this.newResForm.响应故障 = this.currentBreakCode;
      this.newResForm.故障类型 = this.currentType;
      this.newResForm.故障详情 = this.currentDeatil;
      this.showNewRes = true;
    },
    // 更改响应状态的选中状态
    checkResBind(checked, row) {
      row.响应状态 = checked;
      console.log(this.solarPanelsUnfoldRes);
    },
    // 选中故障类型其中一个
    selectType(item){
      this.currentType = item
      this.currentDetails = this.breakDetails[item];
      this.currentInfo = [];
      this.currentRes = []
    },
    // 选中故障表格其中一行
    currentChangeEvent({ row }) {
      console.log(row)
      this.couldResAss = false;
      this.currentRes = [];
      this.currentBreak = row;
      sessionStorage.setItem("currentBreakInfo", JSON.stringify(row));
      this.currentBreakCode = row.故障代号;
      this.couldCreatRes = false;
      // this.currentRes = this.postureControlRes;
      this.currentRes = []
      this.breakRes.forEach((item) => {
        if (item.响应故障 == row.故障代号) {
          this.currentRes.unshift(item);
        }
      });
      // this.currentRes = Data
      // console.log()
      // switch (row.故障类型) {
      //   case "姿控故障":
      //     this.postureControlRes.forEach((item) => {
      //       if (item.响应故障 == this.currentBreakCode) {
      //         Data.unshift(item);
      //       }
      //     });
      //     this.currentRes = Data;
      //     // this.currentRes = this.postureControlRes.filter((item)=>{item.响应故障 == this.currentBreakCode});
      //     break;
      //   case "帆板展开异常":
      //     this.solarPanelsUnfoldRes.forEach((item) => {
      //       if (item.响应故障 == this.currentBreakCode) {
      //         Data.unshift(item);
      //       }
      //     });
      //     this.currentRes = Data;
      //     break;
      //   case "应答机下行异常":
      //     this.responderDownRes.forEach((item) => {
      //       if (item.响应故障 == this.currentBreakCode) {
      //         Data.unshift(item);
      //       }
      //     });
      //     this.currentRes = Data;
      //     break;
      //   default:
      //     break;
      // }
    },
    // 检查故障代号是否重复
    checkBreakCodeRepeat(value) {
      let repeat = false
      console.log('输入值：'+value)
      // let allBreakData = []
      // allBreakData = [...this.postureControl,...this.solarPanelsUnfold,...this.responderDown]
      this.breakInfo.forEach((item)=>{
        console.log(item.故障代号)
        if(item.故障代号 == value){
          repeat = true
        }
      })
      return repeat
    },
    checkResCodeRepeat(value) {
      let repeat = false
      // let allBreakRes = []
      // allBreakRes = [...this.postureControlRes,...this.solarPanelsUnfoldRes,...this.responderDownRes]
      this.breakRes.forEach((item)=>{
        if(item.响应代号 == value){
          repeat = true
        }
      })
      return repeat

      // switch (this.currentBreakType) {
      //   case "姿控故障":
      //     for (const item of this.postureControlRes) {
      //       if (value == item.响应代号) {
      //         return true;
      //       }
      //     }
      //     break;
      //   case "帆板展开异常":
      //     for (const item of this.solarPanelsUnfoldRes) {
      //       if (value == item.响应代号) {
      //         return true;
      //       }
      //     }
      //     break;
      //   case "应答机下行异常":
      //     for (const item of this.responderDownRes) {
      //       if (value == item.响应代号) {
      //         return true;
      //       }
      //     }
      //     break;
      //   default:
      //     break;
      // }
    },
    // 删除单条故障数据
    removeBreakEvent(row) {
      console.log(row.故障代号)
      for (let i = 0, flag = true; i < this.breakRes.length; flag ? i++ : i) {
        console.log(this.breakRes[i].响应故障)
        if (this.breakRes[i].响应故障 == row.故障代号) {
          this.breakRes.splice(i, 1)
          flag = false
        } else {
          flag = true
        }
      }
      // console.log(this.breakRes)
      this.breakInfo.splice(this.breakInfo.indexOf(row), 1);
      this.selectDetails(this.currentDeatil)
    },
    removeResEvent(row) {
      this.breakRes.splice(this.breakRes.indexOf(row), 1);
      this.currentRes.splice(this.currentRes.indexOf(row), 1);

      // switch (this.currentBreakType) {
      //   case "姿控故障":
      //     this.postureControlRes.splice(this.postureControlRes.indexOf(row), 1);
      //     this.currentRes.splice(this.currentRes.indexOf(row), 1);
      //     break;
      //   case "帆板展开异常":
      //     this.solarPanelsUnfoldRes.splice(
      //       this.solarPanelsUnfoldRes.indexOf(row),
      //       1
      //     );
      //     this.currentRes.splice(this.currentRes.indexOf(row), 1);
      //     break;
      //   case "应答机下行异常":
      //     this.responderDownRes.splice(this.responderDownRes.indexOf(row), 1);
      //     this.currentRes.splice(this.currentRes.indexOf(row), 1);
      //     break;
      //   default:
      //     break;
      // }
    },
    // 编辑表格数据
    editBreakEvent(row) {
      console.log(row);
      this.$refs.myTable1.setActiveRow(row);
    },
    editResEvent(row) {
      this.$refs.myTable2.setActiveRow(row);
    },
    // 新建故障表单中选择影响范围
    checkBreakTime(value) {
      this.newBreakForm.影响范围 = value;
    },
    // 提交新增故障
    submitNewBreakForm() {
      this.$refs.breakRuleForm.validate((valid) => {
        if (valid) {
          this.breakInfo.unshift(this.newBreakForm)
          this.selectDetails(this.currentDeatil)
          this.showNewBreak = false;
          this.newBreakForm = {
            故障类型: "",
            故障代号: "",
            故障现象: "",
            影响范围: "",
            故障类型: "",
            故障详情: "",
          };
        } else {
          return false;
        }
      });
    },
    // 新增故障
    newBreak() {
      this.newBreakForm.故障类型 = this.currentType;
      this.newBreakForm.故障详情 = this.currentDeatil;
      this.showNewBreak = true;
    },
    // 更换故障详情
    selectDetails(type) {
      this.couldResAss = true;
      this.couldCreatBreak = false
      this.currentRes = [];
      this.couldCreatRes = true;
      this.currentDeatil = type;
      // console.log(type)
      this.currentInfo = []
      this.currentRes = []
      this.breakInfo.forEach((item)=>{
        if(item.故障详情 == type){
          this.currentInfo.push(item)
        }
      })
    },
    // 加工表格列名
    tranTableHeader() {
      this.breakTableHeader.forEach((value, index, arr) => {
        arr[index] = {
          title: value,
          dataIndex: value,
        };
      });
      this.responseTableHeader.forEach((value, index, arr) => {
        arr[index] = {
          title: value,
          dataIndex: value,
        };
        console.log(arr);
      });
      this.breakColumns = this.breakTableHeader;
      this.responseColumns = this.responseTableHeader;
    },
    showTabBar() {
      this.isShowTabBar = !this.isShowTabBar;
      this.$parent.$refs.tabBar.style.display = this.isShowTabBar
        ? "block"
        : "none";
      this.$refs.container.style.marginLeft = this.isShowTabBar ? "150px" : "0";
      if (this.isShowTabBar) {
        this.$parent.tabBarOpending = true;
      }
    },
  },
  watch: {
    tempPostrueData: {
      handler: function () {
        this.tempPostrueData.currentRes.forEach((item) => {
          console.log(item)
          let is = this.postureControlRes.some(
            (one) => one.响应代号 == item.响应代号
          );
          if (!is) {
            this.postureControlRes.push(item);
          }
        });
        let re = this.postureControl.some((item)=>item.故障代号 == this.tempPostrueData.breakData.故障代号)
        if(!re){this.postureControl.unshift(this.tempPostrueData.breakData)}
      },
    },
    tempSolarData: {
      handler: function () {
        this.tempSolarData.currentRes.forEach((item) => {
          let is = this.solarPanelsUnfoldRes.some(
            (one) => one.响应代号 == item.响应代号
          );
          if (!is) {
            this.solarPanelsUnfoldRes.push(item);
          }
        });
        let re = this.solarPanelsUnfold.some((item)=>item.故障代号 == this.tempSolarData.breakData.故障代号)
        if(!re){this.solarPanelsUnfold.unshift(this.tempSolarData.breakData)}
      },
    },
    tempResponseData: {
      handler: function () {
        this.tempResponseData.currentRes.forEach((item) => {
          let is = this.responderDownRes.some(
            (one) => one.响应代号 == item.响应代号
          );
          if (!is) {
            this.responderDownRes.push(item);
          }
        });
        let re = this.responderDown.some((item)=>item.故障代号 == this.tempResponseData.breakData.故障代号)
        if(!re){this.responderDown.unshift(this.tempResponseData.breakData)}
      },
    },
    closeTabBar: {
      handler: function () {
        this.showTabBar();
      },
    },
  },
  computed: {},
  beforeDestroy() {
    this.isShowTabBar = false;
  },
};
</script>

<style>
.breakDownWrap {
  /* width: 100%; */
  height: 100vh;
  color: white;
  /* background: #000; */
  background-image: url("~@/assets/img/teleMetry/background.png");
  background-size: 100% 100%;
  position: relative;
}
.breakDownWrap .dataList {
  width: 16%;
  height: 80%;
  /* width: 290px; */
  /* height: 860px; */
  background-color: rgba(15, 48, 97, 0.5);
  position: absolute;
  top: 10%;
  left: 2%;
  overflow: auto;
}
/*滚动条 start*/
.breakDownWrap .dataList::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
/*定义滚动条轨道 内阴影+圆角*/
.breakDownWrap .dataList::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);   */
  background: rgb(9, 5, 24);
}
/*定义滑块 内阴影+圆角*/
.breakDownWrap .dataList::-webkit-scrollbar-thumb {
  border-radius: 3px;
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);   */
  background-color: rgba(0, 227, 253);
}
.breakDownWrap .dataList .menuTop {
  height: 34px !important;
  line-height: 34px !important;
  /* background-color: darkorange; */
}
.breakDownWrap .dataList .menuTitle {
  height: 34px !important;
  line-height: 34px !important;
  /* background-color: darkolivegreen; */
}
.breakDownWrap .dataList .menuItem {
  width: 100%;
  height: 36px;
  position: relative;
  display: flex;
  align-items: center;
  line-height: 36px;
  font-size: 13px;
  margin: 0 !important;
}
.breakDownWrap .dataList .newOrder {
  color: yellowgreen;
  margin: auto !important;
  text-align: center;
  padding: 0 !important;
}
.breakDownWrap .dataList .menuItem:hover {
  background-color: rgb(24, 144, 255);
}
.breakDownWrap .dataTable {
  width: 78%;
  height: 80%;
  /* width: 290px; */
  /* height: 860px; */
  background-color: transparent;
  position: absolute;
  top: 10%;
  left: 20%;
}
.breakDownWrap .dataTable .faultEdit {
  width: 100%;
  height: 48%;
  padding: 0 30px;
  background-color: rgba(8, 23, 55, 0.5);
}
.breakDownWrap .dataTable .faultEdit .newBreakBtn {
  /* height: 24px; */
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.breakDownWrap .dataTable .faultEdit .breakTable {
  height: 75%;
  width: 100%;
  margin: 5px 0;
}
.my-table ::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}
/*滚动条的轨道*/
.my-table ::-webkit-scrollbar-track {
  background-color: #081938;
}
/*滚动条里面的小方块，能向上向下移动*/
.my-table ::-webkit-scrollbar-thumb {
  background-color: #0a58ff;
  border-radius: 5px;
  border: 1px solid #1400c9;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
/*边角，即两个滚动条的交汇处*/
.my-table ::-webkit-scrollbar-corner {
  background-color: #ffffff;
}
.breakDownWrap .dataTable .faultEdit .createBreak {
  /* height: 24px; */
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.breakDownWrap .dataTable .faultResponseEdit {
  width: 100%;
  height: 48%;
  padding: 0 30px;
  background-color: rgba(8, 23, 55, 0.5);
  position: absolute;
  bottom: 0;
}
.breakDownWrap .dataTable .faultResponseEdit .newBreakResponseBtn {
  /* height: 24px; */
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.breakDownWrap .dataTable .faultResponseEdit .breakResponseTable {
  height: 75%;
  width: 100%;
  margin: 5px 0;
  /* background-color: rgb(19, 50, 51); */
}
.breakDownWrap .dataTable .faultResponseEdit .responseAss {
  /* height: 24px; */
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
</style>
