<template>
  <div class="container">
    <!-- 左侧菜单栏 -->
    <div class="tabBar" ref="tabBar">
      <div @click="showTabBar" class="tabBtn">
        <a-icon type="unordered-list" /><span>卫星控制中心系统</span>
      </div>
      <div class="menu">
        <a-menu
          :default-selected-keys="defaultSelKey"
          :open-keys.sync="openKeys"
          theme="dark"
          mode="inline"
        >
          <a-sub-menu skey="sub1">
            <span slot="title"
              ><span class="iconfont icon-weixing">&nbsp;</span
              ><span>卫星模拟</span></span
            >
            <a-menu-item key="1"
              ><router-link to="/simulation">卫星模拟</router-link></a-menu-item
            >
            <a-menu-item key="2"
              ><router-link to="/telemetry">遥测管理</router-link></a-menu-item
            >
            <a-menu-item key="3"
              ><router-link to="/telecontrol"
                >遥控管理</router-link
              ></a-menu-item
            >
            <a-menu-item key="4"
              ><router-link to="/breakdown">故障处理</router-link></a-menu-item
            >
          </a-sub-menu>
          <a-sub-menu key="sub2">
            <span slot="title"
              ><span class="iconfont icon-weixingguidao">&nbsp;</span
              ><span>轨道支持</span></span
            >
            <a-menu-item key="5">轨道支持一</a-menu-item>
            <a-menu-item key="6">轨道支持二</a-menu-item>
          </a-sub-menu>
          <a-sub-menu key="sub3">
            <span slot="title"
              ><span class="iconfont icon-sanwei">&nbsp;</span
              ><span>三维显示</span></span
            >
            <a-menu-item key="7">三维显示一</a-menu-item>
            <a-menu-item key="8">三维显示二</a-menu-item>
          </a-sub-menu>
        </a-menu>
      </div>
    </div>
    <!-- 右侧内容区 -->
    <router-view
      :closeTabBar="closeTabBar"
      :tabBarOpending="tabBarOpending"
    ></router-view>
  </div>
</template>

<script>
export default {
  name: "layout",
  data() {
    return {
      // 关闭菜单栏时让子组件取消缩进
      closeTabBar: false,
      // 通知子组件菜单栏处于打开状态
      tabBarOpending: false,
      current: ["mail"],
      openKeys: ["sub1"],
      defaultSelKey: [],
      routerInfo: [
        { "/simulation": "1" },
        { "/telemetry": "2" },
        { "/telecontrol": "3" },
        { "/breakdown": "4" },
      ],
    };
  },
  mounted() {
    console.log('leyOut挂载')
  },
  methods: {
    showTabBar() {
      this.$refs.tabBar.style.display = this.$refs.tabBar.isShowTabBar
        ? "block"
        : "none";
      this.closeTabBar = !this.closeTabBar;
    },
  },
  beforeDestroy() {
    console.log("layOut卸载")
  },
  watch: {
    $route() {},
  },
};
</script>

<style>
.container {
  color: white;
}
.container .tabBar {
  width: 150px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgb(0, 21, 41);
  display: none;
}
.container .tabBar .tabBtn {
  padding: 5px 5px;
  position: absolute;
  cursor: pointer;
  left: 0;
  top: 0;
}
.container .tabBar .menu {
  margin-top: 24px;
}
</style>
