<template>
  <div class="teleMetWrap" ref="container">
    <TopHead
      :title="title"
      :isShowTabBar="isShowTabBar"
      :showTabBar="showTabBar"
    ></TopHead>
    <div class="dataList">
      <div class="teleMetryOutline">
        <!-- 加载遥测大纲 -->
        <a-button type="primary" @click="loadTeleMetryOutline">
          加载遥测大纲
        </a-button>
      </div>
      <!-- 遥测大纲列表 -->
      <div>
        <a-menu
          style="width: 100%"
          :open-keys.sync="openKeys"
          mode="inline"
          theme="dark"
        >
          <!-- 遥测大纲 -->
          <a-sub-menu key="sub1">
            <span slot="title"
              ><a-icon type="setting" /><span>遥测大纲</span></span
            >
            <a-menu-item
              class="menuItem"
              v-for="item in outlineList"
              :key="item.key"
              >{{ item.name }}</a-menu-item
            >
          </a-sub-menu>
          <!-- 数传信道 -->
          <a-sub-menu key="sub2">
            <span slot="title" class="menuTop"
              ><a-icon class="menuTitle" type="setting" /><span
                class="menuTitle"
                >数传信道</span
              ></span
            >
            <a-menu-item
              class="menuItem"
              v-for="item in dataTran"
              :key="item.key"
              >{{ item.name }}</a-menu-item
            >
          </a-sub-menu>
          <!-- 测控信道 -->
          <a-sub-menu key="sub3">
            <span slot="title" class="menuTop"
              ><a-icon class="menuTitle" type="setting" /><span
                class="menuTitle"
                >测控信道</span
              ></span
            >
            <a-menu-item
              class="menuItem"
              v-for="item in teleMetryChannel"
              @click="checkOutLine(item)"
              :key="item.key"
              >{{ item.name }}</a-menu-item
            >
          </a-sub-menu>
          <!-- 遥测计划管理 -->
          <a-sub-menu key="sub4">
            <span slot="title" class="menuTop"
              ><a-icon class="menuTitle" type="setting" /><span
                class="menuTitle"
                >遥测计划管理</span
              ></span
            >
            <a-menu-item
              class="menuItem"
              v-for="item in teleMetryPlanManage"
              :key="item.key"
              >{{ item.name }}</a-menu-item
            >
          </a-sub-menu>
        </a-menu>
      </div>
    </div>
    <div class="dataTable">
      <div class="tableWrap">
        <a-table
          class="antdvDataTable"
          :rowKey="(record) => record.参数代号"
          :columns="columns"
          :data-source="data"
        ></a-table>
      </div>
      <a-button type="primary" class="createSourceCode">生成源码</a-button>
    </div>
    <FullScreen></FullScreen>
    <input style="display: none" type="file" ref="upload" accept=".xls,.xlsx" />
  </div>
</template>

<script>
import XLSX from "xlsx";
import TopHead from "@/components/layout/TopHead.vue";
import FullScreen from "@/components/layout/fullScreen.vue";
export default {
  name: "telecontrol",
  components: { TopHead, FullScreen },
  data() {
    return {
      title: "遥测管理",
      // 控制菜单栏的显示隐藏
      isShowTabBar: false,
      // 控制全屏按钮显示隐藏
      isFullScreen: false,
      // 遥测大纲列表数据
      outlineList: [
        { key: "outline-0", name: "帧结构" },
        { key: "outline-1", name: "遥测包" },
        { key: "outline-2", name: "遥测调度" },
      ],
      // 数传列表数据
      dataTran: [
        { key: "dataTran-0", name: "数传1" },
        { key: "dataTran-1", name: "数传2" },
        { key: "dataTran-2", name: "数传3" },
        { key: "dataTran-3", name: "数传4" },
        { key: "dataTran-4", name: "数传5" },
      ],
      // 测控数据列表数据
      teleMetryChannel: [
        { key: "channel-0", name: "综合电子遥测包" },
        { key: "channel-1", name: "综合电子遥测包" },
        { key: "channel-2", name: "中央处理器快传数据包" },
        { key: "channel-3", name: "姿态轨控遥测包" },
        { key: "channel-4", name: "天基导航遥测包" },
        { key: "channel-5", name: "雷达载荷遥测包" },
      ],
      // 计划管理列表数据
      teleMetryPlanManage: [
        { key: "planManage-0", name: "中央处理器快传数据包源码1" },
        { key: "planManage-1", name: "中央处理器快传数据包源码2" },
        { key: "planManage-2", name: "中央处理器快传数据包源码3" },
        { key: "planManage-3", name: "中央处理器快传数据包源码4" },
        { key: "planManage-4", name: "中央处理器快传数据包源码5" },
      ],
      current: ["mail"],
      openKeys: [],
      // 存储的导入文件
      E: null,
      files: null,
      // 页面的表格数据
      columns: [],
      data: [],
      // 动态表格数据
      tableContent: [],
      tableHeader: [],
      workdata: null,
    };
  },
  props: ["closeTabBar", "tabBarOpending"],
  // beforeCreate() {
  //   this.$bus.$on("changSize", this.changSize);
  // },
  mounted() {
    // 如果菜单栏展开时，内容区左侧缩进
    if (this.$parent.tabBarOpending) {
      this.showTabBar();
    }
    this.$refs.upload.addEventListener("change", (e) => {
      //绑定监听表格导入事件
      this.readExcel(e);
    });
  },
  methods: {
    // 遥测大纲sheet表切换
    checkOutLine(item) {
      // this.getTableData(this.E,this.files,item.index)
      const wsname = this.workdata.SheetNames[item.index]; //取第X张表
      const ws = XLSX.utils.sheet_to_json(this.workdata.Sheets[wsname]);
      console.log(ws);
      this.data = this.tableContent = ws;
    },
    // 显示侧边导航栏
    showTabBar() {
      this.isShowTabBar = !this.isShowTabBar;
      this.$parent.$refs.tabBar.style.display = this.isShowTabBar
        ? "block"
        : "none";
      this.$refs.container.style.marginLeft = this.isShowTabBar ? "150px" : "0";
      if (this.isShowTabBar) {
        this.$parent.tabBarOpending = true;
      }
    },
    // 加载遥测大纲
    loadTeleMetryOutline() {
      this.$refs.upload.click();
    },
    // 获取excel文件内容
    readExcel(e) {
      this.E = e;
      this.files = e.target.files;
      var vali = /\.(xls|xlsx)$/;
      if (this.files.length <= 0) {
        //如果没有文件名
        return false;
      } else if (!vali.test(this.files[0].name.toLowerCase())) {
        this.$Message.error("上传格式不正确，请上传xls或者xlsx格式");
        return false;
      }
      this.getTableData(this.E, this.files, 0);
      // const fileReader = new FileReader();
      // fileReader.onload = (e) => {
      //   try {
      //     const data = e.target.result;
      //     const workdata = XLSX.read(data, {
      //       type: "binary",
      //     });
      //     let sheetsNames = JSON.parse(JSON.stringify(workdata.SheetNames));
      //     sheetsNames.forEach((item, index, arr) => {
      //       arr[index] = { key: item, name: item,index:index};
      //       console.log(item);
      //     });
      //     this.teleMetryChannel = sheetsNames;
      //     this.tableHeader = this.getTableHeader(workdata);
      //     const wsname = workdata.SheetNames[0]; //取第一张表
      //     const ws = XLSX.utils.sheet_to_json(workdata.Sheets[wsname]);
      //     this.tableContent = ws;

      //     this.$refs.upload.value = "";
      //   } catch (e) {
      //     return false;
      //   }
      // };
      // fileReader.readAsBinaryString(files[0]);
    },
    getTableData(e, files, index) {
      const fileReader = new FileReader();
      fileReader.onload = (e) => {
        try {
          const data = e.target.result;
          this.workdata = XLSX.read(data, {
            type: "binary",
          });
          // 获取sheets表名
          let sheetsNames = JSON.parse(
            JSON.stringify(this.workdata.SheetNames)
          );
          sheetsNames.forEach((item, index, arr) => {
            arr[index] = { key: item, name: item, index: index };
            console.log(item);
          });
          this.teleMetryChannel = sheetsNames;
          // 获取表头
          this.tableHeader = this.getTableHeader(this.workdata);
          const wsname = this.workdata.SheetNames[index]; //取第X张表
          const ws = XLSX.utils.sheet_to_json(this.workdata.Sheets[wsname]);
          this.tableContent = ws;
          this.data = this.tableContent;
          this.$refs.upload.value = "";
        } catch (err) {
          console.log(err);
        }
      };
      fileReader.readAsBinaryString(files[0]);
    },
    // 获取表头信息
    getTableHeader(workbook) {
      let result = {};
      workbook.SheetNames.forEach(function (sheetName) {
        var roa = XLSX.utils.sheet_to_json(workbook.Sheets[sheetName], {
          header: 1,
        });
        if (roa.length) {
          result[sheetName] = roa[0];
          result[sheetName].push("操作");
        }
      });
      return result;
    },
    // 变更页面表格数据的回调
    tranTableHeader() {
      console.log("标题数组变更");
      for (let item in this.tableHeader) {
        this.tableHeader[item].forEach((value, index, arr) => {
          // console.log(value+'-----'+item[value])
          arr[index] = { key: value, title: value, dataIndex: value};
        });
      }
      this.columns = this.tableHeader[Object.keys(this.tableHeader)[0]];
      this.data = this.tableContent;
    },
  },
  watch: {
    closeTabBar: {
      handler: function () {
        this.showTabBar();
      },
    },
    tableHeader() {
      this.tranTableHeader();
    },
  },
  beforeDestroy() {
    this.isShowTabBar = false;
  },
};
</script>

<style scoped>
::v-deep .ant-table-thead {
  background-color: none;
}
::v-deep .ant-table-thead > tr > th {
  height: 20px !important;
  color: rgb(255, 255, 255);
  padding: 6px 4px;
  text-align: center;
  /* font-size: 14px; */
  background-color: black;
}
::v-deep .ant-table-tbody > tr > td {
  height: 20px !important;
  border-bottom: none;
  color: white;
  text-align: center;
  padding: 6px 4px;
  background-color: none;
}
::v-deep .ant-table-tbody > tr > td :hover {
  background: #ff0000;
}
::v-deep
  .ant-table-tbody
  > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)
  > td {
  background: #4b22ff;
}
.teleMetWrap {
  /* width: 100%; */
  height: 100vh;
  color: white;
  /* background: #000; */
  background-image: url("~@/assets/img/teleMetry/background.png");
  background-size: 100% 100%;
  position: relative;
}
.teleMetWrap .dataList {
  width: 16%;
  height: 80%;
  background-color: rgba(15, 48, 97, 0.5);
  position: absolute;
  top: 10%;
  left: 2%;
  overflow: auto;
}
.teleMetWrap .dataList .teleMetryOutline {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.teleMetWrap .dataList .menuTop {
  height: 34px !important;
  line-height: 34px !important;
  /* background-color: darkorange; */
}
.teleMetWrap .dataList .menuTop .menuTitle {
  height: 34px !important;
  line-height: 34px !important;
  /* background-color: darkolivegreen; */
}
.teleMetWrap .dataList .menuItem {
  width: 100%;
  height: 36px;
  line-height: 36px;
  font-size: 13px;
  margin: 0 !important;
}
.teleMetWrap .dataList .menuItem:hover {
  background-color: rgb(24, 144, 255);
}
/*滚动条 start*/
.teleMetWrap .dataList::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
/*定义滚动条轨道 内阴影+圆角*/
.teleMetWrap .dataList::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);   */
  background: rgb(9, 5, 24);
}
/*定义滑块 内阴影+圆角*/
.teleMetWrap .dataList::-webkit-scrollbar-thumb {
  border-radius: 3px;
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);   */
  background-color: rgba(0, 227, 253);
}
.teleMetWrap .dataTable {
  width: 78%;
  height: 80%;
  background: rgba(15, 48, 97, 0.39);
  position: absolute;
  top: 10%;
  left: 20%;
}
.teleMetWrap .dataTable .tableWrap {
  width: 100%;
  height: 90%;
  overflow: auto;
}
/*滚动条 start*/
.teleMetWrap .dataTable .tableWrap::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
/*定义滚动条轨道 内阴影+圆角*/
.teleMetWrap .dataTable .tableWrap::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);   */
  background: rgb(9, 5, 24);
}
/*定义滑块 内阴影+圆角*/
.teleMetWrap .dataTable .tableWrap::-webkit-scrollbar-thumb {
  border-radius: 3px;
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);   */
  background-color: rgba(0, 227, 253);
}
.teleMetWrap .dataTable .createSourceCode {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.ant-menu-submenu-title {
  height: 34px !important;
  line-height: 34px !important;
}
</style>
