<template>
  <div class="container" ref="container">
    <!-- 头部 -->
    <TopHead
      :title="title"
      :isShowTabBar="isShowTabBar"
      :showTabBar="showTabBar"
    >
    </TopHead>
    <UserInfo></UserInfo>
    <!-- 信息卡片 -->
    <div class="teleMetryInfo">
      <Card
        title="遥测信息"
        :searchMethod="searchTeleMetryPlan"
        :serachData="teleMetryPlanName"
        :isReceive="false"
        :isControl="true"
        :teleMetryLogoInfo="teleMetryLogoInfo"
      ></Card>
    </div>
    <div class="teleControlInfo">
      <Card title="遥控信息" :isReceive="true" :serachData="teleConPlanName" :teleControlLogoInfo="teleControlLogoInfo"></Card>
    </div>
    <div class="breakDownInfo">
      <Card title="故障信息" :serachData="faultPlanName"></Card>
    </div>
    <div class="netConfig">
      <div class="netConfigTop">
        <span class="title">综合配置</span>
        <span class="onOff">
          <span
            :class="['onOffleft', simulationOn ? 'on' : '']"
            @click="changeStatus('inside')"
            >模拟</span
          >
          <span
            :class="['onOffRight', simulationOn ? '' : 'on']"
            @click="changeStatus('outside')"
            >外部</span
          >
        </span>
      </div>
      <div class="netInfo">
        <div class="downLoad">
          <a-switch
            :disabled="!isOutside"
            class="downBtn"
            checked-children="开"
            un-checked-children="关"
            :checked	="isTCchecked"
            @change="changeSwitchTC"
          />
          <div class="ipContainer">
            <div class="Ip">遥控接收IP：</div>
            <span><input :disabled="inputTC" class="inputBox" type="text" v-model="ipTC"/></span>
          </div>
          <div class="portContainer">
            <span class="Port">遥控接收端口：</span>
            <span><input :disabled="inputTC" class="inputBox" type="text" v-model="portTC"/></span>
          </div>
          <!-- <div class="confirmBtn" @click="netConfig">
            <a-icon style="font-size: 30px" type="cloud-download" />
            <div style="color: #17ad08">2.5M/S</div>
          </div> -->
        </div>
        <div class="upLoad">
          <a-switch
            :disabled="!isOutside"
            class="upBtn"
            checked-children="开"
            un-checked-children="关"
            :checked	="isTMchecked"
            @change="changeSwitchTM"
          />
          <div class="ipContainer">
            <div class="Ip">遥测发送IP：</div>
            <input :disabled="inputTM" class="inputBox" type="text" v-model="ipTM"/>
          </div>
          <div class="portContainer">
            <span class="Port">遥测发送端口：</span>
            <span><input :disabled="inputTM" class="inputBox" type="text" v-model="portTM"/></span>
          </div>
          <!-- <div class="confirmBtn" @click="netConfig">
            <a-icon style="font-size: 30px" type="cloud-upload" />
            <div style="color: #1562aa">2.5M/S</div>
          </div> -->
        </div>
      </div>
    </div>
    <!-- 姿态模拟 -->
    <div class="trakeCal">
      <div class="trakeCalTop">
        <span class="trakeTitle">姿态模拟</span>
        <span style="margin-left:6px;font-size:12px;color:#bfbfbf;">* J2000.0坐标系</span>
        <span class="calBtn">
          <span class="groundSun">
            <span :class="['toSun', postrueData.calculationType == 1? 'on' : '']" @click="changeTrake(1)"
              >对日</span
            >
            <span
              :class="['toTarget', postrueData.calculationType == 2? 'on' : '']" @click="changeTrake(2)"
              >对目标</span
            >
            <span
              :class="['toGround', postrueData.calculationType == 0? 'on' : '']" @click="changeTrake(0)"
              >对地</span
            >
          </span>
          <a-space>
            <a-button style="height:100%;" type="primary" size="small" @click="postrueCal">计算</a-button>
            <a-button style="height:100%;" :disabled="!showBegin" @click="beginPostrue" v-if="beginOrstop" size="small"><a-icon type="caret-right" /></a-button>
            <a-button style="height:100%;" :disabled="!showBegin" @click="stopPostrue" v-else size="small"><a-icon type="pause" /></a-button>
            <a-button style="height:100%;" :disabled="!showBegin" @click="delPostrue" size="small"><a-icon type="delete" /></a-button>
          </a-space>
        </span>
      </div>
      <div class="trakeCalMiddle">
        <a-row class="row rowOne " type="flex" justify="space-around">
          <a-col class="col" :span="8">
            <div class="dataName">历元时刻：</div>
            <el-date-picker
            style="width: 245px"
              size="mini"
              v-model="postrueData.dateTime"
              type="datetime"
              value-format='yyyy-MM-dd HH:mm:ss'
              placeholder="选择日期时间（UTC）">
            </el-date-picker>
          </a-col>
          <a-col class="col" :span="5">
            <span class="dataName">长半轴：</span>
            <a-input v-model="postrueData.getOrbit_A" class="dataInput"></a-input>
          </a-col>
          <a-col class="col" :span="5">
            <span class="dataName">平近点角：</span>
            <a-input v-model="postrueData.getOrbit_M" class="dataInput"></a-input>
          </a-col>
          <a-col class="col" :span="6">
            <span class="dataName">升交点赤经：</span>
            <a-input v-model="postrueData.getOrbit_RAAN" class="dataInput"></a-input>
          </a-col>
        </a-row>
        <a-row class="row rowOne" type="flex" justify="space-around">
          <a-col class="col" :span="4">
            <span class="dataName">步长：</span>
            <a-input v-model="postrueData.step" class="dataInput"></a-input>
          </a-col>
          <a-col class="col" :span="4">
            <span class="dataName">点数：</span>
            <a-input-number :min="1" v-model="postrueData.count" class="dataInput" style=""></a-input-number>
          </a-col>
          <a-col class="col" :span="5">
            <span class="dataName">偏心率：</span>
            <a-input v-model="postrueData.getOrbit_E" class="dataInput"></a-input>
          </a-col>
          <a-col class="col" :span="5">
            <span class="dataName" >倾角：</span>
            <a-input v-model="postrueData.getOrbit_I" class="dataInput"></a-input>
          </a-col>
          <a-col class="col" :span="6">
            <span class="dataName">近地点幅角：</span>
            <a-input v-model="postrueData.getOrbit_w" class="dataInput" ></a-input>
          </a-col>
        </a-row>
        <a-row class="row" type="flex" justify="space-between">
          <a-col class="col" :span="8">
            <span class="dataName">目标名称：</span>
            <a-input :disabled="postrueData.calculationType != 2" v-model="postrueData.targetName" :maxLength="5" class="dataInput" style="width:250px;"></a-input>
          </a-col>
          <a-col class="col" :span="5">
            <span class="dataName">目标经度：</span>
            <a-input :disabled="postrueData.calculationType != 2" v-model="postrueData.targetLongitude" class="dataInput" ></a-input>
          </a-col>
          <a-col class="col" :span="5">
            <span class="dataName">目标纬度：</span>
            <a-input :disabled="postrueData.calculationType != 2" v-model="postrueData.targetLatitude" class="dataInput" ></a-input>
          </a-col>
          <a-col class="col" :span="6">
            <span class="dataName">目标高度：</span>
            <a-input :disabled="postrueData.calculationType != 2" v-model="postrueData.targetHigh" class="dataInput" ></a-input>
          </a-col>
        </a-row>
      </div>
    </div>
    <!-- 姿态指示球 -->
    <div class="poseBallWrap">
      <div style="width:100%;height:100%;position:relative;">
        <div style="position:absolute;left:50%;bottom:50px;transform:translate(-50%,-50%);text-align:center;"><span class="postureName">模式：</span><span><span class="postureMsg">{{postrueData.calculationType == 0?'对地':postrueData.calculationType == 1?'对日':postrueData.calculationType == 2?this.postrueData.targetName:''}}</span></span></div>
        <div style="position:absolute;left:50%;top:-10px;transform:translate(-50%,-50%);"><span class="postureMsg">{{postrueMsg.time}}</span></div>
        <div style="position:absolute;left:50%;bottom:6px;transform:translate(-50%,-50%);text-align:center;"><span class="postureName">俯仰：</span><span class="postureMsg">{{postrueMsg.pitch}}</span></div>
        <div style="position:absolute;top:44%;left:30px;transform:translate(-50%,-50%);text-align:center;"><span class="postureName">翻滚</span><br><span class="postureMsg">{{postrueMsg.roll}}</span></div>
        <div style="position:absolute;top:44%;right:10px;transform:translate(0,-50%);text-align:center;"><span class="postureName">偏航</span><br><span class="postureMsg">{{postrueMsg.yaw}}</span></div>
        <img
          class="poseBall"
          src="@/assets/img/satSimulation/poseBall.png"
          alt=""
        />
      </div>
    </div>
    <!-- 右下角地球和测站底图 -->
    <div class="earth">
      <div class="sat"></div>
      <div class="earthImg"></div>
      <!-- <div class="downLink" v-if="showDownLink">
        <div class="son1"></div>
        <div class="son1"></div>
        <div class="son1"></div>
      </div> -->
      <div class="downLink" v-if="showDownLink">
        <div class="line" style="left: -50px;background-color:#1a8efa;"></div>
        <div class="line" style="left: -50px;animation-delay: 0.4s;background-color:#1a8efa;"></div>	
        <div class="line" style="left: -50px;animation-delay: 0.8s;background-color:#1a8efa;"></div>	
        <div class="line" style="left: -50px;animation-delay: 1.2s;background-color:#1a8efa;"></div>	
        <div class="line" style="left: -50px;animation-delay: 1.6s;background-color:#1a8efa;"></div>	
      </div>
      <!-- <div class="upLink" v-if="showUpLink">
        <div class="son2"></div>
        <div class="son2"></div>
        <div class="son2"></div>
      </div> -->
      <div class="upLink" v-if="showUpLink">
        <div class="line" style="left: -50px;background-color:#1afa1a"></div>
        <div class="line" style="left: -50px;animation-delay: 0.4s;background-color:#1afa1a"></div>	
        <div class="line" style="left: -50px;animation-delay: 0.8s;background-color:#1afa1a"></div>	
        <div class="line" style="left: -50px;animation-delay: 1.2s;background-color:#1afa1a"></div>	
        <div class="line" style="left: -50px;animation-delay: 1.6s;background-color:#1afa1a"></div>	
      </div>
      <div class="station"></div>
    </div>
    <FullScreen></FullScreen>
  </div>
</template>

<script>
import req from "@/network/index";
import {WSUrl} from '@/network/urlConfig'
import UserInfo from "@/components/layout/userInfo.vue";
import Card from "@/components/layout/Card";
import FullScreen from "@/components/layout/fullScreen.vue";
import TopHead from "@/components/layout/TopHead";
import locale from 'ant-design-vue/es/date-picker/locale/zh_CN';
export default {
  name: "simulation",
  components: { TopHead, Card, FullScreen, UserInfo },
  data() {
    return {
      locale,
      title: "卫星模拟",
      // 控制菜单栏的显示隐藏
      isShowTabBar: false,
      // 控制全屏按钮显示隐藏
      isFullScreen: false,
      // 日志信息
      teleMetryInfo: [],
      teleControlInfo: [],
      breakDownInfo: [],
      // 模拟或对外标识符
      simulationOn: true,
      // 对日或者对地
      toTheGround: false,
      // 遥测计划管理数据
      teleMetryPlanName: [],
      // websocket
      socket: "",
      // 遥测日志数据
      teleMetryLogoInfo: [],
      // 遥控计划名
      teleConPlanName:[],
      teleControlLogoInfo:[],
      // 本地故障计划名
      faultPlanName:[],
      // 历史故障计划文件名列表
      FPNameList:[],
      // 网络配置
      simuOrExter:1,
      ipTC:'127.0.0.1',
      portTC:'8888',
      ipTM:'192.168.109.1',
      portTM:'6000',
      isOutside:false,
      isTCchecked:false,
      isTMchecked:false,
      inputTM:true,
      inputTC:true,
      // 姿态模拟
      postrueData:{
        targetName:'',
        calculationType:'0',
        dateTime:'',
        count:'100',
        step:'1',
        getOrbit_A:'29420300.0',  //卫星轨道半长轴
        getOrbit_E:'0.000002',   //卫星轨道偏心率
        getOrbit_I:'90.0', //卫星轨道倾角
        getOrbit_w:'92.398',   //卫星轨道近地点幅角
        getOrbit_RAAN:'11.665',  //卫星轨道升交点赤经Ω
        getOrbit_M:'125.636',   //卫星轨道平近点角
        targetLatitude:'38.1',
        targetLongitude:'118.6',
        targetHigh:'38',
      },
      postrueRes:[],
      postrueMsg:{},
      // 信号动画
      showDownLink:false,
      showUpLink:false,
      // 姿态模拟计时器
      interval:'',
      beginOrstop:true,
      PDindex:0,
      showBegin:false,
    };
  },
  props: ["closeTabBar", "tabBarOpending"],
  // beforeCreate() {
  //   this.$bus.$on("changSize", this.changSize);
  // },
  mounted() {
    // console.log(this.$children)
    // 如果菜单栏展开时，内容区左侧缩进
    if (this.$parent.tabBarOpending) {
      this.showTabBar();
    }
    // 获取遥测数据计划列表
    if(sessionStorage.getItem("telemetryNameList")){
      let names = JSON.parse(sessionStorage.getItem("telemetryNameList"))
      this.teleMetryPlanName = [...names,...this.teleMetryPlanName];
    }
    // this.teleMetryInfo = JSON.parse(sessionStorage.getItem("teleMetryChannel"));
    // 获取遥控数据
    this.teleConPlanName = JSON.parse(sessionStorage.getItem('TeleConPlanNameList'))
    // 获取故障计划列表
    this.faultPlanName = JSON.parse(sessionStorage.getItem('faultPlanNameList')) || []
    // 初始化websocket
    this.init();
    // this.getHistoryPlan()
    // setTimeout(() => {
    //   this.getFPHistoryPlan()
    // }, 100);
  },
  methods: {
    // 清空姿态数据
    delPostrue(){
      clearInterval(this.interval);
      this.postrueMsg = {}
      this.PDindex = 0
      this.postrueRes = []
      for(let item in this.postrueData){
        this.postrueData[item] = ''
      }
      this.beginOrstop = false
    },
    // 开始播放姿态数据
    beginPostrue(){
      this.beginOrstop = !this.beginOrstop
      this.showPostrueMsg(this.PDindex)
    },
    stopPostrue(){
      this.beginOrstop = !this.beginOrstop
      this.stopShowPostrueMsg()
    },
    // 获取故障计划文件列表
    getFPHistoryPlan(){
      this.FPNameList = []
      // let that = this
      req({
        method: "get",
        url: "/getJsonFilePath",
      }).then((res) => {
        console.log(res.data)
        if (res.data.code == "200") {
          console.log("故障计划文件列表获取成功");
          let result = res.data.data;
          for (let item of result) {
            let a = item.split(".")[0];
            // 记录后端故障历史计划文件名列表数据
            this.FPNameList.push(a)
            if(this.faultPlanName.indexOf(a) == -1 && a != 'breakEditData'){
              this.faultPlanName.unshift(a)
            }
          }
        } else {
          console.log("故障计划文件列表获取失败");
        }
      });
    },
    // 外部遥测开关按钮
    changeSwitchTM(checked,Event){
      let outData = {}
      if(checked){
        this.isTMchecked = true
        outData = {
          SimulationIP:this.ipTM,
          SimulationPort:this.portTM,
        }
      }else{
        this.isTMchecked = false
        outData = {
          SimulationIP:'-1',
          SimulationPort:-1,
        }
      }
      this.sendIpAndPort(outData)
    },
    // 外部遥控开关按钮
    changeSwitchTC(checked,Event){
      // let outData = {}
      if(checked){
        this.isTCchecked = true
        // outData = {
        //   TelecontrolIP:this.ipTC,
        //   TelecontrolPort:this.portTC,
        // }
      }else{
        this.isTCchecked = false
        // this.ipTC = ''
        // this.portTC = ''
      }
    },
    // 发送IP和端口
    sendIpAndPort(data){
      req({
        method: "post",
        url: "/telecontrol/uploadIPAndPort",
        data,
      }).then((res) => {
        if (res.data.code == "200") {
          console.log("遥测外部发送成功")
        }else{
          that.$message.error('遥测外部发送失败!')
        }
      })
    },
    // 改变配置选项的模拟状态
    changeStatus(type) {
      this.simulationOn = !this.simulationOn;
      if(type == 'outside'){
        this.isOutside = true
        // this.inputTC= true
        this.inputTC= false
        this.inputTM = false
      }else if(type == 'inside'){
        this.inputTC= true
        this.inputTM = true
        this.isTCchecked = false
        this.isTMchecked = false
        this.isOutside = false
      }
    },
    // 发送姿态配置信息
    postrueCal(){
      let data = JSON.parse(JSON.stringify(this.postrueData))
      console.log(data)
      req({
        method: "post",
        url: "/getStance",
        data:data
      }).then((res) => {
        console.log(res.data)
        if (res.data.code == "200") {
          this.postrueRes = res.data.data
          this.showBegin = true
          // this.showPostrueMsg()
          console.log("姿态信息发送成功");
        } else {
          console.log("姿态信息发送失败");
        }
      });
    },
    showPostrueMsg(dataIndex){
      let PDcache = {}
      // clearInterval(this.interval);
      let n = dataIndex || 0
      this.interval = setInterval(() => {
        if(n <= this.postrueData.count){
          this.PDindex = n
          // this.postrueRes[n].time = this.getPostrueTime(this.postrueRes[n].time)
          // this.postrueRes[n].pitch = this.postrueRes[n].pitch.toFixed(5)
          // this.postrueRes[n].roll = this.postrueRes[n].roll.toFixed(5)
          // this.postrueRes[n].yaw = this.postrueRes[n].yaw.toFixed(5)
          // this.postrueMsg = this.postrueRes[n]

          PDcache.time = this.getPostrueTime(this.postrueRes[n].time)
          PDcache.pitch = this.postrueRes[n].pitch.toFixed(5)
          PDcache.roll = this.postrueRes[n].roll.toFixed(5)
          PDcache.yaw = this.postrueRes[n].yaw.toFixed(5)
          this.postrueMsg = PDcache
          // console.log(this.postrueMsg)
          n++
        }else{
          this.postrueMsg = {}
          n = 0
          this.PDindex = 0
          // clearInterval(this.interval);
        }
      }, this.postrueData.step*1000);
    },
    stopShowPostrueMsg(){
      clearInterval(this.interval);
      this.postrueMsg.time = this.getPostrueTime(this.postrueRes[this.PDindex].time)
      this.postrueMsg.pitch = this.postrueRes[this.PDindex].pitch.toFixed(5)
      this.postrueMsg.roll = this.postrueRes[this.PDindex].roll.toFixed(5)
      this.postrueMsg.yaw = this.postrueRes[this.PDindex].yaw.toFixed(5)
      // this.postrueMsg = this.postrueRes[this.PDindex]
      this.PDindex = this.PDindex + 1
    },
    // 发送网络配置
    netConfig(){
      console.log("触发了方法")
      // if(this.ipTC && this.portTC){
      //   console.log('有接收信息')
      // }
      // if(this.ipTM && this.portTM){
      //   console.log("有发送信息")
      // }
      if(!((this.ipTC && this.portTC) || (this.ipTM && this.portTM))){
        this.$message.warning("请输入IP以及端口")
        return  
      }
      let data = {
        flag:this.simuOrExter,
        TelecontrolIP:this.ipTC,
        TelecontrolPort:this.portTC,
        SimulationIP:this.ipTM,
        SimulationPort:this.portTM,
      }
      console.log(data)
      // req({
      //   method: "post",
      //   url: "/telecontrol/getIPAndPort",
      //   data:{}
      // }).then((res) => {
      //   if (res.data.code == "200") {
      //     console.log("遥测历史文件获取成功");
      //     let result = res.data.data;
      //     for (let item of result) {
      //       let a = item.split(".")[0];
      //       if(that.teleMetryPlanName.indexOf(a) == -1){
      //         that.teleMetryPlanName.unshift(a)
      //       }
      //     }
      //   } else {
      //     console.log("遥测历史文件获取失败");
      //   }
      // });
    },
    // 初始化websocket
    init() {
      if (typeof WebSocket === "undefined") {
        alert("您的浏览器不支持socket");
      } else {
        // 实例化socket
        // this.socket = new WebSocket("ws://192.168.1.95:8888/imserver");
        // this.socket = new WebSocket("ws://192.168.1.83:8888/imserver");
        this.socket = new WebSocket(WSUrl);
        // 监听socket连接
        this.socket.onopen = this.open;
        // 监听socket错误信息
        this.socket.onerror = this.error;
        // 监听socket消息
        this.socket.onmessage = this.getMessage;
        this.socket.onclose = this.close;
      }
    },
    // 获取历史遥测计划文件列表
    getHistoryPlan() {
      let that = this
      req({
        method: "get",
        url: "/getExcelFilePath",
      }).then((res) => {
        if (res.data.code == "200") {
          console.log("遥测历史文件获取成功");
          let result = res.data.data;
          for (let item of result) {
            let a = item.split(".")[0];
            if(that.teleMetryPlanName.indexOf(a) == -1){
              that.teleMetryPlanName.unshift(a)
            }
          }
        } else {
          console.log("遥测历史文件获取失败");
        }
      });
      // console.log(this.teleMetryPlanName)
    },
    open() {
      console.log("socket连接成功");
    },
    error() {
      console.log("连接错误");
    },
    getMessage(msg) {
      // console.log(msg)
      console.log(msg.data)
      if(msg.data == '连接成功'){return}
      let results = JSON.parse(msg.data);
      if(Object.keys(results)[0] == 'Simulation'){
        let result = [];
        for (let item in results.Simulation) {
          // console.log(item)
          // console.log(first)
          let oneLogo = {};
          oneLogo.name = item;
          oneLogo.value = this.timeChange(results.Simulation[item])
          result.push(oneLogo);
        }
        // console.log(result)
        this.teleMetryLogoInfo.unshift(result);
      }else if(Object.keys(results)[0] == 'telecontrol'){
        let result = [];
        for (let item in results.telecontrol) {
          // console.log(item)
          // console.log(results.telecontrol[item])
          let oneLogo = {};
          oneLogo.nowTime = this.timeChange(item)
          oneLogo.name = results.telecontrol[item];
          oneLogo.dataType = 'outside'
          result.push(oneLogo);
        }
        // console.log(result)
        this.$children[3].teleConLogoInfo.unshift(result);
      }
    },
    send() {
      this.socket.send(params);
    },
    close() {
      console.log("socket已经关闭");
    },
    searchTeleMetryPlan() {
      console.log(this.title);
    },
    timeChange(time) {
      // console.log(time)
      time = Number(time)
      // console.log(time)
      var date = new Date(time); 
      var h = date.getHours() + " : ";
      var m = date.getMinutes() < 10
          ? "0" + date.getMinutes() + " : "
          : date.getMinutes() + " : ";
      var s =  date.getSeconds() < 10
          ? "0" + date.getSeconds() + " . "
          : date.getSeconds() + " . ";
      var ms = date.getMilliseconds() < 10
          ? "00" + date.getMilliseconds()
          : date.getMilliseconds() < 100
          ? "0" + date.getMilliseconds()
          : date.getMilliseconds()
      return h + m + s + ms;
    },
    getPostrueTime(time) {
      var date = new Date(time); 
      let Y = date.getFullYear() + '-';
      let M = date.getMonth() + '-';
      let D = date.getDate() + ' ';
      var h = date.getHours() + ":";
      var m = date.getMinutes() < 10
          ? "0" + date.getMinutes() + ":"
          : date.getMinutes() + ":";
      var s = date.getSeconds() < 10
          ? "0" + date.getSeconds() 
          : date.getSeconds();
      return Y +M + D + h + m + s;
    },
    // 改变对日对地姿态模拟
    changeTrake(n) {
      this.postrueData.calculationType = n;
    },
    // 展开侧边菜单栏
    showTabBar() {
      this.isShowTabBar = !this.isShowTabBar;
      this.$parent.$refs.tabBar.style.display = this.isShowTabBar
        ? "block"
        : "none";
      this.$refs.container.style.marginLeft = this.isShowTabBar ? "150px" : "0";
      if (this.isShowTabBar) {
        this.$parent.tabBarOpending = true;
      }
    },
    // 用于收起菜单栏
    changSize(value) {
      this.showTabBar();
    },
    //进入全屏
    requestFullScreen() {
      var de = document.documentElement;
      if (de.requestFullscreen) {
        de.requestFullscreen();
      } else if (de.mozRequestFullScreen) {
        de.mozRequestFullScreen();
      } else if (de.webkitRequestFullScreen) {
        de.webkitRequestFullScreen();
      }
      this.isFullScreen = true;
    },
    //退出全屏
    exitFullscreen() {
      var de = document;
      if (de.exitFullscreen) {
        de.exitFullscreen();
      } else if (de.mozCancelFullScreen) {
        de.mozCancelFullScreen();
      } else if (de.webkitCancelFullScreen) {
        de.webkitCancelFullScreen();
      }
      this.isFullScreen = false;
    },
  },
  watch: {
    closeTabBar: {
      handler: function () {
        this.showTabBar();
      },
    },
  },
  beforeDestroy() {
    this.isShowTabBar = false;
    this.socket.close()
    clearInterval(this.interval);
  },
};
</script>

<style>
::v-deep .ant-input{
  color:white;
  font-size: 12px;
  background-color:transparent
}
::v-deep .ant-calendar-picker-input{
  color:white;
  font-size: 12px;
  background-color:transparent
}
::v-deep .ant-calendar-picker{
  color:white;
  font-size: 12px;
  background-color:transparent
}
.el-input__inner{
  color:white !important;
  font-size: 12px !important;
  background-color:transparent !important
}
.ant-input-number-input{
  height: 24px !important;
}
/* @keyframes mymove {
  from {
    left: -100%;
  }
  to {
    left: 100%;
  }
}
@keyframes mymove2 {
  from {
    right: -100%;
  }
  to {
    right: 100%;
  }
} */
@keyframes slide { 
  from { 
    transform: translate(-30); 
  } 
  to { 
    transform: translate(860px); 
  } 
}

.container {
  /* width: 100vw; */
  height: 100vh;
  color: white;
  background-image: url("~@/assets/img/satSimulation/background.png");
  background-size: 100% 100%;
  /* box-sizing: border-box; */
  position: relative;
}
.container .teleMetryInfo {
  width: 31%;
  height: 32%;
  position: absolute;
  left: 2%;
  top: 11%;
}
.container .teleControlInfo {
  width: 31%;
  height: 32%;
  position: absolute;
  left: 34%;
  top: 11%;
  z-index: 100;
}
.container .breakDownInfo {
  width: 31%;
  height: 32%;
  position: absolute;
  left: 2%;
  top: 45%;
}
.container .netConfig {
  width: 31%;
  height: 32%;
  border: 2px solid #31d4f5;
  background: linear-gradient(180deg, #103c70 0%, #081e38 100%);
  /* background: #16181c; */
  position: absolute;
  left: 34%;
  top: 45%;
  z-index: 15;
}
.container .netConfig .netConfigTop {
  height: 10%;
  width: 100%;
  position: relative;
  /* border-bottom: 1px solid black; */
  /* background: rgb(15, 15, 15); */
  /* opacity: 0.8; */
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.container .netConfig .netConfigTop .title {
  color: #ffffff;
  font-size: 16px;
  font-family: Source Han Sans CN;
  font-weight: bold;
  padding-left: 10px;
  /* border-bottom: 1px solid black; */
}
.container .netConfig .netConfigTop .onOff {
  width: 40%;
  font-size: 12px;
  color: #929292;
  /* position: absolute; */
  /* right: 50px; */
  /* top:50%; */
}
.container .netConfig .netConfigTop .onOff .onOffleft {
  width: 46px;
  text-align: center;
  /* align-self:center; */
  padding: 1px 8px;
  border: 1px solid rgb(88, 83, 83);
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.container .netConfig .netConfigTop .onOff .onOffRight {
  width: 46px;
  text-align: center;
  /* align-self:center; */
  padding: 1px 8px;
  border: 1px solid rgb(88, 83, 83);
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.container .netConfig .netConfigTop .onOff .on {
  background: rgb(22, 118, 207);
  color: #fff;
  /* font-weight: bold; */
}
.container .netConfig .netInfo {
  width: 100%;
  height: 90%;
  /* background: rgba(22, 24, 28, 0.9); */
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}
.container .netConfig .netInfo .inputBox {
  width: 60%;
  height: 100%;
  padding-left: 6px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background-color: transparent;
  outline: none;
}
.container .netConfig .netInfo .confirmBtn {
  height: 78%;
  width: 12%;
  border: 1px solid rgb(163, 163, 163);
  position: absolute;
  left: 84%;
  top: 8%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  cursor:pointer
}
.container .netConfig .netInfo .inputBox:focus {
  border-color: #40a9ff;
}
.container .netConfig .netInfo .downLoad {
  width: 100%;
  height: 36%;
  /* background: cornflowerblue; */
  position: relative;
}
.container .netConfig .netInfo .downLoad .downBtn {
  position: absolute;
  left: 2%;
  top: 32%;
}
.container .netConfig .netInfo .downLoad .ipContainer {
  width: 90%;
  height: 30%;
  position: absolute;
  left: 14%;
  top: 8%;
}
.container .netConfig .netInfo .downLoad .ipContainer .Ip {
  display: inline-block;
  width: 100px;
  text-align: right;
}
.container .netConfig .netInfo .downLoad .portContainer {
  width: 90%;
  height: 30%;
  position: absolute;
  left: 14%;
  top: 54%;
}
.container .netConfig .netInfo .downLoad .portContainer .Port {
  display: inline-block;
  width: 100px;
  text-align: right;
}
.container .netConfig .netInfo .upLoad {
  width: 100%;
  height: 36%;
  /* background: darkcyan; */
  position: relative;
}
.container .netConfig .netInfo .upLoad .ipContainer {
  width: 90%;
  height: 30%;
  position: absolute;
  left: 14%;
  top: 8%;
}
.container .netConfig .netInfo .upLoad .upBtn {
  position: absolute;
  left: 2%;
  top: 32%;
}
.container .netConfig .netInfo .upLoad .ipContainer .Ip {
  display: inline-block;
  width: 100px;
  text-align: right;
}
.container .netConfig .netInfo .upLoad .portContainer {
  width: 90%;
  height: 30%;
  position: absolute;
  left: 14%;
  top: 54%;
}
.container .netConfig .netInfo .upLoad .portContainer .Port {
  display: inline-block;
  width: 100px;
  text-align: right;
}
.container .trakeCal {
  width: 63%;
  height: 18%;
  position: absolute;
  left: 2%;
  top: 79%;
  color: #fff;
  z-index: 11;
  border: 2px solid #31d4f5;
  background: linear-gradient(180deg, #103c70 0%, #081e38 100%);
  /* background-color: aqua; */
}
.container .trakeCal .trakeCalTop {
  height: 20%;
  width: 100%;
  /* background: rgb(15, 15, 15); */
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  /* border-bottom: 1px solid black; */
  position: relative;
}
.container .trakeCal .trakeCalTop .trakeTitle {
  color: #1386e5;
  font-size: 16px;
  font-family: Source Han Sans CN;
  font-weight: bold;
  padding-left: 10px;
}
.container .trakeCal .trakeCalTop .groundSun {
  /* width: 20%; */
  font-size: 12px;
  color: #929292;
  cursor: pointer;
  margin-right:10px;
  /* position: absolute;
  right: 20%; */
}
.container .trakeCal .trakeCalTop .calBtn {
  height: 85%;
  position: absolute;
  right: 2%;
}
.container .trakeCal .trakeCalTop .groundSun .toSun {
  width: 46px;
  height:100%;
  text-align: center;
  padding: 1px 8px;
  border: 1px solid rgb(165, 165, 165);
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.container .trakeCal .trakeCalTop .groundSun .toTarget {
  width: 50px;
  height:100%;
  text-align: center;
  padding: 1px 8px;
  border: 1px solid rgb(165, 165, 165);
  /* border-top-left-radius: 6px;
  border-bottom-left-radius: 6px; */
}
.container .trakeCal .trakeCalTop .groundSun .toGround {
  width: 46px;
  height:100%;
  text-align: center;
  padding: 1px 8px;
  border: 1px solid rgb(165, 165, 165);
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.container .trakeCal .trakeCalTop .groundSun .on {
  background: rgb(46, 184, 194);
  color: #fff;
  border: 1px solid rgb(46, 184, 194);
}
.container .trakeCal .trakeCalMiddle {
  width: 100%;
  height: 80%;
  overflow: hidden;
  font-size: 13px;
  /* background: rgba(22, 24, 28, 0.9); */
  /* padding-left: 1%; */
  /* display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center; */
}
.container .trakeCal .trakeCalMiddle .rowOne {
  width: 100%;
  margin: 6px 0 6px;
}
.container .trakeCal .trakeCalMiddle .row .col {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  /* align-items: center; */
  /* vertical-align: middle; */
  /* font-size: 14px; */
  height: 100%;
  line-height: 200%;
}
.container .trakeCal .trakeCalMiddle .dataName {
  /* width: 8%; */
  height: 20px;
  width: 78px;
  text-align: right;
  overflow: hidden;
}
.container .trakeCal .trakeCalMiddle .dataInput {
  width: 90px;
  height: 24px;
  line-height: 24px;
  color: rgb(255, 255, 255);
  background: transparent;
  font-size: 12px;
  /* padding-left: 5px; */
  border-color: #ffffff;
  vertical-align: middle
}
.container .trakeCal .trakeCalMiddle .dataGrounpUp {
  margin-bottom: 2vh;
}
.container .trakeCal .trakeCalMiddle .cal {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}
.container .poseBallWrap {
  /* width: 16%;
  height: 16%; */
  position: absolute;
  right: 1%;
  top: 10%;
}
.container .poseBallWrap .postureName{
  color:#50aff8;
  font-weight: 700;
}
.container .poseBallWrap .postureMsg{
  color:#10f55c;
  font-weight: 700;
}
.container .poseBallWrap .poseBall {
  width: 310px;
  /* height: 130%; */
}
.container .earth {
  width: 800px;
  height: 800px;
  position: absolute;
  right: 0;
  bottom: 0;
}
.container .earth .earthImg {
  width: 780px;
  height: 480px;
  position: fixed;
  right: -80px;
  bottom: -50px;
  background-image: url("~@/assets/img/satSimulation/earth.png");
  background-repeat: no-repeat;
  /* background-position: left top; */
  background-size: 90%;
}
.container .earth .fullScreenBtn {
  position: absolute;
  font-size: 26px;
  right: 18px;
  bottom: 10px;
}
.container .earth .station {
  width: 80px;
  height: 70px;
  position: fixed;
  right: 20px;
  bottom: 140px;
  background-image: url("~@/assets/img/satSimulation/station.png");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
  z-index: 2;
}
.container .earth .sat {
  width: 220px;
  height: 350px;
  position: fixed;
  right: 300px;
  bottom: 200px;
  background-image: url("~@/assets/img/satSimulation/sat.png");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 90%;
  z-index: 10;
}
/* .container .earth .dataLink {
  width: 360px;
  height: 2px;
  transform: rotate(28deg);
  z-index: 10;
  border: none;
  overflow: hidden;
} */

.container .earth .downLink {
  width: 360px;
  height: 2px;
  transform: rotate(28deg);
  z-index: 10;
  border: none;
  overflow: hidden;
  position: fixed;
  right: 70px;
  bottom: 280px;
  /* background-color: red; */
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;

  /* transform:rotate(45deg);
  width: 800px;
  height: 50px; */
  /* position: relative; */
  /* top: 300px;
  left: 100px; */
  /* overflow: hidden; */
}
.container .earth .downLink .son1 {
  width: 60px;
  height: 2px;
  margin: 0 30px;
  display: inline-block;
  background: #f81629;
  animation: mymove 1.5s linear infinite;
  position: relative;
  animation-delay: 1.5s;
}
.container .earth .upLink {
  width: 360px;
  height: 2px;
  transform: rotate(-152deg);
  z-index: 10;
  border: none;
  overflow: hidden;
  position: fixed;
  right: 54px;
  bottom: 300px;
  /* display: flex; */
  /* flex-flow: row nowrap; */
  /* justify-content: space-around; */
  /* background-color: blue; */
  /* overflow: hidden; */
}
.container .earth .upLink .son2 {
  width: 60px;
  height: 2px;
  margin: 0 30px;
  display: inline-block;
  background: #fffb10;
  animation: mymove2 1.5s linear infinite;
  animation-delay: 1.5s;
  position: relative;
}
.line { 
  width: 50px;
  height: 3px;
  display: inline-block;
  position: absolute;
  animation-name: slide;
  animation-duration: 2s; 
  animation-timing-function: linear; 
  animation-iteration-count: infinite;
} 
</style>
