<template>
  <div class="teleMetWrap" ref="container">
    <TopHead
      :title="title"
      :isShowTabBar="isShowTabBar"
      :showTabBar="showTabBar"
    ></TopHead>
    <div class="dataList">
      <div class="teleMetryOutline">
        <!-- 加载遥测大纲 -->
        <a-button type="primary" @click="loadTeleMetryOutline">
          加载遥测大纲
        </a-button>
      </div>
      <!-- 遥测大纲列表 -->
      <div>
        <a-menu
          style="width: 100%"
          :open-keys.sync="openKeys"
          mode="inline"
          theme="dark"
        >
          <!-- 遥测大纲 -->
          <a-sub-menu key="sub1">
            <span slot="title"
              ><a-icon type="setting" /><span>遥测大纲</span></span
            >
            <a-menu-item
              class="menuItem"
              v-for="item in outlineList"
              :key="item"
              @click="showOutLineData"
              >{{ item }}</a-menu-item
            >
          </a-sub-menu>
          <!-- 配置数据结构 -->
          <a-sub-menu key="sub2">
            <span slot="title" class="menuTop"
              ><a-icon class="menuTitle" type="setting" /><span
                class="menuTitle"
                >配置数据结构</span
              ></span
            >
            <a-menu-item
              class="menuItem"
              v-for="item in customDataStruc"
              :key="item.index"
              @click="showCustomItem(item)"
              >{{ item }}</a-menu-item
            >
          </a-sub-menu>
          <!-- 测控信道 -->
          <a-sub-menu key="sub3">
            <span slot="title" class="menuTop"
              ><a-icon class="menuTitle" type="setting" /><span
                class="menuTitle"
                >测控信道</span
              ></span
            >
            <a-menu-item
              class="menuItem"
              v-for="item in className"
              @click="checkOutLine(item)"
              :key="item"
            >
              {{ item }}
            </a-menu-item>
          </a-sub-menu>
          <!-- 遥测计划管理 -->
          <a-sub-menu key="sub4">
            <span slot="title" class="menuTop"
              ><a-icon class="menuTitle" type="setting" /><span
                class="menuTitle"
                >遥测计划管理</span
              ></span
            >
            <a-menu-item
              class="menuItem"
              v-for="item in telemetryNameList"
              :key="item.index"
            >
              <span @click="getHisPlanData(item)" style="width:100px;height:100%;">{{ item }}</span>
              <a-popconfirm
                placement="topRight"
                :title="'确认删除' + item + '计划吗?'"
                ok-text="确认"
                cancel-text="取消"
                @confirm="deleteTeleMetryPlan(item)"
              >
                <a-icon
                  type="close-circle"
                  style="position: absolute; right: 2px"
                />
              </a-popconfirm>
            </a-menu-item>
          </a-sub-menu>
        </a-menu>
      </div>
    </div>
    <div class="dataTable">
      <div v-if="showModule == 1" class="customFrameStr">
        <div v-show="customItem == 1" class="frame">
          <vxe-table
            border
            resizable
            show-overflow
            align="center"
            ref="xTable1"
            :column-config="{ height: 200 }"
            :edit-rules="frameValidRules"
            :edit-config="{ trigger: 'click', mode: 'cell' }"
            :data="frameTableData"
          >
            <vxe-column field="frameSyncCode" title="帧同步码" :edit-render="{}">
              <template #edit="scope">
                <vxe-input
                  v-model="scope.row.frameSyncCode"
                  type="text"
                  @change="tableChange(scope)"
                ></vxe-input>
              </template>
            </vxe-column>
            <vxe-colgroup title="帧主导头">
              <vxe-column
                field="frameVersion"
                title="帧版本号"
                :edit-render="{}"
              >
                <template #edit="scope">
                  <vxe-input
                    v-model="scope.row.frameVersion"
                    type="text"
                    @change="$refs.xTable1.updateStatus(scope)"
                  ></vxe-input>
                </template>
              </vxe-column>
              <vxe-column
                field="satelliteCode"
                title="卫星识别码"
                :edit-render="{}"
              >
                <template #edit="scope">
                  <vxe-input
                    v-model="scope.row.satelliteCode"
                    type="text"
                    @change="$refs.xTable1.updateStatus(scope)"
                  ></vxe-input>
                </template>
              </vxe-column>
              <vxe-column
                field="virtualChannelSign"
                title="虚拟信道标识"
                :edit-render="{}"
              >
                <template #edit="scope">
                  <vxe-input
                    v-model="scope.row.virtualChannelSign"
                    type="text"
                    @change="$refs.xTable1.updateStatus(scope)"
                  ></vxe-input>
                </template>
              </vxe-column>
              <vxe-column
                field="operationControlSign"
                title="操作控制域标志"
                :edit-render="{}"
              >
                <template #edit="scope">
                  <vxe-input
                    v-model="scope.row.operationControlSign"
                    type="text"
                    @change="$refs.xTable1.updateStatus(scope)"
                  ></vxe-input>
                </template>
              </vxe-column>
              <!-- <vxe-column
                field="primaryChannalCount"
                title="主信道帧计数"
                :edit-render="{}"
              >
                <template #edit="scope">
                  <vxe-input
                    v-model="scope.row.primaryChannalCount"
                    type="text"
                    @change="$refs.xTable1.updateStatus(scope)"
                  ></vxe-input>
                </template>
              </vxe-column>
              <vxe-column
                field="virtualChannalCount"
                title="虚拟信道帧计数"
                :edit-render="{}"
              >
                <template #edit="scope">
                  <vxe-input
                    v-model="scope.row.virtualChannalCount"
                    type="text"
                    @change="$refs.xTable1.updateStatus(scope)"
                  ></vxe-input>
                </template>
              </vxe-column> -->
              <vxe-column
                field="frameDataStatus"
                title="帧数据域状态"
                :edit-render="{}"
              >
                <template #edit="scope">
                  <vxe-input
                    v-model="scope.row.frameDataStatus"
                    type="text"
                    @change="$refs.xTable1.updateStatus(scope)"
                  ></vxe-input>
                </template>
              </vxe-column>
              <!-- <vxe-column
                field="primaryGuidePointer"
                title="主导头指针"
                :edit-render="{}"
              >
                <template #edit="scope">
                  <vxe-input
                    v-model="scope.row.primaryGuidePointer"
                    type="text"
                    @change="$refs.xTable1.updateStatus(scope)"
                  ></vxe-input>
                </template>
              </vxe-column> -->
            </vxe-colgroup>
            <vxe-colgroup title="帧副导头">
              <vxe-column field="frameViceGuideVersion" title="帧副导头版本号" :edit-render="{}">
                <template #edit="scope">
                  <vxe-input
                    v-model="scope.row.frameViceGuideVersion"
                    type="text"
                    @change="$refs.xTable1.updateStatus(scope)"
                  ></vxe-input>
                </template>
              </vxe-column>
              <vxe-column
                field="frameViceGuideLength"
                title="帧副导头长度"
                :edit-render="{}"
              >
                <template #edit="scope">
                  <vxe-input
                    v-model="scope.row.frameViceGuideLength"
                    type="text"
                    @change="$refs.xTable1.updateStatus(scope)"
                  ></vxe-input>
                </template>
              </vxe-column>
            </vxe-colgroup>
            <vxe-colgroup title="帧副导头数据">
              <vxe-column
                field="encryptedInfo"
                title="加密信息"
                :edit-render="{}"
              >
                <template #edit="scope">
                  <vxe-input
                    v-model="scope.row.encryptedInfo"
                    type="text"
                    @change="$refs.xTable1.updateStatus(scope)"
                  ></vxe-input>
                </template>
              </vxe-column>
              <vxe-column
                field="fixedTelemetry"
                title="固定遥测"
                :edit-render="{}"
              >
                <template #edit="scope">
                  <vxe-input
                    v-model="scope.row.fixedTelemetry"
                    type="text"
                    @change="$refs.xTable1.updateStatus(scope)"
                  ></vxe-input>
                </template>
              </vxe-column>
            </vxe-colgroup>
          </vxe-table>
          <div
            style="
              width: 100%;
              text-align: right;
              font-size: 14px;
              color: rgb(216, 41, 41);
            "
          >
            * 输入类型为二进制数字
          </div>
          <a-button
            type="primary"
            style="position: absolute; bottom: 20px; right: 130px"
            @click="clearData('frame')"
            >清空配置</a-button
          >
          <a-button
            type="primary"
            style="position: absolute; bottom: 20px; right: 20px"
            @click="saveCustomData('frame')"
            >保存配置</a-button
          >
        </div>
        <div v-show="customItem == 2" class="packge">
          <vxe-table
            border
            resizable
            ref="xTable2"
            show-overflow
            align="center"
            :edit-rules="packgeValidRules"
            :edit-config="{ trigger: 'click', mode: 'cell' }"
            :data="packgeTableData"
          >
            <vxe-colgroup title="包识别">
              <vxe-column field="packageVersion" title="版本号" :edit-render="{}">
                <template #edit="scope">
                  <vxe-input
                    v-model="scope.row.packageVersion"
                    type="text"
                    @change="$refs.xTable2.updateStatus(scope)"
                  ></vxe-input>
                </template>
              </vxe-column>
              <vxe-column field="packageType" title="类型" :edit-render="{}">
                <template #edit="scope">
                  <vxe-input
                    v-model="scope.row.packageType"
                    type="text"
                    @change="$refs.xTable2.updateStatus(scope)"
                  ></vxe-input>
                </template>
              </vxe-column>
              <vxe-column
                field="viceGuideSign"
                title="副导头标志"
                :edit-render="{}"
              >
                <template #edit="scope">
                  <vxe-input
                    v-model="scope.row.viceGuideSign"
                    type="text"
                    @change="$refs.xTable2.updateStatus(scope)"
                  ></vxe-input>
                </template>
              </vxe-column>
              <vxe-column
                field="applyProcessIdentify"
                title="应用过程识别"
                :edit-render="{}"
              >
                <template #edit="scope">
                  <vxe-input
                    v-model="scope.row.applyProcessIdentify"
                    type="text"
                    @change="$refs.xTable2.updateStatus(scope)"
                  ></vxe-input>
                </template>
              </vxe-column>
            </vxe-colgroup>
            <vxe-colgroup title="包顺序控制">
              <vxe-column field="subSign" title="分段标志" :edit-render="{}">
                <template #edit="scope">
                  <vxe-input
                    v-model="scope.row.subSign"
                    type="text"
                    @change="$refs.xTable2.updateStatus(scope)"
                  ></vxe-input>
                </template>
              </vxe-column>
              <!-- <vxe-column
                field="sourceSequenceCount"
                title="源包序列计数"
                :edit-render="{}"
              >
                <template #edit="scope">
                  <vxe-input
                    v-model="scope.row.sourceSequenceCount"
                    type="text"
                    @change="$refs.xTable2.updateStatus(scope)"
                  ></vxe-input>
                </template>
              </vxe-column> -->
            </vxe-colgroup>
            <vxe-column field="packageLength" title="包长" :edit-render="{}">
              <template #edit="scope">
                <vxe-input
                  v-model="scope.row.packageLength"
                  type="text"
                  @change="$refs.xTable2.updateStatus(scope)"
                ></vxe-input>
              </template>
            </vxe-column>
            <!-- <vxe-column field="packHead" title="数据区头" :edit-render="{}">
              <template #edit="scope">
                <vxe-input
                  v-model="scope.row.packHead"
                  type="text"
                  @change="$refs.xTable2.updateStatus(scope)"
                ></vxe-input>
              </template>
            </vxe-column>
            <vxe-column field="packData" title="包数据" :edit-render="{}">
              <template #edit="scope">
                <vxe-input
                  v-model="scope.row.packData"
                  type="text"
                  @change="$refs.xTable2.updateStatus(scope)"
                ></vxe-input>
              </template>
            </vxe-column>
            <vxe-column field="errorCont" title="包差错控制" :edit-render="{}">
              <template #edit="scope">
                <vxe-input
                  v-model="scope.row.errorCont"
                  type="text"
                  @change="$refs.xTable2.updateStatus(scope)"
                ></vxe-input>
              </template>
            </vxe-column> -->
          </vxe-table>
          <div
            style="
              width: 100%;
              text-align: right;
              font-size: 14px;
              color: rgb(216, 41, 41);
            "
          >
            * 输入类型为二进制数字
          </div>
          <a-button
            type="primary"
            style="position: absolute; bottom: 20px; right: 130px"
            @click="clearData('packge')"
            >清空配置</a-button
          >
          <a-button
            type="primary"
            style="position: absolute; bottom: 20px; right: 20px"
            @click="saveCustomData('packge')"
            >保存配置</a-button
          >
        </div>
      </div>
      <div v-if="showModule == 2" class="tableWrap">
        <div>
          <vxe-table
            border
            resizable
            show-overflow
            :data="data"
          >
            <vxe-column
              v-for="item in columns"
              :scroll-y="{ enabled: false }"
              :key="item.dataIndex"
              :field="item.title"
              :title="item.title"
              
            >
              <!-- <template #edit="{ row }">
                <vxe-input v-model="row[item.title]" type="text"></vxe-input>
              </template> -->
            </vxe-column>
            <vxe-column title="操作" show-overflow>
            <template #default="{ row }">
              <a-button  @click="editEvent(row)"><a-icon type="edit" /></a-button>
            </template>
          </vxe-column>
          </vxe-table>
        </div>
        <vxe-pager
          style="position: absolute; left: 10px; bottom: 10px"
          background
          size="small"
          :current-page="tablePage.currentPage"
          :page-size="tablePage.pageSize"
          :total="tablePage.totalResult"
          :layouts="['PrevPage', 'JumpNumber', 'NextPage', 'FullJump', 'Total']"
          @page-change="handlePageChange3"
        >
        </vxe-pager>
        <a-button type="primary" class="exportFile" @click="exportFile"
          >导出文件</a-button
        >
        <!-- <a-button type="primary" class="saveEdite" @click="saveEdite"
          >保存编辑</a-button
        > -->
        <a-button
          @click="createSourceCode"
          type="primary"
          class="createSourceCode"
          >生成计划</a-button
        >
      </div>
      <div v-if="showModule == 3" class="sheetSelect">
        <div :style="{ borderBottom: '1px solid #E9E9E9' }">
          <a-checkbox
            style="margin-bottom: 20px"
            :indeterminate="indeterminate"
            :checked="checkAll"
            @change="onCheckAllChange"
            :defaultChecked="true"
          >
            全选
          </a-checkbox>
        </div>
        <br />
        <a-checkbox-group
          v-model="checkedList"
          :options="className.slice(1)"
          @change="onChange"
        />
        <a-button type="primary" class="exportFile" @click="exportFile"
          >导出文件</a-button
        >
        <!-- <a-button type="primary" class="saveEdite" @click="saveEdite"
          >保存编辑</a-button
        > -->
        <a-button
          @click="createSourceCode"
          type="primary"
          class="createSourceCode"
          >生成计划</a-button
        >
      </div>
    </div>
    <FullScreen></FullScreen>
    <!-- <a href="" ref="exportFile"></a> -->
    <input style="display: none" type="file" ref="upload" accept=".xlsx,.xlsx" />
    <!-- 新建遥测计划 -->
    <a-modal
      v-model="renameVisible"
      title="新建遥测计划"
      ok-text="确认"
      cancel-text="取消"
      destroyOnClose
      @ok="submitRename"
    >
      <a-form-model
        ref="ruleForm"
        :rules="rules"
        :model="form"
        :label-col="labelCol"
        :wrapper-col="wrapperCol"
      >
        <a-form-model-item
          ref="orderCode"
          label="请输入遥测计划名称："
          prop="currentPlanName"
          has-feedback
        >
          <a-input v-model="form.currentPlanName" placeholder='内容不能包含特殊字符'/>
        </a-form-model-item>
        <a-divider></a-divider>
        <p>该遥测计划包含如下内容：</p>
        <span v-for="item in checkedList" :key="item.index"
          >{{ item }}&nbsp;&nbsp;&nbsp;</span
        >
      </a-form-model>
      <a ref="usedToDownload" style="display: none"></a>
    </a-modal>
    <!-- 编辑表格行 -->
    <a-modal v-model="showEdit" :width="800" okText="确认" cancelText="取消" @ok="submitEdit">
      <a-form layout="inline">
        <a-row :gutter="24">
          <a-col :span="7" >
            <a-form-item :label-col='{span:12}' :wrapper-col='{span:12}' label="参数名称">
              <a-input v-model="currentRow.参数名称" placeholder="" />
            </a-form-item>
          </a-col>
          <a-col :span="7">
            <a-form-item :label-col='{span:12}' :wrapper-col='{span:12}' label="参数代号">
              <a-input v-model="currentRow.参数代号" placeholder="" />
            </a-form-item>
          </a-col>
          <a-col :span="7">
            <a-form-item :label-col='{span:12}' :wrapper-col='{span:12}' label="tmID">
              <a-input v-model="currentRow.tmID" placeholder="" />
            </a-form-item>
          </a-col>
        </a-row>
        <a-row :gutter="24">
          <a-col :span="7" >
            <a-form-item :label-col='{span:12}' :wrapper-col='{span:12}' label="转换函数">
              <a-input v-model="currentRow.转换函数" placeholder="" />
            </a-form-item>
          </a-col>
          <a-col :span="7" >
            <a-form-item :label-col='{span:12}' :wrapper-col='{span:12}' label="isStatic">
              <a-input v-model="currentRow.isStatic" placeholder="" />
            </a-form-item>
          </a-col>
          <a-col :span="7" >
            <a-form-item :label-col='{span:12}' :wrapper-col='{span:12}' label="idOwner">
              <a-input v-model="currentRow.idOwner" placeholder="" />
            </a-form-item>
          </a-col>
        </a-row>
        <a-row :gutter="24">
          <a-col :span="7" >
            <a-form-item :label-col='{span:12}' :wrapper-col='{span:12}' label="tmDataType">
              <a-input v-model="currentRow.tmDataType" placeholder="" />
            </a-form-item>
          </a-col>
          <a-col :span="7" >
            <a-form-item :label-col='{span:12}' :wrapper-col='{span:12}' label="tmFrameType">
              <a-input v-model="currentRow.tmFrameType" placeholder="" />
            </a-form-item>
          </a-col>
          <a-col :span="7" >
            <a-form-item :label-col='{span:12}' :wrapper-col='{span:12}' label="beginIndex">
              <a-input v-model="currentRow.beginIndex" placeholder="" />
            </a-form-item>
          </a-col>
        </a-row>
        <a-row :gutter="24">
          <a-col :span="7" >
            <a-form-item :label-col='{span:12}' :wrapper-col='{span:12}' label="length">
              <a-input v-model="currentRow.length" placeholder="" />
            </a-form-item>
          </a-col>
          <a-col :span="7" >
            <a-form-item :label-col='{span:12}' :wrapper-col='{span:12}' label="a">
              <a-input v-model="currentRow.a" placeholder="" />
            </a-form-item>
          </a-col>
          <a-col :span="7" >
            <a-form-item :label-col='{span:12}' :wrapper-col='{span:12}' label="b">
              <a-input v-model="currentRow.b" placeholder="" />
            </a-form-item>
          </a-col>
        </a-row>
        <a-row :gutter="24">
          <a-col :span="7" >
            <a-form-item :label-col='{span:12}' :wrapper-col='{span:12}' label="c">
              <a-input v-model="currentRow.c" placeholder="" />
            </a-form-item>
          </a-col>
          <a-col :span="7" >
            <a-form-item :label-col='{span:12}' :wrapper-col='{span:12}' label="d">
              <a-input v-model="currentRow.d" placeholder="" />
            </a-form-item>
          </a-col>
          <a-col :span="7" >
            <a-form-item :label-col='{span:12}' :wrapper-col='{span:12}' label="e">
              <a-input v-model="currentRow.e" placeholder="" />
            </a-form-item>
          </a-col>
        </a-row>
        <a-row :gutter="24">
          <a-col :span="7" >
            <a-row :gutter="24">
              <a-col :span="24" >
                <a-form-item :label-col='{span:12}' :wrapper-col='{span:12}' label="单位">
                  <a-input v-model="currentRow.单位" placeholder="" />
                </a-form-item>
              </a-col>
            </a-row>
            <a-row :gutter="24">
              <a-col :span="24" >
                <a-form-item :label-col='{span:12}' :wrapper-col='{span:12}' label="初始值">
                  <a-input v-model="currentRow.初始值" placeholder="" />
                </a-form-item>
              </a-col>
            </a-row>
          </a-col>
          <a-col :span="17">
            <a-row :gutter="24">
              <!-- <a-col  :span="24"> -->
                <a-form-item :label-col='{span:5}' :wrapper-col='{span:17}' label="周期算法">
                  <a-textarea v-model="currentRow.周期算法" style="width:400px;" :auto-size="{ minRows: 3, maxRows: 5 }" placeholder="" />
                </a-form-item>
              <!-- </a-col> -->
            </a-row>
          </a-col>
        </a-row>
      </a-form>
    </a-modal>
  </div>
</template>

<script>
import XLSX from "xlsx";
import TopHead from "@/components/layout/TopHead.vue";
import FullScreen from "@/components/layout/fullScreen.vue";
import req from "@/network/index";
import Vue from 'vue'
export default {
  name: "telemetry",
  components: { TopHead, FullScreen },
  data() {
    // 自定义计划名称校验规则
    let checkPlanName = (rule, value, callback) => {
      let currentname = value.trim();
      // let regular = /^[a-zA-Z0-9_\u4e00-\u9fa5]+$/;
      let regular = new RegExp("[`~!@#$^&*()=|{}':;',\\[\\].<>《》/?~！@#￥……&*（）——|{}【】‘；：”“'。，、？ ]")
      let formatError = regular.test(value);
      let nameRepeat = this.telemetryNameList.some(function (name) {
        return value == name;
      });
      if (!currentname) {
        callback(new Error("计划名不能为空！"));
      } else if (formatError) {
        callback(new Error("计划名不能包含特殊字符，请修改！"));
      } else if (nameRepeat) {
        callback(new Error("计划名重复，请修改！"));
      }
      callback();
    };
    // 校验自定义帧结构表格数据
    let frameSyncCode = ({ cellValue }) => {
      // console.log(cellValue)
      // console.log(cellValue.charCodeAt())
      // console.log(cellValue.charCodeAt().toString(2))
      // console.log(cellValue.charCodeAt().toString(2).length)
      
      return new Promise((resolve, reject) => {
        let dinary = true;
        for (const item of cellValue) {
          if (item != 0 && item != 1) {
            dinary = false;
            break
          }
        }
        if (!dinary) {
          reject(new Error("请输入二进制类型数字！"));
        } 
        if (cellValue.length != 32) {
          reject(new Error("帧同步码占位为32bit"));
        } else {
          resolve();
        }
      });
    };
    let frameVersion = ({ cellValue }) => {
      return new Promise((resolve, reject) => {
        let dinary = true;
        for (const item of cellValue) {
          if (item != 0 && item != 1) {
            dinary = false;
            break
          }
        }
        if (!dinary) {
          reject(new Error("请输入二进制类型数字！"));
        } 
        if (cellValue.length != 2) {
          reject(new Error("帧版本号占位为2bit"));
        } else {
          resolve();
        }
      });
    };
    let satelliteCode = ({ cellValue }) => {
      return new Promise((resolve, reject) => {
        let dinary = true;
        for (const item of cellValue) {
          if (item != 0 && item != 1) {
            dinary = false;
            break
          }
        }
        if (!dinary) {
          reject(new Error("请输入二进制类型数字！"));
        } 
        if (cellValue.length != 10) {
          reject(new Error("卫星识别码占位为10bit"));
        } else {
          resolve();
        }
      });
    };
    let virtualChannelSign = ({ cellValue }) => {
      return new Promise((resolve, reject) => {
        let dinary = true;
        for (const item of cellValue) {
          if (item != 0 && item != 1) {
            dinary = false;
            break
          }
        }
        if (!dinary) {
          reject(new Error("请输入二进制类型数字！"));
        } 
        if (cellValue.length != 3) {
          reject(new Error("虚拟信道标识占位为3bit"));
        } else {
          resolve();
        }
      });
    };
    let operationControlSign = ({ cellValue }) => {
      return new Promise((resolve, reject) => {
        let dinary = true;
        for (const item of cellValue) {
          if (item != 0 && item != 1) {
            dinary = false;
            break
          }
        }
        if (!dinary) {
          reject(new Error("请输入二进制类型数字！"));
        } 
        if (cellValue.length != 1) {
          reject(new Error("操作控制域标志占位为1bit"));
        } else {
          resolve();
        }
      });
    };
    let frameDataStatus = ({ cellValue }) => {
      return new Promise((resolve, reject) => {
        let dinary = true;
        for (const item of cellValue) {
          if (item != 0 && item != 1) {
            dinary = false;
            break
          }
        }
        if (!dinary) {
          reject(new Error("请输入二进制类型数字！"));
        } 
        if (cellValue.length != 5) {
          reject(new Error("帧数据域状态占位为5bit"));
        } else {
          resolve();
        }
      });
    };
    let primaryGuidePointer = ({ cellValue }) => {
      return new Promise((resolve, reject) => {
        let dinary = true;
        for (const item of cellValue) {
          if (item != 0 && item != 1) {
            dinary = false;
            break
          }
        }
        if (!dinary) {
          reject(new Error("请输入二进制类型数字！"));
        } 
        if (cellValue.length != 11) {
          reject(new Error("主导头指针占位为11bit"));
        } else {
          resolve();
        }
      });
    };
    let frameViceGuideVersion = ({ cellValue }) => {
      return new Promise((resolve, reject) => {
        let dinary = true;
        for (const item of cellValue) {
          if (item != 0 && item != 1) {
            dinary = false;
            break
          }
        }
        if (!dinary) {
          reject(new Error("请输入二进制类型数字！"));
        } 
        if (cellValue.length != 2) {
          reject(new Error("帧副导头版本号占位为2bit"));
        } else {
          resolve();
        }
      });
    };
    let frameViceGuideLength = ({ cellValue }) => {
      return new Promise((resolve, reject) => {
        let dinary = true;
        for (const item of cellValue) {
          if (item != 0 && item != 1) {
            dinary = false;
            break
          }
        }
        if (!dinary) {
          reject(new Error("请输入二进制类型数字！"));
        } 
        if (cellValue.length != 6) {
          reject(new Error("帧副导头长度占位为6bit"));
        } else {
          resolve();
        }
      });
    };
    let encryptedInfo = ({ cellValue }) => {
      return new Promise((resolve, reject) => {
        let dinary = true;
        for (const item of cellValue) {
          if (item != 0 && item != 1) {
            dinary = false;
            break
          }
        }
        if (!dinary) {
          reject(new Error("请输入二进制类型数字！"));
        } 
        if (cellValue.length != 32) {
          reject(new Error("加密信息占位为32bit"));
        } else {
          resolve();
        }
      });
    };
    let fixedTelemetry = ({ cellValue }) => {
      return new Promise((resolve, reject) => {
        let dinary = true;
        for (const item of cellValue) {
          if (item != 0 && item != 1) {
            dinary = false;
            break
          }
        }
        if (!dinary) {
          reject(new Error("请输入二进制类型数字！"));
        } 
        if (cellValue.length != 200) {
          reject(new Error("固定遥测占位为200bit"));
        } else {
          resolve();
        }
      });
    };
    // 校验自定义包结构表格数据
    let packageVersion = ({ cellValue }) => {
      return new Promise((resolve, reject) => {
        let dinary = true;
        for (const item of cellValue) {
          if (item != 0 && item != 1) {
            dinary = false;
            break
          }
        }
        if (!dinary) {
          reject(new Error("请输入二进制类型数字！"));
        } 
        if (cellValue.length != 3) {
          reject(new Error("版本号占位为3bit"));
        } else {
          resolve();
        }
      });
    };
    let packageType = ({ cellValue }) => {
      return new Promise((resolve, reject) => {
        let dinary = true;
        for (const item of cellValue) {
          if (item != 0 && item != 1) {
            dinary = false;
            break
          }
        }
        if (!dinary) {
          reject(new Error("请输入二进制类型数字！"));
        } 
        if (cellValue.length != 1) {
          reject(new Error("包类型占位为1bit"));
        } else {
          resolve();
        }
      });
    };
    let viceGuideSign = ({ cellValue }) => {
      return new Promise((resolve, reject) => {
        let dinary = true;
        for (const item of cellValue) {
          if (item != 0 && item != 1) {
            dinary = false;
            break
          }
        }
        if (!dinary) {
          reject(new Error("请输入二进制类型数字！"));
        } 
        if (cellValue.length != 1) {
          reject(new Error("副导头标志占位为1bit"));
        } else {
          resolve();
        }
      });
    };
    let applyProcessIdentify = ({ cellValue }) => {
      return new Promise((resolve, reject) => {
        let dinary = true;
        for (const item of cellValue) {
          if (item != 0 && item != 1) {
            dinary = false;
            break
          }
        }
        if (!dinary) {
          reject(new Error("请输入二进制类型数字！"));
        } 
        if (cellValue.length != 11) {
          reject(new Error("应用过程识别占位为11bit"));
        } else {
          resolve();
        }
      });
    };
    let subSign = ({ cellValue }) => {
      return new Promise((resolve, reject) => {
        let dinary = true;
        for (const item of cellValue) {
          if (item != 0 && item != 1) {
            dinary = false;
            break
          }
        }
        if (!dinary) {
          reject(new Error("请输入二进制类型数字！"));
        } 
        if (cellValue.length != 2) {
          reject(new Error("分段标志占位为2bit"));
        } else {
          resolve();
        }
      });
    };
    let packageLength = ({ cellValue }) => {
      return new Promise((resolve, reject) => {
        let dinary = true;
        for (const item of cellValue) {
          if (item != 0 && item != 1) {
            dinary = false;
            break
          }
        }
        if (!dinary) {
          reject(new Error("请输入二进制类型数字！"));
        } 
        if (cellValue.length != 16) {
          reject(new Error("包长占位为16bit"));
        } else {
          resolve();
        }
      });
    };
    return {
      title: "遥测管理",
      // 控制菜单栏的显示隐藏
      isShowTabBar: false,
      // 控制全屏按钮显示隐藏
      isFullScreen: false,
      // 缓存遥测大纲文件内容
      outLineData:'',
      // 遥测大纲列表数据
      outlineList: [],
      // 数传列表数据
      dataTran: [],
      // 测控数据列表数据
      teleMetryChannel: [],
      // 计划管理列表数据
      teleMetryPlanManage: [],
      current: ["mail"],
      openKeys: [],
      // 自定义数据结构
      customDataStruc: ["帧结构", "包结构"],
      frameValidRules: {
        frameSyncCode: [
          {required:true,message:"帧同步码必填！"},
          { validator: frameSyncCode },
        ],
        frameVersion: [
          {required:true,message:"帧版本号必填！"},
          { validator: frameVersion },
        ],
        satelliteCode: [
          {required:true,message:"卫星识别码必填！"},
          { validator: satelliteCode },
        ],
        virtualChannelSign: [
          {required:true,message:"虚拟信道标识必填！"},
          { validator: virtualChannelSign },
        ],
        operationControlSign: [
          {required:true,message:"操作控制域标志必填！"},
          { validator: operationControlSign },
        ],
        // primaryChannalCount: [
        //   {required:true,message:"主信道帧计数必填！"},
        //   { validator: primaryChannalCount },
        // ],
        // virtualChannalCount: [
        //   {required:true,message:"虚拟信道帧计数必填！"},
        //   { validator: virtualChannalCount },
        // ],
        frameDataStatus: [
          {required:true,message:"帧数据域状态必填！"},
          { validator: frameDataStatus },
        ],
        // primaryGuidePointer: [
        //   {required:true,message:"主导头指针必填！"},
        //   { validator: primaryGuidePointer },
        // ],
        frameViceGuideVersion: [
          {required:true,message:"帧副导头版本号必填！"},
          { validator: frameViceGuideVersion },
        ],
        frameViceGuideLength: [
          {required:true,message:"帧副导头长度必填！"},
          { validator: frameViceGuideLength },
        ],
        encryptedInfo: [
          {required:true,message:"加密信息必填！"},
          { validator: encryptedInfo },
        ],
        fixedTelemetry: [
          {required:true,message:"固定遥测必填！"},
          { validator: fixedTelemetry },
        ],
      },
      packgeValidRules: {
        packageVersion: [
          {required:true,message:"版本号必填！"},
          { validator: packageVersion },
        ],
        packageType: [
          {required:true,message:"类型必填！"},
          { validator: packageType },
        ],
        viceGuideSign: [
          {required:true,message:"副导头标志必填！"},
          { validator: viceGuideSign },
        ],
        applyProcessIdentify: [
          {required:true,message:"应用过程识别必填！"},
          { validator: applyProcessIdentify },
        ],
        subSign: [
          {required:true,message:"分段标志必填！"},
          { validator: subSign },
        ],
        // sourceSequenceCount: [
        //   {required:true,message:"源包序列计数必填！"},
        //   { validator: sourceSequenceCount },
        // ],
        packageLength: [
          {required:true,message:"包长必填！"},
          { validator: packageLength },
        ],
      },
      // 动态表格数据
      tableContent: [],
      tableHeader: [],
      workdata: null,
      editingKey: "",
      cacheData: [],
      // 遥测计划起始数
      teleMetryPlanNumber: 1,
      renameTeleMetryPlan: null,
      // 分类后的数据
      classData: [],
      // 分类后的类名
      className: [],
      currentClassName: "",
      // 表格列头数据
      columns: [],
      // 表格行数据
      data: [],
      renderColumn: {},
      // 当前选中的分类数据(非渲染数据)
      currentClassData: [],
      // 分页器数据
      tablePage: {
        currentPage: 1,
        pageSize: 10,
        totalResult: 0,
      },
      // showSheetSelect: false,
      // showtable: false,
      // showCustom:true,
      showModule: 1,
      customItem: 1,
      // 配置表页
      checkedList: [],
      indeterminate: true,
      checkAll: false,
      // 重命名对话框
      renameVisible: false,
      form: {
        currentPlanName: "",
      },
      telemetryNameList: [],
      hisPlanList:[],
      labelCol: { span: 8 },
      wrapperCol: { span: 14 },
      rules: {
        currentPlanName: [
          { required: true, message: "请输入计划名称！", trigger: "change" },
          { validator: checkPlanName, trigger: "change" },
        ],
      },
      // 帧结构数据
      frameTableData: [
        {
          frameSyncCode:'00011010110011111111110000011101',
          frameVersion:'00',
          satelliteCode:'1010011010',
          virtualChannelSign:'001',
          operationControlSign:'1',
          frameDataStatus:'11111',
          primaryGuidePointer:'11111111111',
          frameViceGuideVersion:'00',
          frameViceGuideLength:'101100',
          encryptedInfo:'00110011001100110011001100110011',
          fixedTelemetry:'01011001100101100110010110011001011001100101100110010110011001011001100101100110010110011001011001100101100110010110011001011001100101100110010110011001011001100101100110010110011001011001100101100110',
        },
      ],
      packgeTableData: [
        {
          packageVersion:'000',
          packageType:'0',
          viceGuideSign:'0',
          applyProcessIdentify:'11000011101',
          subSign:'00',
          packageLength:'0101010101010101',
        },
      ],
      // 编辑表格
      showEdit:false,
      currentRow:{},
      currentRowIndex:''
    };
  },
  props: ["closeTabBar", "tabBarOpending"],
  mounted() {
    console.log("挂载");
    this.openKeys.push('sub2')
    // 如果菜单栏展开时，内容区左侧缩进
    if (this.$parent.tabBarOpending) {
      this.showTabBar();
    }
    this.$refs.upload.addEventListener("change", (e) => {
      this.readExcel(e);
    });

    this.getHistoryPlan();
    // 获取大纲文件数据
    if(sessionStorage.getItem("outLineData")){
      this.outLineData = JSON.parse(sessionStorage.getItem("outLineData"));
    }
    if(sessionStorage.getItem("outLineName")){
      this.outlineList = JSON.parse(sessionStorage.getItem("outLineName"));
    }
    // 获取自定义结构数据
    if (sessionStorage.getItem("frameData")) {
      this.frameTableData = JSON.parse(sessionStorage.getItem("frameData"));
      this.openKeys.push("sub2");
    }
    if (sessionStorage.getItem("packgeData")) {
      this.packgeTableData = JSON.parse(sessionStorage.getItem("packgeData"));
      this.openKeys.push("sub2");
    }
    // 遥测计划名
    if (sessionStorage.getItem("telemetryNameList")) {
      this.telemetryNameList = JSON.parse(
        sessionStorage.getItem("telemetryNameList")
      );
      this.openKeys.push("sub4");
    }
    // 缓存的完整表格数据
    if (sessionStorage.getItem("fileData2")) {
      this.tableContent = JSON.parse(sessionStorage.getItem("fileData2"));
      this.classificationTableData(this.tableContent);
      this.openKeys.push("sub3");
    }
    if (sessionStorage.getItem("fileHeader2")) {
      this.tableHeader = JSON.parse(sessionStorage.getItem("fileHeader2"));
      this.columns = this.tableHeader[Object.keys(this.tableHeader)[0]];
      console.log(this.tableHeader);
    }
    if (sessionStorage.getItem("renderColumn2")) {
      this.renderColumn = JSON.parse(sessionStorage.getItem("renderColumn2"));
    }
    this.findList();
  },
  methods: {
    tableChange(scope){
      console.log()
      this.sava
      console.log("测试")
      this.$refs.xTable1.updateStatus(scope)
    },
    // 切换大纲文件
    showOutLineData(){
      if (sessionStorage.getItem("fileData")) {
        this.tableContent = JSON.parse(sessionStorage.getItem("fileData"));
        this.classificationTableData(this.tableContent);
        this.openKeys.push("sub3");
      }
      if (sessionStorage.getItem("fileHeader")) {
        this.tableHeader = JSON.parse(sessionStorage.getItem("fileHeader"));
        this.columns = this.tableHeader[Object.keys(this.tableHeader)[0]];
        console.log(this.tableHeader);
      }
      if (sessionStorage.getItem("renderColumn")) {
        this.renderColumn = JSON.parse(sessionStorage.getItem("renderColumn"));
      }
      this.findList();
    },
    // 提交编辑结果
    submitEdit(){
      Vue.set(this.currentClassData, this.currentRowIndex, this.currentRow)
      // Vue.set(this.data, this.currentRowIndex, this.currentRow)
      // this.data = this.currentClassData[this.currentClassName]
      this.data = this.currentClassData.slice(
        (this.tablePage.currentPage - 1) * this.tablePage.pageSize,
        this.tablePage.currentPage * this.tablePage.pageSize
      );
      this.classData[this.currentClassName] = this.currentClassData;
      this.showEdit = false
      this.currentRow = {}
      console.log('提交成功')
    },
    // 编辑表格行
    editEvent(row){
      this.showEdit = true
      // console.log(this.currentClassData.indexOf(row))
      this.currentRowIndex = this.currentClassData.indexOf(row)
      row.isStatic = row.isStatic.toString()
      this.currentRow = JSON.parse(JSON.stringify(row))
      // console.log(row)
    },
    // 保存自定义结构
    async saveCustomData(type) {
      if (type == "frame") {
        const $table1 = this.$refs.xTable1;
        const errMap = await $table1.validate(true).catch((errMap) => errMap);
        if (errMap) {
          this.$message.error("格式校验不通过！");
        } else {
          sessionStorage.setItem(
            "TMframeData",
            JSON.stringify(this.frameTableData)
          );
          this.$message.success("格式校验通过！保存成功。");
          // this.createFrameData(this.frameTableData[0]);
        }
      } else if (type == "packge") {
        const $table2 = this.$refs.xTable2;
        const errMap = await $table2.validate(true).catch((errMap) => errMap);
        if (errMap) {
          this.$message.error("格式校验不通过！");
        } else {
          sessionStorage.setItem(
            "TMpackgeData",
            JSON.stringify(this.packgeTableData)
          );
          this.$message.success("格式校验通过！保存成功。");
        }
      }
    },
    // 清除按钮
    clearData(type){
      if (type == "frame") {
        for (let item in this.frameTableData[0]){
          this.frameTableData[0][item] = ''
        }
        sessionStorage.removeItem('TMframeData')
      }else if(type == "packge"){
        for (let item in this.packgeTableData[0]){
          this.packgeTableData[0][item] = ''
        }
        sessionStorage.removeItem('TMpackgeData')
      }
    },
    // 切换帧包结构
    showCustomItem(item) {
      this.showModule = 1;
      item == "帧结构"
        ? (this.customItem = 1)
        : item == "包结构"
        ? (this.customItem = 2)
        : "";
    },
    // 提交遥测计划命名
    submitRename() {
      let currentname = this.form.currentPlanName.trim();
      this.$refs.ruleForm.validate((valid) => {
        if (valid) {
          this.telemetryNameList.unshift(currentname);
          this.openKeys.push("sub4");
          this.$message.success("添加成功！");
          sessionStorage.setItem(
            "telemetryNameList",
            JSON.stringify(this.telemetryNameList)
          );
          let currentPlanData = JSON.parse(JSON.stringify(this.classData));
          for (let key in currentPlanData) {
            // console.log(currentPlanData[key]);
            if (this.checkedList.indexOf(key) == "-1") {
              delete currentPlanData[key];
            }
          }
          console.log("提交成功！");
          sessionStorage.setItem(
            'TM'+this.form.currentPlanName,
            JSON.stringify(currentPlanData)
          );
          this.form = { currentPlanName: "" };
          // this.form.currentPlanName = "";
          this.renameVisible = false;
        } else {
          console.log("提交错误");
          return false;
        }
      });
    },
    // 保存编辑内容
    saveEdite() {
      this.currentClassData.forEach((item) => {
        if (item._X_ID) {
          delete item._X_ID;
        }
      });
      this.classData[this.currentClassName] = this.currentClassData;
    },
    // 导出文件
    exportFile() {
      let exportFileData = JSON.parse(JSON.stringify(this.classData));
      for (let key in exportFileData) {
        exportFileData[key].push(this.renderColumn);
      }
      let header = [];
      for (let item in this.renderColumn) {
        header.push(item);
      }
      console.log(exportFileData);
      // console.log(this.classData);
      var sheet1 = XLSX.utils.json_to_sheet(
        exportFileData[Object.keys(exportFileData)[0]],
        { header: header }
      );
      console.log(sheet1);
      var sheet2 = XLSX.utils.json_to_sheet(
        exportFileData[Object.keys(exportFileData)[1]]
      );
      var sheet3 = XLSX.utils.json_to_sheet(
        exportFileData[Object.keys(exportFileData)[2]]
      );
      /* create a new blank workbook */
      var wb = XLSX.utils.book_new();
      XLSX.utils.book_append_sheet(wb, sheet1, this.className[1]);
      XLSX.utils.book_append_sheet(wb, sheet2, this.className[2]);
      XLSX.utils.book_append_sheet(wb, sheet3, this.className[3]);
      const workbookBlob = this.workbook2blob(wb);
      this.openDownloadDialog(workbookBlob, "遥测大纲.xlsx");
    },
    openDownloadDialog(blob, fileName) {
      if (typeof blob == "object" && blob instanceof Blob) {
        blob = URL.createObjectURL(blob); // 创建blob地址
      }
      var aLink = document.createElement("a");
      aLink.href = blob;
      // HTML5新增的属性，指定保存文件名，可以不要后缀，注意，有时候 file:///模式下不会生效
      aLink.download = fileName || "";
      var event;
      if (window.MouseEvent) event = new MouseEvent("click");
      aLink.dispatchEvent(event);
    },
    workbook2blob(workbook) {
      // 生成excel的配置项
      var wopts = {
        // 要生成的文件类型
        bookType: "xlsx",
        bookSST: false,
        type: "binary",
      };
      var wbout = XLSX.write(workbook, wopts);
      // 将字符串转ArrayBuffer
      function s2ab(s) {
        var buf = new ArrayBuffer(s.length);
        var view = new Uint8Array(buf);
        for (var i = 0; i != s.length; ++i) view[i] = s.charCodeAt(i) & 0xff;
        return buf;
      }
      var blob = new Blob([s2ab(wbout)], {
        type: "application/octet-stream",
      });
      return blob;
    },
    // 配置表勾选的回调
    onChange(checkedList) {
      this.indeterminate =
        !!checkedList.length && checkedList.length < this.className.length - 1;
      this.checkAll = checkedList.length === this.className.length - 1;
    },
    // 全选按钮的回调
    onCheckAllChange(e) {
      Object.assign(this, {
        checkedList: e.target.checked ? this.className.slice(1) : [],
        indeterminate: false,
        checkAll: e.target.checked,
      });
    },
    // 获取发送后保存的遥测计划文件
    getHistoryPlan() {
      let that = this
      req({
        method: "get",
        url: "/getExcelFilePath",
      }).then((res) => {
        if (res.data.code == "200") {
          console.log("历史文件获取成功");
          that.hisPlanList = []
          // let result = res.data.data;
          for (let item of res.data.data) {
            let a = item.split(".")[0];
            that.hisPlanList.push(a)
            if(that.telemetryNameList.indexOf(a) == -1){
              that.telemetryNameList.push(a)
            }
          }
          console.log(res.data.data);
        } else {
          console.log("历史文件获取失败");
        }
      });
    },
    // 获取历史遥测计划数据
    async getHisPlanData(item){
      console.log(item)
      if(this.hisPlanList.indexOf(item) == -1){
        this.$message.warning('仅可查看发送后的遥测计划')
        return
      }
      let name = item+'.xlsx'
      let result = await this.request({
        method: "get",
        url: "/downloadExcelFile",
        params:{fileName:name},
        responseType: 'blob'
      });
      console.log(result)
      if ((result.status == 200)) {
        console.log(result.data)
        const blob = new Blob([result.data],{type:"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"}) 
        console.log(blob)
        var wb = XLSX.read(await blob.arrayBuffer(), { type: "array" });
        let workbook = XLSX.utils.book_new();
        let sheetJson = []
        let tableHeader = {}
        for (const item in wb.Sheets) {
          var json = XLSX.utils.sheet_to_json(wb.Sheets[item]);
          let header = json.pop()
          tableHeader.Sheet1 = header
          sheetJson = [...sheetJson,...json]
        } 
        tableHeader.header = []
        for (const item in tableHeader.Sheet1) {
          if(item != '初始值' && item != '周期算法'){
            tableHeader.header.push(item)
          }
        }
        sessionStorage.setItem("renderColumn2",JSON.stringify(tableHeader.Sheet1));
        delete tableHeader.Sheet1
        this.tableHeader = tableHeader
        this.tranTableHeader()
        sessionStorage.setItem("fileHeader2",JSON.stringify(this.tableHeader));
        // 合并数据
        XLSX.utils.book_append_sheet(workbook, sheetJson, "Sheet1");
        this.tableContent = workbook.Sheets.Sheet1;
        sessionStorage.setItem("fileData2", JSON.stringify(this.tableContent));
        this.classificationTableData(this.tableContent);
      } else {
        this.$message.error("历史计划下载失败");
      }
    },
    // 计算页数
    findList() {
      this.tablePage.totalResult = this.currentClassData.length;
      this.data = this.currentClassData.slice(
        (this.tablePage.currentPage - 1) * this.tablePage.pageSize,
        this.tablePage.currentPage * this.tablePage.pageSize
      );
    },
    // 分页器点击页数回调
    handlePageChange3({ currentPage, pageSize }) {
      this.tablePage.currentPage = currentPage;
      this.tablePage.pageSize = pageSize;
      this.findList();
    },
    // 删除遥测源码
    async deleteTeleMetryPlan(item) {
      if(this.hisPlanList.indexOf(item) == -1){
        sessionStorage.removeItem('TM'+item)
        this.telemetryNameList.splice(this.telemetryNameList.indexOf(item),1)
        sessionStorage.setItem(
          "telemetryNameList",
          JSON.stringify(this.telemetryNameList)
        );
        return
      }
      let result = await this.request({
        method: "delete",
        url: "/delExcelFile",
        params:{fileName:item+'.xlsx'},
      });
      if(result.data.code == 200){
        let currentIndex = this.telemetryNameList.indexOf(item);
        this.telemetryNameList.splice(currentIndex, 1);
        sessionStorage.setItem(
          "telemetryNameList",
          JSON.stringify(this.telemetryNameList)
        );
      }else{
        this.$message.error('计划删除失败！')
      }
    },
    // 新建遥测计划
    createSourceCode() {
      if (this.checkedList.length == 0) {
        this.$message.warning("请在配置表中选择类别");
      } else {
        this.renameVisible = true;
      }
    },
    // 遥测大纲sheet表切换
    checkOutLine(itemName) {
      if (itemName == "配置表") {
        this.showModule = 3;
        return;
      }
      this.showModule = 2;
      this.currentClassName = itemName;
      this.data = this.classData[this.currentClassName];
      this.currentClassData = JSON.parse(JSON.stringify(this.data));
      this.tablePage.currentPage = 1;
      this.tablePage.pageSize = 10;
      this.findList();
    },
    // 显示侧边导航栏
    showTabBar() {
      this.isShowTabBar = !this.isShowTabBar;
      this.$parent.$refs.tabBar.style.display = this.isShowTabBar
        ? "block"
        : "none";
      this.$refs.container.style.marginLeft = this.isShowTabBar ? "150px" : "0";
      if (this.isShowTabBar) {
        this.$parent.tabBarOpending = true;
      }
    },
    // 加载遥测大纲按钮
    loadTeleMetryOutline() {
      this.$refs.upload.click();
    },
    // 获取excel文件内容
    readExcel(e) {
      this.className = [];
      var vali = /\.(xlsx)$/;
      if (e.target.files.length <= 0) {
        //如果没有文件名
        return false;
      } else if (!vali.test(e.target.files[0].name.toLowerCase())) {
        this.$Message.error("上传格式不正确，请上传xls格式");
        return false;
      }
      this.outLineData = e
      sessionStorage.setItem("outLineData",JSON.stringify(e))
      this.outlineList = []
      this.outlineList.push(e.target.files[0].name)
      sessionStorage.setItem("outLineName",JSON.stringify(this.outlineList))
      this.openKeys.push('sub1')
      this.getTableData(e);
    },
    getTableData(e) {
      const fileReader = new FileReader();
      fileReader.onload = (e) => {
        try {
          // console.log(e)
          const data = e.target.result;
          console.log(e)
          this.workdata = XLSX.read(data, {
            type: "binary",
          });
          // 获取表头
          this.tableHeader = this.getTableHeader(this.workdata);
          this.tranTableHeader();
          sessionStorage.setItem(
            "fileHeader",
            JSON.stringify(this.tableHeader)
          );
          sessionStorage.setItem(
            "fileHeader2",
            JSON.stringify(this.tableHeader)
          );
          // 用于合并sheet文件时统一表头
          let virtualHeader = JSON.parse(JSON.stringify(this.tableHeader));
          virtualHeader = virtualHeader[Object.keys(virtualHeader)[0]];
          for (let key in virtualHeader) {
            this.renderColumn[virtualHeader[key].title] = "";
          }
          sessionStorage.setItem(
            "renderColumn",
            JSON.stringify(this.renderColumn)
          );
          sessionStorage.setItem(
            "renderColumn2",
            JSON.stringify(this.renderColumn)
          );
          // 取到第一个sheet页的行内容
          const wsname = this.workdata.SheetNames[0];
          const ws = XLSX.utils.sheet_to_json(this.workdata.Sheets[wsname]);
          this.tableContent = ws;
          this.tableContent.forEach((item) => {
            item.初始值 = 0;
            item.周期算法 = "";
          });
          // 浏览器本地存储文件数据
          sessionStorage.setItem("fileData", JSON.stringify(this.tableContent));
          sessionStorage.setItem("fileData2", JSON.stringify(this.tableContent));
          // 行数据按idOwner分类
          this.classificationTableData(this.tableContent);
          this.showModule = 3;
          // 清空文件上传按钮内容
          this.$refs.upload.value = "";
        } catch (err) {
          console.log(err);
        }
      };
      fileReader.readAsBinaryString(e.target.files[0]);
    },
    // 将表格数据按照idOwner分类
    classificationTableData(data) {
      let classData = {};
      for (var i = 0; i < data.length; i++) {
        if (!classData[data[i].idOwner]) {
          var arr = [];
          arr.push(data[i]);
          classData[data[i].idOwner] = arr;
        } else {
          classData[data[i].idOwner].push(data[i]);
        }
      }
      console.log(classData);
      // 获取分类后的类名
      this.className = []
      for (let itemName in classData) {
        this.className.push(itemName);
      }
      this.checkedList = JSON.parse(JSON.stringify(this.className));
      this.className.unshift("配置表");
      this.classData = classData;
      this.data = this.classData[Object.keys(this.classData)[0]];
      this.currentClassData = JSON.parse(JSON.stringify(this.data));
      this.findList();
      // 存储类名用于故障模块使用
      sessionStorage.setItem(
        "TeleMetryClassNameList",
        JSON.stringify(this.className.slice(1))
      );
    },
    // 获取列头信息
    getTableHeader(workbook) {
      let result = {};
      workbook.SheetNames.forEach(function (sheetName) {
        var roa = XLSX.utils.sheet_to_json(workbook.Sheets[sheetName], {
          header: 1,
        });
        if (roa.length) {
          result[sheetName] = roa[0];
        }
      });
      console.log(result)
      return result;
    },
    // 变更页面表格数据的回调
    tranTableHeader() {
      console.log("标题数组变更");
      for (let item in this.tableHeader) {
        this.tableHeader[item].push("初始值");
        this.tableHeader[item].push("周期算法");
        this.tableHeader[item].forEach((value, index, arr) => {
          arr[index] = {
            title: value,
            dataIndex: value,
          };
        });
      }
      this.columns = this.tableHeader[Object.keys(this.tableHeader)[0]];
      this.openKeys.push("sub3");
    },
  },
  destroyed() {
    sessionStorage.setItem(
      "telemetryClassName",
      JSON.stringify(this.className)
    );
    console.log("消亡");
  },

  beforeDestroy() {
    console.log("遥测即将消亡");
  },
  watch: {
    closeTabBar() {
      this.showTabBar();
    },
  },
  beforeDestroy() {
    this.isShowTabBar = false;
  },
};
</script>

<style>
::v-deep .ant-table-thead {
  background-color: none;
}
::v-deep .ant-table-thead > tr > th {
  height: 20px !important;
  color: rgb(255, 255, 255);
  padding: 6px 4px;
  text-align: center;
  /* font-size: 14px; */
  background-color: black;
}
::v-deep .ant-table-tbody > tr > td {
  height: 20px !important;
  border-bottom: none;
  color: white;
  text-align: center;
  padding: 6px 4px;
  background-color: none;
}
/* ::v-deep .ant-table-tbody > tr > td :hover {
  background: #ff0000;
} */
::v-deep
  .ant-table-tbody
  > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)
  > td {
  background: rgba(98, 91, 190, 0.7);
}
.teleMetWrap :global(.ant-checkbox-wrapper) {
  color: rgba(255, 255, 255, 1);
}
.teleMetWrap :global(.ant-checkbox-group) {
  color: rgba(255, 255, 255, 1);
}

.ant-checkbox + span {
  color: rgba(255, 255, 255, 1) !important;
}

.vxe-table--main-wrapper,
.vxe-table--header-wrapper,
.vxe-header--row,
.vxe-table--header {
  background-color: #081938;
}
.vxe-table--body-wrapper,
.vxe-table--body,
.body--wrapper {
  background-color: #081938;
}
.vxe-table--render-default .vxe-table--body-wrapper,
.vxe-table--render-default .vxe-table--footer-wrapper {
  background-color: #081938;
}
.vxe-table--render-default.border--default .vxe-table--header-wrapper,
.vxe-table--render-default.border--full .vxe-table--header-wrapper,
.vxe-table--render-default.border--outer .vxe-table--header-wrapper {
  background-color: #081938;
}
.vxe-table--header-wrapper,
.body--wrapper,
.vxe-table,
.vxe-table--render-default,
.tid_1,
.border--full,
.vxe-editable,
.is--header,
.is--animat {
  font-size: 15px !important;
  color: #ffffff !important;
}
.vxe-pager.size--small {
  background: transparent;
}
.vxe-pager--num-btn {
  background: #58c9e9;
}
.vxe-pager--wrapper {
  font-size: 13px;
  color: #00a3f1;
}
.vxe-table--render-wrapper {
  background: transparent;
}
.vxe-table--body-wrapper {
  background: transparent;
}
.body--wrapper {
  background: transparent;
}
/* .ant-input {
  background-color: #ffffff;
  border: none;
} */
.teleMetWrap {
  /* width: 100%; */
  height: 100vh;
  color: white;
  /* background: #000; */
  background-image: url("~@/assets/img/teleMetry/background.png");
  background-size: 100% 100%;
  position: relative;
}
.teleMetWrap .dataList {
  width: 16%;
  height: 80%;
  background-color: rgba(15, 48, 97, 0.5);
  position: absolute;
  top: 10%;
  left: 2%;
  overflow: auto;
}
.teleMetWrap .dataList .teleMetryOutline {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.teleMetWrap .dataList .menuTop {
  height: 34px !important;
  line-height: 34px !important;
  /* background-color: darkorange; */
}
.teleMetWrap .dataList .menuTop .menuTitle {
  height: 34px !important;
  line-height: 34px !important;
  /* background-color: darkolivegreen; */
}
.teleMetWrap .dataList .menuItem {
  width: 100%;
  height: 36px;
  position: relative;
  display: flex;
  align-items: center;
  line-height: 36px;
  font-size: 13px;
  margin: 0 !important;
}
.teleMetWrap .dataList .menuItem:hover {
  background-color: rgb(24, 144, 255);
}
/*滚动条 start*/
.teleMetWrap .dataList::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
/*定义滚动条轨道 内阴影+圆角*/
.teleMetWrap .dataList::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);   */
  background: rgb(9, 5, 24);
}
/*定义滑块 内阴影+圆角*/
.teleMetWrap .dataList::-webkit-scrollbar-thumb {
  border-radius: 3px;
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);   */
  background-color: rgba(0, 227, 253);
}
.teleMetWrap .dataTable {
  width: 78%;
  height: 80%;
  background: rgba(15, 48, 97, 0.39);
  position: absolute;
  top: 10%;
  left: 20%;
}
.teleMetWrap .dataTable .customFrameStr {
  width: 100%;
  height: 100%;
  padding: 150px 20px 10px;
  position: relative;
  /* background: yellowgreen; */
}
.teleMetWrap .dataTable .customFrameStr .frame {
  width: 100%;
  height: 100%;
  /* padding: 50px 30px; */
  /* background: #00a3f1; */
}
.teleMetWrap .dataTable .customFrameStr .packge {
  width: 100%;
  height: 100%;
  /* padding: 50px 30px; */
  /* background: cadetblue;  */
}
.teleMetWrap .dataTable .tableWrap {
  width: 100%;
  height: 90%;
  overflow: auto;
}
/*滚动条 start*/
.teleMetWrap .dataTable .tableWrap::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
/*定义滚动条轨道 内阴影+圆角*/
.teleMetWrap .dataTable .tableWrap::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);   */
  background: rgb(9, 5, 24);
}
/*定义滑块 内阴影+圆角*/
.teleMetWrap .dataTable .tableWrap::-webkit-scrollbar-thumb {
  border-radius: 3px;
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);   */
  background-color: rgba(0, 227, 253);
}
.teleMetWrap .dataTable .sheetSelect {
  width: 100%;
  height: 100%;
  color: white !important;
  padding: 50px 30px;
  position: relative;
}
.teleMetWrap .dataTable .saveEdite {
  position: absolute;
  right: 230px;
  bottom: 10px;
}
.teleMetWrap .dataTable .exportFile {
  position: absolute;
  right: 120px;
  bottom: 10px;
}
.teleMetWrap .dataTable .createSourceCode {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.ant-menu-submenu-title {
  height: 34px !important;
  line-height: 34px !important;
}
.editable-row-operations a {
  margin-right: 8px;
  color: rgb(19, 160, 255);
}
</style>
