<template>
  <div class="teleConWrap" ref="container">
    <TopHead
      :title="title"
      :isShowTabBar="isShowTabBar"
      :showTabBar="showTabBar"
    ></TopHead>
    <div class="dataList">
      <div class="teleMetryOutline">
        <!-- 加载指令集 -->
        <a-button type="primary" @click="loadTeleControlOutline">
          加载指令集
        </a-button>
      </div>
      <!-- 遥控数据列表 -->
      <div>
        <a-menu
          style="width: 100%"
          :open-keys.sync="openKeys"
          mode="inline"
          theme="dark"
        >
          <!-- 遥控指令 -->
          <!-- <a-sub-menu key="sub1">
            <span slot="title"
              ><a-icon type="setting" /><span>遥控指令</span></span
            >
            <a-menu-item
              class="menuItem"
              v-for="item in orderList"
              :key="item.key"
              >{{ item.name }}</a-menu-item
            >
            <a-menu-item class="newOrder">
              <div>+新增指令</div>
            </a-menu-item>
          </a-sub-menu> -->
          <!-- 已选中指令 -->
          <a-sub-menu key="sub2">
            <span slot="title" class="menuTop"
              ><a-icon class="menuTitle" type="setting" /><span
                class="menuTitle"
                >已选中指令</span
              ></span
            >
            <a-menu-item
              class="menuItem"
              v-for="item in checkNameList"
              :key="item.index"
              >{{ item }}
              <a-popconfirm
                :title="'确定删除' + item + '指令吗？'"
                ok-text="是"
                cancel-text="否"
                @confirm="deleteCheckOrderItem(item)"
              >
                <a
                  href="#"
                  style="position: absolute; right: 2px; font-size: 16px"
                  ><a-icon type="delete"
                /></a>
              </a-popconfirm>
            </a-menu-item>
          </a-sub-menu>
          <a-sub-menu key="sub3">
            <span slot="title"
              ><a-icon type="setting" /><span>指令计划</span></span
            >
            <a-menu-item
              class="menuItem"
              v-for="item in orderPlanList"
              :key="item.index"
              >{{ item }}
              <a-popconfirm
                :title="'确定删除' + item + '计划吗？'"
                ok-text="是"
                cancel-text="否"
                @confirm="deletePlanItem(item)"
              >
                <a
                  href="#"
                  style="position: absolute; right: 2px; font-size: 16px"
                  ><a-icon type="delete"
                /></a>
              </a-popconfirm>
            </a-menu-item>
          </a-sub-menu>
        </a-menu>
      </div>
    </div>
    <div class="dataTable">
      <div class="createNewOrder">
        <a-button type="primary" ghost @click="insertEvent"
          ><a-icon type="plus" />新增</a-button
        >
      </div>
      <div v-if="showtable" class="tableWrap">
        <div style="height: 100%">
          <vxe-table
            border
            show-overflow
            align="center"
            ref="xTable"
            :data="data"
            :row-config="{ height: 40}"
            :edit-config="{ trigger: 'manual', mode: 'row' }"
          >
            <vxe-column
              v-for="item in columns"
              show-overflow
              :width="columnsWidth[item.title]"
              :scroll-y="{ enabled: false }"
              :key="item.dataIndex"
              :field="item.title"
              :title="item.title"
              :edit-render="{}"
            >
              <template #edit="{ row }">
                <vxe-input v-model="row[item.title]" type="text"></vxe-input>
              </template>
            </vxe-column>
            <vxe-column
              v-if="data.length"
              title="操作"
              width="14%"
              show-overflow
            >
              <template #default="{ row }">
                <MyBtn
                  title="编辑"
                  type="primary"
                  @click="editEvent(row)"
                ></MyBtn>
                <MyBtn
                  style="margin: 0 10px"
                  title="选中"
                  type="success"
                  @click="saveEvent(row)"
                ></MyBtn>
                <a-popconfirm
                  placement="topRight"
                  :title="'确认删除' + row.指令名称 + '吗?'"
                  ok-text="确认"
                  cancel-text="取消"
                  @confirm="removeEvent(row)"
                >
                  <MyBtn title="删除" type="delete"></MyBtn>
                </a-popconfirm>
              </template>
            </vxe-column>
          </vxe-table>
        </div>
      </div>
      <div
        style="
          width: 100%;
          position: absolute;
          bottom: 0;
          padding: 16px;
          display: flex;
          justify-content: space-between;
          align-items: center;
        "
      >
        <!-- 搜索框工具 -->
        <vxe-toolbar style="background: transparent">
          <template #buttons>
            <vxe-input
              clearable
              @clear="findList"
              v-model="filterName"
              type="search"
              placeholder="输入代号或名称"
              @keyup="searchEvent1"
            ></vxe-input>
          </template>
        </vxe-toolbar>
        <!-- 分页器 -->
        <vxe-pager
          background
          size="small"
          :current-page="tablePage.currentPage"
          :page-size="tablePage.pageSize"
          :total="tablePage.totalResult"
          :layouts="['PrevPage', 'JumpNumber', 'NextPage', 'FullJump', 'Total']"
          @page-change="handlePageChange3"
        >
        </vxe-pager>
        <div>
          <a-button type="primary" @click="createTeleConPlan">
            生成计划
          </a-button>
        </div>
      </div>
    </div>
    <FullScreen></FullScreen>
    <input style="display: none" type="file" ref="upload" accept=".xls,.xlsx" />
    <!-- <div v-if="insertEdit"> -->
    <a-modal
      v-model="insertEdit"
      title="新增遥控指令"
      destroyOnClose
      ok-text="确认"
      cancel-text="取消"
      @ok="submitNewForm"
    >
      <a-form-model
        ref="ruleForm"
        :rules="rules"
        :model="form"
        :label-col="labelCol"
        :wrapper-col="wrapperCol"
      >
        <a-form-model-item ref="orderCode" label="指令代号" prop="指令代号" has-feedback>
          <a-input v-model="form.指令代号" />
        </a-form-model-item>
        <a-form-model-item label="指令名称" prop="指令名称" has-feedback>
          <a-input v-model="form.指令名称" />
        </a-form-model-item>
        <a-form-model-item label="指令说明">
          <a-input v-model="form.指令说明" />
        </a-form-model-item>
        <a-form-model-item label="指令执行条件">
          <a-input v-model="form.指令执行条件" />
        </a-form-model-item>
        <a-form-model-item label="指令源码" prop="指令源码" has-feedback>
          <a-input v-model="form.指令源码" type="textarea" :rows="4"/>
        </a-form-model-item>
        <a-form-model-item label="指令类型" prop="指令类型">
          <a-radio-group v-model="form.指令类型">
            <a-radio value="直接指令"> 直接指令 </a-radio>
            <a-radio value="间接指令"> 间接指令 </a-radio>
          </a-radio-group>
        </a-form-model-item>
        <a-form-model-item label="执行判据">
          <a-input v-model="form.执行判据" />
        </a-form-model-item>
      </a-form-model>
    </a-modal>
    <!-- </div> -->
    <a-modal
      v-model="reNameTeleConPlan"
      title="新建遥控指令计划"
      ok-text="确认"
      cancel-text="取消"
      @ok="submitRename"
    >
      <span>请输入遥控计划名称：</span>
      <a-input style="width: 250px" v-model="currentPlanName" placeholder="内容不能包含特殊字符"></a-input>
      <a-divider></a-divider>
      <p>该遥控计划包含如下指令：</p>
      <span v-for="item in checkNameList" :key="item.index"
        >{{ item }}&nbsp;&nbsp;&nbsp;</span
      >
    </a-modal>
  </div>
</template>

<script>
import XLSX from "xlsx";
import XEUtils from "xe-utils";
import debounce from "lodash.debounce";
import TopHead from "@/components/layout/TopHead.vue";
import FullScreen from "@/components/layout/fullScreen.vue";
import MyBtn from "@/components/Btn/myBtn.vue";
import req from "@/network/index";

export default {
  name: "telecontrol",
  components: { TopHead, FullScreen, MyBtn },
  data() {
    let checkOrderCode = (rule, value, callback) => {
      if (!value) {
        callback(new Error('指令代号不能为空！'));
      } else {
        if (this.allOrderCode.indexOf(value) > -1) {
          callback(new Error('指令代号已存在，请修改'));
        }
        callback();
      }
    };
    return {
      title: "遥控管理",
      // 控制菜单栏的显示隐藏
      isShowTabBar: false,
      // 控制全屏按钮显示隐藏
      isFullScreen: false,
      // 遥控指令列表数据
      orderList: [
        { key: "outline-0", name: "帧结构" },
        { key: "outline-1", name: "遥测包" },
        { key: "outline-2", name: "遥测调度" },
      ],
      // 遥控指令集列表数据
      teleConOrderGroup: [
        { key: "dataTran-0", name: "遥控指令计划1" },
        // { key: "dataTran-1", name: "遥控指令计划2" },
        // { key: "dataTran-2", name: "遥控指令计划3" },
        // { key: "dataTran-3", name: "遥控指令计划4" },
        // { key: "dataTran-4", name: "遥控指令计划5" },
        // { key: "dataTran-5", name: "遥控指令计划6" },
        // { key: "dataTran-6", name: "遥控指令计划7" },
        // { key: "dataTran-7", name: "遥控指令计划8" },
        // { key: "dataTran-8", name: "遥控指令计划9" },
        // { key: "dataTran-9", name: "遥控指令计划10" },
        // { key: "dataTran-10", name: "遥控指令计划11" },
        // { key: "dataTran-11", name: "遥控指令计划12" },
        // { key: "dataTran-12", name: "遥控指令计划13" },
      ],
      current: ["mail"],
      // 打开折叠导航的索引
      openKeys: [],
      // 文件源数据
      E: null,
      files: null,
      // XLSX读取后的数据
      workdata: [],
      // XLSX转换的JSON数据
      tableContent: [],
      // 文件表头数据
      tableHeader: [],
      // 渲染用表头
      columns: [],
      // 渲染用数据
      data: [],
      // 所有的指令代号
      allOrderCode:[],
      showtable: true,
      // 分页器数据
      tablePage: {
        currentPage: 1,
        pageSize: 10,
        totalResult: 0,
      },
      columnsWidth: {
        指令代号: "7%",
        指令名称: "14%",
        指令说明: "7%",
        指令执行条件: "10%",
        指令源码: "32%",
        指令类型: "8%",
        执行判据: "8%",
      },
      filterName: "",
      // 已选择指令的名称集合
      checkNameList: [],
      // 表单是否可见
      insertEdit: false,
      // 表单提交的数据
      form: {
        指令代号: "",
        指令名称: "",
        指令说明: "",
        指令执行条件: "",
        指令源码: "",
        指令类型: "",
        执行判据: "",
      },
      labelCol: { span: 6 },
      wrapperCol: { span: 14 },
      rules: {
        指令代号:[{required: true, message: '请输入指令源码！', trigger: 'change' },{validator: checkOrderCode,trigger: 'change' }],
        指令名称:[{required: true, message: '请输入指令名称！', trigger: 'change' }],
        指令源码:[{required: true, message: '请输入指令源码！', trigger: 'change' }],
        指令类型:[{required: true, message: '请选择指令类型！', trigger: 'change' }]
      },
      // 生成的指令计划
      orderPlanList:[],
      // 计划重命名弹框可见
      reNameTeleConPlan:false,
      // 计划名
      currentPlanName:'',
      // 指令数据暂存器
      orderDataCache:{},
    };
  },
  props: ["closeTabBar", "tabBarOpending"],
  beforeMount() {
    // 全部表格数据
    if (sessionStorage.getItem("TeleConFileData")) {
      this.tableContent = JSON.parse(sessionStorage.getItem("TeleConFileData"));
    }
    // 表格列标题
    if (sessionStorage.getItem("TeleConFileHeader")) {
      let columns = JSON.parse(sessionStorage.getItem("TeleConFileHeader"));
      this.columns = columns.Sheet1;
    }
    // 全部指令代号
    if (sessionStorage.getItem("TeleConAllOrderCode")) {
      this.allOrderCode = JSON.parse(sessionStorage.getItem("TeleConAllOrderCode"));
    }
    // 生成的计划名称集合
    if (sessionStorage.getItem("TeleConPlanNameList")) {
      this.orderPlanList = JSON.parse(sessionStorage.getItem("TeleConPlanNameList"));
      this.openKeys.push("sub3");
    }
  },
  mounted() {
    // 如果菜单栏展开时，内容区左侧缩进
    if (this.$parent.tabBarOpending) {
      this.showTabBar();
    }
    //绑定监听表格导入事件
    this.$refs.upload.addEventListener("change", (e) => {
      this.readExcel(e);
    });
    this.findList();
  },
  methods: {
    // 计划命名提交
    submitRename(){
      let plandata = JSON.parse(JSON.stringify(this.orderDataCache))
      let currentname = this.currentPlanName.trim();
      let regular = new RegExp("[`~!@#$^&*()=|{}':;',\\[\\].<>《》/?~！@#￥……&*（）——|{}【】‘；：”“'。，、？ ]")
      let formatError = regular.test(currentname);
      let nameRepeat = this.orderPlanList.some(function (name) {
        return currentname === name;
      });
      if (currentname == "") {
        this.$message.warning("命名不能为空！");
        return;
      } else if(formatError){
        this.$message.error('命名不能包含特殊字符')
        return
      }else if (!nameRepeat) {
        this.orderPlanList.unshift(currentname);
        sessionStorage.setItem(currentname,JSON.stringify(plandata))
        this.checkNameList = []
        // setTimeout(()=>{
          this.orderDataCache = {}
        // },100)
        this.openKeys.push("sub3");
        sessionStorage.setItem('TeleConPlanNameList',JSON.stringify(this.orderPlanList))
        this.$message.success("多指令遥控计划已生成！");
      } else {
        this.$message.error("命名重复，请修改！");
        this.currentPlanName = "";
        return;
      }
      this.reNameTeleConPlan = false
    },
    // 提交表单数据
    submitNewForm() {
      this.$refs.ruleForm.validate(valid => {
        if (valid) {
          this.tableContent.unshift(this.form)
          this.insertEdit = false;
          this.findList()
          this.form = {指令代号: "",指令名称: "",指令说明: "",指令执行条件: "",指令源码: "",指令类型: "",执行判据: "",}
          sessionStorage.setItem("TeleConFileData",JSON.stringify(this.tableContent));
        } else {
          console.log('提交错误');
          return false;
        }
      });
    },
    // 新增指令按钮
    insertEvent() {
      this.insertEdit = true;
    },
    // 删除已选中指令
    deleteCheckOrderItem(item) {
      let currentIndex = this.checkNameList.indexOf(item);
      this.checkNameList.splice(currentIndex, 1);
      delete this.orderDataCache[item]
    },
    // 删除单条计划
    deletePlanItem(item){
      let currentIndex = this.orderPlanList.indexOf(item);
      this.orderPlanList.splice(currentIndex, 1);
      sessionStorage.setItem('TeleConPlanNameList',JSON.stringify(this.orderPlanList))
      sessionStorage.removeItem(item)
    },
    // 生成计划按钮
    createTeleConPlan() {
      if (this.checkNameList.length == 1) {
        let plandata = JSON.parse(JSON.stringify(this.orderDataCache))
        let currentCheckName = JSON.parse(JSON.stringify(this.checkNameList[0]))
        console.log(currentCheckName)
        this.orderPlanList.unshift(currentCheckName)
        // sessionStorage.setItem(currentCheckName,JSON.stringify(this.orderDataCache[currentCheckName]))
        sessionStorage.setItem(currentCheckName,JSON.stringify(plandata))
        this.openKeys.push('sub3')
        this.checkNameList = []
        // setTimeout(()=>{
          this.orderDataCache = {}
        // },100)
        sessionStorage.setItem('TeleConPlanNameList',JSON.stringify(this.orderPlanList))
        this.$message.success("单指令计划已生成");
      }else if(this.checkNameList.length > 1){
        this.reNameTeleConPlan = true
        // this.checkNameList = []
      } else {
        this.$message.warning("计划为空，请先选中指令。");
      }
    },
    // 指令集搜索（函数防抖）
    searchEvent1: debounce(function () {
      const filterName = XEUtils.toValueString(this.filterName).trim().toLowerCase();
      if (filterName) {
        // let searchConent = JSON.parse(JSON.stringify(this.tableContent))
        // const filterRE = new RegExp(filterName, "gi");
        const searchProps = ["指令代号", "指令名称"];
        const rest = this.tableContent.filter((item) =>
          searchProps.some(
            (key) =>
              XEUtils.toValueString(item[key])
                .toLowerCase()
                .indexOf(filterName) > -1
          )
        );
        let searchResult = rest.map((row) => {
          const item = Object.assign({}, row);
          return item;
        });
        this.tablePage.totalResult = searchResult.length;
        this.data = searchResult.slice(
          (this.tablePage.currentPage - 1) * this.tablePage.pageSize,
          this.tablePage.currentPage * this.tablePage.pageSize
        );
      } else {
        // this.data = this.tableContent;
        this.tablePage.currentPage = 1;
        this.findList();
      }
    }, 
    300),
    // 选中指令数据
    saveEvent(row) {
      if (this.checkNameList.indexOf(row.指令代号) == "-1") {
        this.checkNameList.push(row.指令代号);
        this.orderDataCache[row.指令代号] = row.指令源码
        // console.log(JSON.stringify(this.orderDataCache))
        // sessionStorage.setItem(row.指令代号, JSON.stringify(row));
        this.openKeys.push("sub2");
      } else {
        this.$message.warning("重复添加");
      }
    },
    // 编辑表格数据
    editEvent(row) {
      console.log(row);
      this.$refs.xTable.setActiveRow(row);
    },
    // 删除单条数据
    removeEvent(row) {
      let rowIndex = this.tableContent.indexOf(row);
      this.tableContent.splice(rowIndex, 1);
      this.findList();
      sessionStorage.setItem(
        "TeleConFileData",
        JSON.stringify(this.tableContent)
      );
    },
    // 分页器点击页数回调
    handlePageChange3({ currentPage, pageSize }) {
      this.tablePage.currentPage = currentPage;
      this.tablePage.pageSize = pageSize;
      this.findList();
      // console.log(currentPage)
      // console.log(pageSize)
    },
    // 计算页数
    findList() {
      this.tablePage.totalResult = this.tableContent.length;
      this.data = this.tableContent.slice(
        (this.tablePage.currentPage - 1) * this.tablePage.pageSize,
        this.tablePage.currentPage * this.tablePage.pageSize
      );
    },
    // 验证文件格式
    readExcel(e) {
      console.log(e)
      // this.className = [];
      this.E = e;
      this.files = e.target.files;
      var vali = /\.(xls|xlsx)$/;
      if (this.files.length <= 0) {
        //如果没有文件名
        return false;
      } else if (!vali.test(this.files[0].name.toLowerCase())) {
        this.$Message.error("上传格式不正确，请上传xls或者xlsx格式");
        return false;
      }
      // 上传遥控指令集
      this.uploadTelecontrolRecord(e)
    },
    uploadTelecontrolRecord(e){
      let that = this
      const resultFile = e.target.files; 
      const aBlob = new Blob([resultFile[0]]) 
      const reader = new FileReader();
      reader.readAsArrayBuffer(aBlob);
      reader.onload = function (aBlob) {
        const excelFile = aBlob.target.result;
        let formData = new FormData();
        formData.append(
          "multipartFile",
          new Blob([excelFile]),
          "TelecontrolRecord.xls"
        );
        req({
          method: "post",
          url: "/telecontrol/uploadTelecontrolRecord",
          data: formData,
          headers: {
            "Content-Type": "multipart/form-data",
          },
        }).then((res) => {
          console.log(res);
          if (res.data.code == "200") {
            console.log("指令集上传成功");
            that.getTableData(that.E, that.files);
          } else {
            this.$message.error("指令集上传失败");
          }
        });
      }
    },
    // 读取表格文件数据
    getTableData(e, files) {
      const fileReader = new FileReader();
      fileReader.onload = (e) => {
        try {
          const data = e.target.result;
          this.workdata = XLSX.read(data, {
            type: "binary",
          });
          // 获取表头
          this.tableHeader = this.getTableHeader(this.workdata);
          console.log(this.tableHeader);
          this.tranTableHeader();
          sessionStorage.setItem(
            "TeleConFileHeader",
            JSON.stringify(this.tableHeader)
          );
          // 取到第一个sheet页的行内容
          const wsname = this.workdata.SheetNames[0];
          const ws = XLSX.utils.sheet_to_json(this.workdata.Sheets[wsname]);
          this.tableContent = ws;
          this.data = this.tableContent;
          this.getAllOrderCode()
          this.findList();
          // 浏览器本地存储文件数据
          sessionStorage.setItem(
            "TeleConFileData",
            JSON.stringify(this.tableContent)
          );
          // 清空文件上传按钮内容
          this.$refs.upload.value = "";
        } catch (err) {
          console.log(err);
        }
      };
      fileReader.readAsBinaryString(files[0]);
    },
    // 获取所有指令代号
    getAllOrderCode(){
      this.tableContent.forEach((item)=>{
        this.allOrderCode.push(item.指令代号)
      })
      sessionStorage.setItem('TeleConAllOrderCode',JSON.stringify(this.allOrderCode))
    },
    // 表格列标题加工
    tranTableHeader() {
      console.log("标题数组变更");
      for (let item in this.tableHeader) {
        this.tableHeader[item].forEach((value, index, arr) => {
          arr[index] = {
            title: value,
            dataIndex: value,
          };
        });
      }
      this.columns = this.tableHeader[Object.keys(this.tableHeader)[0]];
      // this.openKeys.push('sub3')
    },
    // 获取列头信息
    getTableHeader(workbook) {
      let result = {};
      workbook.SheetNames.forEach(function (sheetName) {
        var roa = XLSX.utils.sheet_to_json(workbook.Sheets[sheetName], {
          header: 1,
        });
        if (roa.length) {
          result[sheetName] = roa[0];
        }
      });
      return result;
    },
    // 选择导入文件
    loadTeleControlOutline() {
      this.$refs.upload.click();
    },
    handleClick(e) {
      console.log("click", e);
    },
    titleClick(e) {
      console.log("titleClick", e);
    },
    showTabBar() {
      this.isShowTabBar = !this.isShowTabBar;
      this.$parent.$refs.tabBar.style.display = this.isShowTabBar
        ? "block"
        : "none";
      this.$refs.container.style.marginLeft = this.isShowTabBar ? "150px" : "0";
      if (this.isShowTabBar) {
        this.$parent.tabBarOpending = true;
      }
    },
  },
  watch: {
    closeTabBar: {
      handler: function () {
        this.showTabBar();
      },
    },
  },
  beforeDestroy() {
    this.isShowTabBar = false;
  },
};
</script>

<style>
.vxe-pager.size--small {
  background: transparent;
}
.vxe-input,
.type--search,
.is--controls,
.is--suffix {
  width: 230px;
}
::v-deep .vxe-button,
.type--button {
  padding: 0 2px;
}
::v-deep .vxe-button.type--button.theme--primary:not(.is--disabled) {
  padding: 0 2px;
}
.teleConWrap {
  /* width: 100%; */
  height: 100vh;
  color: white;
  /* background: #000; */
  background-image: url("~@/assets/img/teleMetry/background.png");
  background-size: 100% 100%;
  position: relative;
}
.teleConWrap .dataList {
  width: 16%;
  height: 80%;
  background-color: rgba(15, 48, 97, 0.5);
  position: absolute;
  top: 10%;
  left: 2%;
  overflow: auto;
}
.teleConWrap .dataList .teleMetryOutline {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.teleConWrap .dataList .menuTop {
  height: 34px !important;
  line-height: 34px !important;
  /* background-color: darkorange; */
}
.teleConWrap .dataList .menuTop .menuTitle {
  height: 34px !important;
  line-height: 34px !important;
  /* background-color: darkolivegreen; */
}
.teleConWrap .dataList .menuItem {
  width: 100%;
  height: 36px;
  position: relative;
  display: flex;
  align-items: center;
  line-height: 36px;
  font-size: 13px;
  margin: 0 !important;
}
.teleConWrap .dataList .menuItem:hover {
  background-color: rgb(24, 144, 255);
}
.teleConWrap .dataList .newOrder {
  color: yellowgreen;
  margin: auto !important;
  text-align: center;
  padding: 0 !important;
}
/*滚动条 start*/
.teleConWrap .dataList::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
/*定义滚动条轨道 内阴影+圆角*/
.teleConWrap .dataList::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);   */
  background: rgb(9, 5, 24);
}
/*定义滑块 内阴影+圆角*/
.teleConWrap .dataList::-webkit-scrollbar-thumb {
  border-radius: 3px;
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);   */
  background-color: rgba(0, 227, 253);
}

.teleConWrap .dataTable {
  width: 78%;
  height: 80%;
  /* width: 290px; */
  /* height: 860px; */
  background-color: rgba(15, 48, 97, 0.39);
  position: absolute;
  top: 10%;
  left: 20%;
}
.teleConWrap .createNewOrder {
  display: flex;
  justify-content: flex-end;
  margin: 5px 0;
}
.teleConWrap .dataTable .tableWrap {
  width: 100%;
  height: 90%;
  /* background-color: rgba(15, 48, 97, 0.39); */
  overflow: auto;
}
/*滚动条 start*/
/* .vxe-table--render-default .vxe-table--body-wrapper::-webkit-scrollbar { */
/* width: 4px; */
/* height: 4px; */
/* } */
/*定义滚动条轨道 内阴影+圆角*/
/* .vxe-table--render-default .vxe-table--body-wrapper::-webkit-scrollbar-track { */
/* background: rgb(9, 5, 24); */
/* } */
/*定义滑块 内阴影+圆角*/
/* .vxe-table--render-default .vxe-table--body-wrapper::-webkit-scrollbar-thumb { */
/* border-radius: 3px; */
/* background-color: rgba(0, 227, 253); */
/* } */
/*滚动条整体部分*/
.mytable-scrollbar ::-webkit-scrollbar {
  width: 6px;
  height: 20px;
}
/*滚动条的轨道*/
.mytable-scrollbar ::-webkit-scrollbar-track {
  background-color: rgb(9, 5, 24);
}
/*滚动条里面的小方块，能向上向下移动*/
.mytable-scrollbar ::-webkit-scrollbar-thumb {
  background-color: rgba(0, 227, 253);
  border-radius: 3px;
  /* border: 1px solid #0e12ff; */
  /* box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
}
.mytable-scrollbar ::-webkit-scrollbar-thumb:hover {
  background-color: #a8a8a8;
}
.mytable-scrollbar ::-webkit-scrollbar-thumb:active {
  background-color: #787878;
}
/*边角，即两个滚动条的交汇处*/
.mytable-scrollbar ::-webkit-scrollbar-corner {
  background-color: #ffffff;
}
/* 搜索匹配的关键子高亮 */
.keyword-lighten {
  color: rgb(37, 14, 248);
  background-color: #29ffdb;
}
</style>
